[2018-01-25 00:54] dbaq commented on #156
hello @singhiam

I am closing this issue since it has been a few weeks. You should follow that page: https://ionicframework.com/docs/native/sms/

If it is still not working, you should contact the ionic dev. They coded the wrapper, I have no access to that code.

[2018-01-25 00:54] #156 closed, assigned to nobody

[2018-01-25 00:55] dbaq commented on #154
Hey @wish4129,

This sounds fairly surprising. Is it happening only on a specific device?

[2018-01-25 00:57] dbaq commented on #148
Thanks @SpellChucker for pointing this out. Closing this issue since it managed by the ionic team. If you are experiencing this issue please open an issue on the ionic-native repo. Thanks

[2018-01-25 00:57] #148 closed, assigned to dbaq

[2018-01-25 00:58] dbaq commented on #138
Sorry I didn't see your answer. Yes, the emulators are quite old and don't always simulate the telephony feature. You need to test on real devices.

[2018-01-25 00:58] #138 closed, assigned to dbaq

[2018-01-25 00:58] dbaq commented on #145
Closing this one since no answer. Please open a new issue if you still encounter problems.

[2018-01-25 00:59] #145 closed, assigned to dbaq

[2018-01-25 00:59] dbaq commented on #128
Closing this one since no answer. Please open a new issue if you still encounter problems.

[2018-01-25 00:59] #128 closed, assigned to dbaq

[2018-01-25 01:00] dbaq commented on #122
`hasPermission` has been added to ionic-native: https://github.com/ionic-team/ionic-native/blob/995fd56894234c9cdb0f9e873822d12313aa6e88/src/%40ionic-native/plugins/sms/index.ts#L68-L77

[2018-01-25 01:00] #122 closed, assigned to dbaq

[2018-01-25 01:05] dbaq commented on #132
Yes, please loop over and call N times the `sms.send` function.

[2018-01-25 01:06] dbaq commented on #135
@lanceadvanced  have you figured this out?

[2018-01-25 01:07] dbaq commented on #136
Closing this one since no answer. Please open a new issue if you still encounter problems.

[2018-01-25 01:07] #136 closed, assigned to nobody

[2018-01-25 01:07] dbaq commented on #140
Closing this one since no answer. Please open a new issue if you still encounter problems.

[2018-01-25 01:07] #140 closed, assigned to dbaq

[2018-01-25 01:17] gotling commented on #132
@dbaq Just looping over is not enough as multiple async calls to the underlying send function will be done, and the end result of that is unreliable. Doing the calls in sync does work.

[2018-01-25 01:40] dbaq commented on #132
Ok I was thinking about another issue, I am reopening this. I will try to take a look soon.

[2018-01-25 13:42] rolinger commented on #14
Whats the status of the current effort?

1.  Add MMS multiple recipients to Android native and iOS native?
2.  Add MMS multiple recipients to cordova Android custom app composer?
3.  Add MMS file/image attachments to Android native and iOS native?
4.  Add MMS file/image attachments to cordova Android custom app composer?

I am not a java guy, but for attachments to native Android and iOS composers

[2018-01-25 17:25] agarrharr commented on #14
@rolinger I believe that there is currently no one working on this, but contributions are welcome. 😸

[2018-01-29 19:26] dbaq commented on #14
Yep, there is a branch with some dev on it.

iOS is pretty much straightforward (multiple recipients + attachments) because we are simply using their APIs.

On the other hand, Android is a pain to manage. A lot of different composers + intent vs no intent use case.

PRs are welcome if you would like to help.

[2018-01-30 16:01] muli-cohen commented on #157
@dbaq Thanks for your response. After the hasPermission it alerts that the message was sent successfuly but it doesn't send anything. As I mentioned before, this is on a Lenovo Tab2 A10-30 with android 6.0 installed (came stock with Lollipop). I works fine on a different device with android 7. Any idea?

[2018-02-01 13:43] acedigibits commented on #132
@gotling gave a good solution. Unfortunately those multiple instances in loop are too confusing and sometimes work erraneously.

Why cant multiple numbers work like for this plugin:

https://github.com/floatinghotpot/cordova-plugin-sms

This above plugin doesnt support iOS hence i am forced to use your plugin.

[2018-02-01 15:12] dbaq commented on #132
Hi @acedigibits,

You can contribute by opening a PR in the meantime, cheers.

[2018-02-04 04:59] aliabbas12 commented on #112
I know this is an old thread but in case if any body else wants to know this for future reference:

On IOS if you want to send the SMS to multiple people. you have to append the numbers with a comma at the end.

for instance: 12345,34567,23456 will not work. it only takes first 2 numbers
Solution: 12345,34567,23456,  <- this will work fine. as IOS then takes the full list.

Hope this will help any

[2018-02-07 12:48] ThorvaldAagaard opened #163 "Is Send implemented as a Promise?"
I am using the following code

[code]

and the message is sent witout any problems, but the then() is never executed

I am using Ionic

and the send method is declared as a Promise like this
[code]

but could it be an error in the Ionic wrapper?

[code]

[2018-02-07 16:13] dbaq commented on #163
hey @ThorvaldAagaard,

You are correct, that probably comes from the wrapper (you should open an issue on their repo) since the SMS is sent and we don't use Promise here.
Make sure you have the latest version of the wrapper and make sure you have the latest version of this plugin installed.

Cheers.

[2018-02-07 16:13] #163 closed, assigned to nobody

[2018-02-07 16:27] skmasinda commented on #163
I read your message about the sms Cordova plug-in. It more likely is an
ionic problem and is suspect your '''this.showMessage''' function.

On Feb 7, 2018 14:48, "Thorvald Aagaard" <notifications@github.com> wrote:

[2018-02-07 18:19] ThorvaldAagaard commented on #163
That was also my first thought, but I tested it with just a console.log statement
[code]
hard to make any errors in that statement

But I was thinking about calling the function directly without using the Ionic wrapper

[2018-02-08 08:12] skmasinda commented on #163
If you are trying to post a message saying "the sms was sent" try using the
toast controller. I think you are using ionic! That will help you better.
You may also try the alertcontroller too.

I am suggesting that because you can not run console.log() on your phone
and at the same time the browser can't run that Cordova plug-in. But if you
use those two controllers they will work on your device.

[2018-02-20 07:06] mc-sm opened #164 "Compiling cordova-sms-plugin triggers malware security alert from Avira"
When running "cordova run android" on my development pc, its Avira antivirus software displayed the following security alert along with the below compiler failure:

Avira's description of the malware is at https://www.avira.com/en/support-threats-summary-product/tid/8947/threat/Android.TrojanSMS.Agent.BVL.Gen.

A search turned up no instances of cordova-sms-plugin being associated with malware.

A

[2018-02-20 15:45] dbaq commented on #164
Hey @mc-sm, thanks for reporting this issue. Have you tried with another antivirus? The code is fully open source, you can see by yourself that there is no malware in this plugin

[2018-02-22 07:29] mc-sm commented on #164
Thanks @dbaq. I created exceptions for the following three files in Avira Antivirus:

1. Sms.dex
2. Sms_e47ad742.dex
3. Sms_eeed9533.dex

I'm now able to successfully build the app by running `cordova run android` at the CLI.

[2018-02-22 07:29] #164 closed, assigned to dbaq

[2018-02-22 12:16] ThorvaldAagaard commented on #163
Using ADB Plugin in chrome allows you to execute the app on a physical device, and still have all the logs going to the browsers javascript console, so I can see the promise is never resolved.

But anyway I have just dropped the idea of giving the user a confirmation message

[2018-02-22 22:15] mc-sm opened #165 "Plugin code obtained by running "cordova plugin add cordova-sms-plugin" omits some code contained on GitHub"
cordova-sms-plugin was installed by running `cordova plugin add cordova-sms-plugin` at the CLI. The recommended code listed at https://github.com/cordova-sms/cordova-sms-plugin#using-the-plugin was adopted. When subsequently testing the app, a syntax error displayed stating that: "TypeError: sms.requestPermission is not a function".

When reviewing the local copy of sms.js obtained from the plugin

[2018-02-26 20:41] hardikrawal23 commented on #159
Yes even I am getting the same error on Ionic v3. Following is the log from Xcode :

Main Thread Checker: UI API called on a background thread: -[UIAlertView initWithTitle:message:delegate:cancelButtonTitle:otherButtonTitles:]
PID: 36989, TID: 939602, Thread name: (none), Queue name: com.apple.root.default-qos, QoS: 21
Backtrace:
4   NariShakti App                      0x0000000103a75d4c __12-[Sms

[2018-03-02 01:42] jondspa commented on #14
Hi -

  I'm not a github/plugin expert but I managed to merge this plugin with plugin https://github.com/christyrajupaul/Phonegap-MMS-Plugin.  With this merge, I can send MMS from Android, no problem.  These files do not work with iOS.

I start with this great plugin, change two files, and I'm done.  I recently verified it works in Android 7 and 8 but of course, with Android permission changes, I

[2018-03-02 13:45] rolinger commented on #14
@jondspa  - for permissions, I use cordova-plugin-diagnostic - it has everything you need for both iOS and Android

Can you please post the link to the new merged plugin?  Maybe some one who knows Xcode can analyze what you have done for Android and create the iOS version.  This is closer than anyone else has gotten thus far.

[2018-03-02 15:33] jondspa commented on #14
Thanks, I'll look into cordova-plugin-diagnostic.

For iOS, I just use this version of the plugin, which works great!   https://github.com/cordova-sms/cordova-sms-plugin.git#WIP_MMS_support

For Android, I left off the new calling scheme.  Here's a snippet from my code:

        intent = 'INTENT';
        if (dataURL === "" || dataURL === null) {
            sms.send("", string, "", intent, succes

[2018-03-02 15:50] dbaq commented on #14
Thanks to the both of you. Before someone opens a PR, we should agree on the API. It should be consistent between iOS and android. I made some propositions in the past (see https://github.com/cordova-sms/cordova-sms-plugin/issues/14#issuecomment-107125352).

[2018-03-08 23:19] AramVave commented on #67
I have installed the plugin recently, but it still only accept 3 arguments.

[2018-03-08 23:20] AramVave commented on #14
I have installed the plugin recently, but it still only accept 3 arguments.

[2018-03-09 15:13] rolinger commented on #14
@AramVave - this plugin still is sms only.

@jondspa -  your above link simply points back to this same `cordova-sms-plugin` - which has no MMS capability.  You said you merged `Phonegap-MMS-Plugin` with this (`cordova-sms-plugin`) plugin to create a new plugin that allows MMS support for Android - is this correct?  If so, please post the link the to newly merged plugin so 1) others can use it for

[2018-03-09 15:27] dbaq commented on #14
@rolinger I believe the MMS feature should not be a fork, it should be included in this repo. It is a fairly popular request.

[2018-03-09 15:46] rolinger commented on #14
@dbaq - roger that.

[2018-03-21 20:43] I-Dont-Remember commented on #154
It's possible I know the answer @wish4129. After hours and hours of trying to find this issue, my partner and I found that to send a message we had to preface the number with `n`, so `n1234564444`, otherwise the app would crash.  Hopefully it's the same issue you ran into.

[2018-03-24 15:58] phyr0s opened #166 "Android vitals console"
Hi
I'm getting this error on android vital console any info of that?
Thanks!

java.lang.SecurityException:
  at android.os.Parcel.readException (Parcel.java:1599)
  at android.database.DatabaseUtils.readExceptionFromParcel (DatabaseUtils.java:188)
  at android.database.DatabaseUtils.readExceptionFromParcel (DatabaseUtils.java:140)
  at android.content.ContentProviderProxy.query (ContentProviderNat

[2018-03-30 14:58] Sam-Victor-S opened #167 "SMS is not working for Dual sim"
Hi,
I am not able to send the sms through the second SIM slot. Please share your idea to achieve this task. It's a urgent requirement.

[2018-03-31 01:13] AugusDogus commented on #14
@dbaq Are you working on the changes necessary for MMS to be included in this repo? Three years later is slightly demotivating.

I think some changes would be better than no changes and that if anyone has problems with the design of the API they can submit a PR in the future or open an issue.

[2018-04-01 19:14] dbaq commented on #14
hello @AugusDogus,

As I mentioned before, I have no time to work on new features (I only fix blocking issues). If you want to contribute, feel free to open a PR. To be consistent, the PR should contain a working solution for both iOS and android. Thank you.

[2018-04-27 21:12] mbhd90 commented on #167
You need to setup one sim as default SMS sender in the Android Settings

[2018-04-27 21:13] mbhd90 commented on #49
First you have to settup the default SMS sender SIM, if you choose "Always ask me" the plugin cannot send SMS

[2018-04-27 21:13] mbhd90 opened #168 "Can you update your plugin to support delete SMS?"

[2018-05-02 05:07] surajwasnik commented on #14
@jondspa  please provide the link of merge plugin, I use the plugin for IOS from the link  you mention above but there is not option to attached image so how MMS work ?

I request you @dbaq also please at least suggest me for IOS.

Million of thanks in advance.

[2018-05-02 17:57] dbaq commented on #168
Hello @mbhd90, this plugin is "send" only. We want to keep it simple. We won't support read/deletion for now. Thank you.

[2018-05-02 17:57] #168 closed, assigned to nobody

[2018-05-02 17:57] dbaq commented on #167
Please see #49. Thank you.

[2018-05-02 17:57] #167 closed, assigned to nobody

[2018-05-02 17:58] dbaq commented on #166
Can you reproduce it every time? do you have a concrete example that I could use to reproduce?

[2018-05-02 17:59] dbaq commented on #155
Closing this one due to no reply.

[2018-05-02 17:59] #155 closed, assigned to dbaq

[2018-05-03 12:02] prosenjit-itobuz commented on #159
I got the solution from here: https://stackoverflow.com/questions/38458170/ios-10-app-if-were-in-the-real-pre-commit-handler-we-cant-actually-add-any

[2018-05-07 10:29] prosenjit-manna commented on #159
Just uninstall the app from device and install!

[2018-05-09 10:49] prosenjit-manna commented on #159
Sometimes uninstall works, Sometimes not!

[2018-05-23 07:31] charliemitchell commented on #165
It looks like this commit
https://github.com/cordova-sms/cordova-sms-plugin/commit/30d48efd7d8ab5757a818547c418fa4014c5c0cf
is not in any release. Only on master. So if my assumptions are correct, the release will not actually work. Only master will.

[2018-05-23 09:47] rammere opened #169 "iOS after sending SMS through Native SMS app when close half of application screen is white"
When send SMS in iOS it goes to native sms app  then you send the SMS , however once I clicked on send ( in the native sms app ) it close the native sms app and goes back to my application with half of my app white screen . I think this is because when the native sms app close the keyboard and the sms message box place push the app up filling their place with white screen.
![whatsapp image 2018-05

[2018-05-25 20:06] 3cees opened #170 "requestPermission does not exist"
Hi,

since a few days, the App doesn't ask for the SMS permissions anymore. (android)
I deleted it and did fresh installs on my phone.
Before that, it asked on runtime for the permission. Now it doesn't.

`this.sms.hasPermission().then((has_permission) => {
      console.log(has_permission);`

returns a `false`.

My idea was, to ask explicit for the permission. In the docs, this function "requestP

[2018-06-08 05:43] Genaro-Coronel-Gtz commented on #147
I have the same issue, app crash on Android 8. In previous versions works fine.

[2018-06-14 14:42] TCookz commented on #170
Ran into the same problem.
fixed it by cloning the plugin directly from github
i.e.
$ cordova plugin rm cordova-sms-plugin --save
$ cordova plugin add https://github.com/cordova-sms/cordova-sms-plugin.git --save

/your_cordova_project/plugins/cordova-sms-plugin/www/sms.js should now contain the following
sms.requestPermission = function(success, failure) {
    // fire
    exec(
        success,

[2018-06-16 02:50] Shadowfita opened #172 "App crash when using sms.send without intent Android 8"
Hi,

when using sms.send with intent '' the app crashes but when used with 'INTENT' (where it opens the users sms app) it does not. This kind of defeats the purpose of my app. Does anyone have a work around?

Thanks!

[2018-06-18 15:53] dbaq commented on #172
hey @Shadowfita,

Can you please copy/paste the logcat logs (use `$ adb logcat`)? It will help us find the root cause of the crash.

Thank you.

[2018-06-18 15:54] dbaq commented on #170
Thanks @ThomasCokelaere for the solution, I need to check why the plugin is not up to date on npm.

[2018-07-13 05:58] samithaC commented on #172
Hi everyone,

i was using this plugin to read the SMS in my application. But i'm also facing this issues when its come andorid 8. this was working fine in the android. can't understand what is happening. i have added the error logs in bellow

07-13 11:18:11.266 21230-21292/lk.sampath.iwallet E/chromium: [ERROR:gl_context_virtual.cc(39)] Trying to make virtual context current without decoder.
07-13

[2018-07-13 05:59] samithaC commented on #172
Hi everyone,

i was using this plugin to read the SMS in my application. But i'm also facing this issues when its come andorid 8. this was working fine in the android. can't understand what is happening. i have added the error logs in bellow

07-13 11:18:11.266 21230-21292/lk.xxx.com E/chromium: [ERROR:gl_context_virtual.cc(39)] Trying to make virtual context current without decoder.
07-13 11:18:1

[2018-07-13 06:14] samithaC commented on #172
Hi everyone,

i was using this plugin to read the SMS in my application. But i'm also facing this issues when its come andorid 8. this was working fine in the android. can't understand what is happening. i have added the error logs in bellow

                                                                    Process: lk.xxx.com, PID: 21230

[2018-07-19 07:25] juristr commented on #170
Just had the very same issue. @dbaq did you have a chance looking into this? Maybe do a new release on npm? thx 🙏

[2018-07-19 07:28] dbaq commented on #170
I am on vacation until August 1st. I'll push a new npm version when I come
back. Thanks.

On Thu, Jul 19, 2018, 9:25 AM Juri Strumpflohner <notifications@github.com>
wrote:

[2018-07-23 13:10] r4mst3r opened #173 "phone number needs space formatting?"
Hi,

I am doing tests on my android. I am trying to send to number +61412345678

it will not send unless i put the formatting: +61 412 345 678, why is that? my options are android: { intent: '' }

I am on android 8 in my phone and using cordova-android 7

regards

[2018-07-27 00:24] syedehsans1 commented on #71
I have installed both sms-plugin and plugin-sms. I am still getting the same issue

[2018-07-27 13:21] cfjedimaster commented on #71
Which issue?

[2018-07-31 15:11] labstudios opened #174 "Not sending texts after last IOS update"
I had this plugin working - app was released, etc. Then a couple weeks ago there was an IOS update for iPhone 10 and the text feature no longer works. On these devices, the returning message is that the text was canceled (as though the user canceled sending the text), but there was never an option to send or not send; the text app never shows up.

Any suggestions on how this could be fixed would b

[2018-08-03 16:47] utleynicole commented on #174
I second this! It would be awesome to get a fix.

[2018-08-03 16:48] ghost commented on #174
I second this! It would be awesome to get a fix.

[2018-08-03 16:49] dbaq commented on #174
Just got back from vacation. Will try to have a look at that soon. In the meantime, please provide a simple example so I can reproduce the issue (with cordova version, ios version, etc.). Thank you.

[2018-08-06 19:44] #135 closed, assigned to dbaq

[2018-08-06 19:44] #154 closed, assigned to dbaq

[2018-08-06 19:48] dbaq commented on #165
I just published a new version on NPM. Thanks for reporting the issue.

[2018-08-06 19:48] #165 closed, assigned to nobody

[2018-08-06 19:49] dbaq commented on #170
I just published a new version on NPM.

[2018-08-06 19:49] #170 closed, assigned to dbaq

[2018-08-06 19:49] dbaq commented on #166
Closing the issue since no reply. Please feel free to reopen.

[2018-08-06 19:49] #166 closed, assigned to dbaq

[2018-08-06 19:51] dbaq commented on #172
Well, it looks like you have a permission issue `Permission Denial: reading`. Have you tried on other devices? It could be your default SMS app that causes the issue.

[2018-08-06 19:52] #17 closed, assigned to nobody

[2018-08-06 19:52] #74 closed, assigned to nobody

[2018-08-06 19:54] dbaq commented on #169
Looks like a duplicate of https://github.com/cordova-sms/cordova-sms-plugin/issues/22.

[2018-08-06 19:54] #169 closed, assigned to nobody

[2018-08-06 19:55] dbaq commented on #172
It looks like this issue is a duplicate of https://github.com/cordova-sms/cordova-sms-plugin/issues/147. If not, feel free to reopen it.

[2018-08-06 19:55] #172 closed, assigned to dbaq

[2018-08-06 19:56] dbaq commented on #157
I don't have a lenovo tablet, so it is really difficult for me to help you out. Can you check the logcat logs (`$ adb logcat`) and see if you have any errror?

[2018-08-06 20:00] dbaq commented on #173
hey @r4mst3r,

The formatting should not matter. Which messaging app do you have on your phone? Have you tried on other phones?

[2018-08-08 18:47] edoofx opened #176 "Cant Send Text With String + Number"
if i type "**A little bit message.**" plugin can send sms normally
but, when im using "**A little bit message. Model: ABCD EEE9987 Serial: 123456789**" this plugin not work

Cordova 8
Android 7

[2018-08-09 02:41] dbaq commented on #176
hello @edoofx,

This seems very strange. Can you please check the logcat logs via `$ adb logcat` for a stracktrace?

Thank you.

[2018-08-09 13:19] Pixy123 commented on #147
just tested on Android 8.0 and plugin 0.1.13 . It crash. Problem it's on permission READ_PHONE_STATE. You can ask confirm permission from plugin like already happens with permission SEND_SMS ?

[2018-08-09 23:25] dbaq commented on #147
I'd say that because it is a specific issue to android 8.0 only. It is not necessary for me to update the plugin to add extra methods. If you are facing this issue, you can request the `READ_PHONE_STATE` with a simple plugin like https://github.com/NeoLSN/cordova-plugin-android-permissions.

If the community wants me to add the READ_PHONE_STATE permission request in this plugin, please let me know

[2018-08-10 04:18] vegetablesalad commented on #147
Perhaps that could be the correct path, it doesn't look that google will push a update to fix this issue. But it should ask permission *only* for android 8.

[2018-08-14 17:33] labstudios commented on #174
My actual send code is pretty basic:

`            sms.send(this.phoneNumber,
                    sendMessage,
                    {
                        android: {
                            intent: 'INTENT'
                        }
                    },
                    this.smsSentSuccessfully.bind(this),
                    this.smsFailure.bind(this)
                );
`

The only oth

[2018-08-16 15:14] ghost commented on #174
The text feature works fine on Android and was working on ios until a recent update. Now it's seriously holding up the app :/ Any suggestions dbaq?

[2018-08-20 16:45] ukenpachi opened #177 "Read SMS"
Hi was just wondering if you can read SMS using this plugin? Basically, I will be sending SMS using this plugin or Twilio to another device but from the device which receives the SMS, I want to read it. Is it possible with this plugin?

[2018-08-20 17:24] dbaq commented on #177
hello @ukenpachi, this plugin is "send-only". But other Cordova plugins (more complex plugins) manage reading and sending messages.

[2018-08-20 17:24] #177 closed, assigned to nobody

[2018-08-20 17:26] dbaq commented on #174
Any xcode stacktrace? I have been swamped with work recently so it is difficult for me to find time to debug this issue. Any help is welcome.

[2018-08-24 16:56] labstudios commented on #174
So, here's the fun information: the phone we saw it fail on is not one I have constant access to. The usual iPhone I use for testing is an old iPhone 5 and it never had the option to update, so the text messaging worked. This morning, I was able to update the phone. After doing so, the text messaging broke, so it definitely has something to do with that update (11.4.1).  All that being said, there

[2018-08-27 13:28] hohae commented on #159
Any news on that topic? Any more ideas how to solve it?

[2018-08-29 03:35] MrDrProfX commented on #147
For me, I forgot to use INTENT (native android messaging, which is what I wanted).
From the [docs](https://github.com/cordova-sms/cordova-sms-plugin):

[code]

[2018-08-30 04:22] dbaq commented on #174
I looked for the root cause but no luck so far. Could this old issue be related: https://github.com/cordova-sms/cordova-sms-plugin/issues/94?

[2018-08-30 04:22] dbaq commented on #176
Closing this since no answer, please feel free to reopen it if needed.

[2018-08-30 04:22] #176 closed, assigned to nobody

[2018-08-30 04:23] dbaq commented on #173
Closing this as no answer, please feel free to reopen it.

[2018-08-30 04:23] #173 closed, assigned to dbaq

[2018-08-30 04:23] dbaq commented on #157
Closing this as no answer, please free to reopen it.

[2018-08-30 04:23] #157 closed, assigned to dbaq

[2018-08-30 04:32] dbaq commented on #159
hey @hohae, I can't find an explanation for that yet. I was not able to reproduce, I am trying to get another iphone to reproduce the issue. Can you make sure the phone number variable you send is a string? That's the only explanation I can find online.

[2018-08-30 16:34] labstudios commented on #174
Yikes! It totally was. I was double checking my variable to make sure it was a string (as suggested) only to find it was using an old variable that wasn't set anymore. I'm wondering if maybe it was a merge conflict fixed incorrectly. Sooooo sorry! It really seemed to spring up with the Apple update, but could have been coincidental to builds, merges, etc.

[2018-08-30 16:34] #174 closed, assigned to nobody

[2018-08-30 16:52] dbaq commented on #174
I am glad you found your issue. Feel free to open another issue if you need help with anything else.

[2018-09-01 12:04] allankiezel opened #178 "Trouble installing plugin"
I'm running `ionic cordova plugin add cordova-sms-plugin` but keep getting this output. Any suggestions?

 UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: npm: Command failed with exit code 1 Error output:
npm ERR! registry error parsing json
npm ERR! registry error parsing json
npm ERR! registry error parsing json
npm ERR! Unexpected token < in JSON at posi

[2018-09-06 15:02] dbaq commented on #178
hello @allankiezel, were you able to solve your problem?

[2018-09-20 11:45] hohae commented on #159
Hi Didier,

I had a chance to reproduce it sometimes with iOS 11.4.1 on my iPhone 7. Behaviour seems to be as follows:
Normally you get back a MessageComposeResultSent, when you put a SMS message into the queue. If you are fast enough to put another one into the queue before the toast flies in that the message could not be sent, you get a black screen in most cases. This lasts about 1 minute and t

[2018-09-22 14:20] codenoid opened #179 "send direct sms (without native sms app dialog)"

[2018-09-28 15:09] Pixy123 opened #180 "ios 12 error on sendSms"
Hi, I have created new app from zero. When I try to send sms on ios 12.0 (16A366)  emulator I receive "Message Failed: SMS Text not available".
I have try force sms text with this code but not resolve.
` sendSms: function() {
    	var number = "+393401234567";
        var message = "test";
        console.log(" prova invio sms a number=" + number + ", message= " + message);
        //CONFIGURATION

[2018-10-01 07:21] Pixy123 commented on #180
can it be the simulator's fault? I don't have hardware with ios 12

[2018-10-08 19:29] panchazo opened #181 "Any insights on how to handle the new Google Play SMS restriction?"
"Google Play restricts the use of high risk or sensitive permissions, including the SMS or Call Log permission groups. "
...
Source: https://support.google.com/googleplay/android-developer/answer/9047303?hl=es

[2018-10-14 14:33] alinebezzoco commented on #181
Hi @panchazo,

I had to fill out the Google Play Permissions Declaration Form so that Google will open the permission for my application. I still have not gotten an answer from them so I'm waiting.

Link: https://docs.google.com/forms/d/e/1FAIpQLSfbmF-9G249UDLJZpEvJpjgwP8rjvvLyWyNYnFPrsqYjMNckg/viewform

[2018-10-16 17:42] panchazo commented on #181
Thanks, I also submited that form for my app,  still didnt get any answer nor confirmation of the form submition...  we shall see what happens

[2018-10-17 09:50] hohae commented on #159
Hi,

according to our tests, this issue disappeared with iOS 12.0.1

Cheers,
Holger

[2018-10-29 16:58] fergalpowell opened #182 "Success and Error callbacks not being called consistently"
I am trying to use the cordova-sms-plugin with Cordova 8.1.1 on Android 7.1.1 however when messages are sent the callback function are occasionally called but most of the time they are not.

Is there a problem with my code below that I haven't noticed or is there an issue with this plugin for this version of cordova on this platform?

[code]
The checkSMSPermission and requestSMSPermission callback

[2018-10-29 17:39] dbaq commented on #180
sorry @Pixy123 for the delay, but yes, it is due to the simulator (see code: https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/ios/Sms.m#L11)

You need to test on real device.

[2018-10-29 17:39] #180 closed, assigned to nobody

[2018-10-29 17:40] dbaq commented on #181
Yes it is all about the form. This plugin requires only the `SEND_SMS` permission.

[2018-10-29 17:40] #181 closed, assigned to nobody

[2018-10-29 17:41] dbaq commented on #178
Closing this since no answer was provided. Feel free to reopen if the problem persists.

[2018-10-29 17:41] #178 closed, assigned to nobody

[2018-10-29 17:42] dbaq commented on #179
Please reopen this issue with more details.

[2018-10-29 17:42] #179 closed, assigned to nobody

[2018-10-29 17:45] dbaq commented on #159
Thanks for the update, I am closing this since iOS 12 adoption is already over 50%.

[2018-10-29 17:45] #159 closed, assigned to dbaq

[2018-10-29 17:49] dbaq commented on #182
It could be a race condition issue. You should chain the calls instead of doing two async calls at the same time.

[2018-10-30 14:17] fergalpowell commented on #182
Yes you are correct , it was a race condition issue. Made the following changes to my code to solve that issue.
[code]
The plugin is working perfectly for me. Thank you for your help!

[2018-10-30 14:20] dbaq commented on #182
Glad it works. On a more global note, when you work with cordova plugins, you should avoid multiple async calls, chaining is safer with cordova.

[2018-10-30 14:20] #182 closed, assigned to dbaq

[2018-11-02 09:08] mredbishop commented on #147
This now crashes on Android 7, 8 and 9 for us. Is there any more information on why this is happening?

Cheers,

Ed

[2018-11-02 10:40] vegetablesalad commented on #147
@mredbishop with the exact same error? I haven't noticed that this issue persists in other Android versions. I have moved away from sending sms from app, so I'v been out of the loop.

[2018-11-03 16:17] mredbishop commented on #147
@vegetablesalad Not 100% on Android 7 as that was reported by a third party but Android 8, 8.1 and 9  we tested and reproduced this. I forked the repository yesterday (Friday 2nd Nov) and fixed it by requesting the required READ_PHONE_STATE permission on top of the original SMS_SEND permission. It's all working for us now, and in fact we shipped an update to our product with it in yesterday and ou

[2018-11-05 07:24] vegetablesalad commented on #147
@mredbishop I hope you did that only for affected android versions.

[2018-11-05 15:54] dbaq commented on #147
@mredbishop do you mind opening a pull request? that would be really great. Thanks.

[2018-11-06 16:15] mredbishop commented on #147
@vegetablesalad that would be rather difficult as I don't know what versions of Android it affects other than the ones I've tested and had reports from. It happens on every version of Android we've tested here.

@dbaq I could, but as vegetablesalad points out this probably isn't required for all versions of Android so there is probably a more elegant solution to the problem. I would say for most p

[2018-11-16 21:42] crabbydavis opened #183 "Update for Google's Permission policy update"
"Only an app that has been selected as a user's default app for making calls or text messages will be able to access call logs and SMS, respectively....  SMS Intent enables you to initiate an SMS or MMS text message to share content or invitations."
If I'm understanding the documentation correctly, this plugin should no longer request for sms permissions but should create an ACTION_SEND Intent in

[2018-11-16 22:27] Tobiasartz commented on #183
Chiming in here. I read the announcement the same way
Here is more info about implementing the Intent:
https://developer.android.com/guide/components/intents-common#SendMessage

[2018-11-16 22:38] dbaq commented on #183
hello @crabbydavis,

Thanks for opening this issue. I agree that we have to do something about this. Do you have time to do some testing on your side?

After reading [this help page](https://support.google.com/googleplay/android-developer/answer/9047303?hl=en#intended&exceptions&invalid&alternatives&), this is what I understand:
- if sending a SMS is a core feature of your application, you need to

[2018-11-18 03:28] RikdeBoer commented on #183
I too got an email from Google saying that my apps currently in the Play Store must not require the SEND_SMS permission or else....

I think @dbaq is on the right track. I reckon the code is already pretty much doing what Google wants it  to do. It us just _unnecessarily_ insisting on the user having the SEND_SMS permission. It seems this is not required, when just opening the SMS dialog on the de

[2018-11-18 07:14] dbaq commented on #183
hey @RikdeBoer, thanks for your feedback.

Can you try that and let me know please?

About that:

I added this permission about 4years ago and I wrote in the commit message the following: `adding a new permission (READ_PHONE_STATE) in order to send multiparts messages from the current intent.`

[2018-11-18 10:05] RikdeBoer commented on #183
Thanks @dbaq

EDIT: made a mistake --the code I tested, didn't use this plugin, ignore comment below.

I've installed the above Sms.java and removed the SEND_SMS permission from the plugin.xml.
After recompilation, everything seems to still work like before.
I have tested this in the Emulator and also on an app .apk which I downloaded onto my Android 8.
Yay!
As far as I'm concerned I'd love to mak

[2018-11-18 17:21] dbaq commented on #147
Related to #183 somehow. Please read this one as well.

[2018-11-18 17:33] dbaq commented on #183
Did you also remove the `READ_PHONE_STATE` permission? I'd like to know if it is possible to remove both lines. (Also please read #147)

Android uses permission from manifest only below version 5.1.1, from [this page](https://developer.android.com/guide/topics/permissions/overview)

**Proposition:**

- Bump to next major version
- Remove the two `uses-permission` lines from the `plugin.xml`
- Edit

[2018-11-18 21:47] RikdeBoer commented on #183
Oops.... I've just realised that the app I was testing on just uses the "SMS:" protocol to activate the SMS native dialog. So it doesn't use this plugin. The plugin is used in another app of ours, which I'm currently not working on. So I can't really comment on whether the new version of the plugin works or not. Sorry, my bad. Have adjusted my comment above.

PS: you don't want to target anything

[2018-11-20 20:06] mredbishop commented on #183
My two cents, we've submitted our exemption form as we use SMS for automating the sending of invoices and similar documents. This appears to be covered in there list of exemptions, so we should be able to continue using the SMS_SEND permission and sending without the native SMS dialog. We'll see though :o)

![image](https://user-images.githubusercontent.com/1096293/48799719-cd4d2200-ecff-11e8-8c47

[2018-11-20 20:12] dbaq commented on #183
Good for you. It sure depends on your use of the SMS.

I am still looking for someone to do some testing: https://github.com/cordova-sms/cordova-sms-plugin/issues/183#issuecomment-439710504

[2018-11-25 09:35] amjadyahya commented on #183
@dbaq, I'm happy to test. Tell me how.

[2018-11-26 17:32] dbaq commented on #183
hey @amjadyahya, thanks for helping.

https://github.com/cordova-sms/cordova-sms-plugin/issues/183#issuecomment-439550764

Can you please remove the two permissions (`SEND_SMS` and `READ_PHONE_STATE `) from the `plugin.xml` file? make sure you can send SMS with ` intent: 'INTENT' `.

[2018-11-27 13:28] amjadyahya commented on #183
@dbaq, I have removed the two permissions (SEND_SMS and READ_PHONE_STATE ) from the plugin.xml, used intent: 'INTENT'.
It worked! but there is something that need to be addressed, Android is not behaving like iOS, sending the message on iOS or canceling it closes the messages app and returns the result (success or cancellation) back to our cordova app, but on Android it does not close the messages

[2018-11-27 19:49] taoh75 commented on #183
I did not eliminate the permissions, but I used the INTENT and we were able to send the SMS, however it should not be a long-term solution, in my case, there is no problem for the user to click on the send button. I imagine there will be some cases where we do not want that. Thanks for yours comments. Greetings from Venezuela.

[2018-11-29 19:37] beayres commented on #183
Received a similar message on an app my company has.  Curious if adding the ( android:required="false" ) to the plugin.xml file in conjunction with adding the option for "intent" will satisfy the Google Play Store or if the reference to "uses-permissions …" needs to be omitted all together to pass their new security guidelines.  I tested both on a device and sending a text still functions.

[2018-12-11 17:50] poooja2018 commented on #183
Hello,
 Thanks for opening this issue . Is the Google Play deadline Jan 9th for this change to be implemented in the apps ? Can someone please confirm if there is any plan to release this fix before that ?

Thanks!

[2018-12-14 20:40] tigrannajaryan commented on #183
@dbaq thank you for looking into this. Google requires that SEND_SMS sending permission to be removed by Jan 9. Do you have an ETA when you think a fix will be available? I am happy to help with testing.

[2018-12-14 20:46] dbaq commented on #183
hey @tigrannajaryan, thanks for your post.

- do you have a link where it says it is required by Jan 9?

- my proposition is still the same, would you like to open a PR?

![image](https://user-images.githubusercontent.com/1867703/50026547-3aba3e80-ff9e-11e8-8fb3-543b42666490.png)

[2018-12-14 20:49] tigrannajaryan commented on #183
Yes, please see https://support.google.com/googleplay/android-developer/answer/9047303
[code]

Do I understand it correct that you will accept a PR which fixes this? If yes then I can have a look into it although I have never touched cordova plugins before.

[2018-12-14 20:53] dbaq commented on #183
Thanks for the link. I am going to do it in the next hour, would love some testing right after.

[2018-12-14 20:54] tigrannajaryan commented on #183
Thank you. I am not sure I will be able to test it before Monday, but will see what I can do.

[2018-12-14 21:02] dbaq commented on #183
@Everyone It is fixed on master, please test by pulling the latest version of the plugin:

```cordova plugin add https://github.com/cordova-sms/cordova-sms-plugin.git```

I'll publish the new version to npm in a few days if everything is ok.

EDIT: To test:
- [ ] sending a SMS without an INTENT
- [ ] sending a SMS with an INTENT
- [ ] publishing an app on the play store without issue.

[2018-12-14 21:03] giladrom commented on #183
Thanks, testing now.

[2018-12-14 21:31] tigrannajaryan commented on #183
@dbaq I tested using latest `master`. It works as expected:
- The app no longer requires SEND_SMS permission on Android.
- Sending with an INTENT works correctly, the built-in Messages app is opened.

I did not test without an INTENT since I do not have a corresponding path in my app. Testing publishing in Play Store will take a bit more time.

[2018-12-15 03:49] extreg commented on #183
I am trying to do `cordova plugin add https://github.com/cordova-sms/cordova-sms-plugin.git` but its giving me with following error:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   'git+https://github.com/cordova-sms/cordova-sms-plugin.git',
1 verbose cli   '--production',
1 verbose cli   '

[2018-12-15 08:43] calvinckho commented on #183
@dbaq I have also tested using latest master. It is working for me. This seems to have solved the Google Permission Restriction by switching to using INTENT.

[2018-12-15 11:55] extreg commented on #183
never mind my  previous message about the error, all good now.

@dbaq I tested on android and works as expected. back button returns back to my app.

[2018-12-15 20:10] calvinckho commented on #183
I have also tested publishing it to the Play Store and the deployed app is working as expected.

[2018-12-15 20:20] dbaq commented on #183
Thanks everyone, I love when everyone is helping!

The new version has been published on NPM!
https://www.npmjs.com/package/cordova-sms-plugin
![image](https://user-images.githubusercontent.com/1867703/50047082-939fda80-0063-11e9-9b70-89d120cdb396.png)

Closing the issue now. Good luck to everyone with your apps! 🍻🍻

[2018-12-18 09:35] Marcoevich commented on #183
Hello all, thanks for your great work here. I've updated the plugin in our app yesterday and made the change to use INTENT. When we upload a new app to the Play Store, how long does it take for the notice to go away? Google Play still notifies us that we need to make this change to permissions.

[2018-12-18 16:58] dbaq commented on #183
hey @Marcoevich,

I am not sure how long it takes to go away but can you triple check your manifest.xml does not include the old permissions?

[2018-12-19 09:32] Marcoevich commented on #183
Hey @dbaq,

Hmm the manifest still contains the permissions send_sms and read_phone_state.

Will it work if I just remove them manually?

[2018-12-19 15:17] dbaq commented on #183
yes, you can safely remove them from the `Manifest.xml` file. I actually doubt that removing and adding the plugin will automatically clean that file for you.

[2018-12-19 15:46] Marcoevich commented on #183
Hmm I have removed the permissions from the AndroidManifest.xml file but they keep getting added again.

I have made sure the plugin is the correct version. Maybe the issue is with how we build the SMS? Here's the code I'm using for it:

        function sendSMS() {
            var promises = [getNumbers(), getUser(), getPosition()];
            $q.all(promises).then(function (values) {

[2018-12-19 16:14] dbaq commented on #183
It is not in the code, it is in the configuration files. Make sure you deleted the plugin correctly and when you add it, make sure the plugin.xml does not contain the old permissions.

[2018-12-19 16:42] amjadyahya commented on #183
@dbaq, thanks for your effort, have you taken a look at https://github.com/cordova-sms/cordova-sms-plugin/issues/183#issuecomment-442057910?

[2018-12-19 17:37] dbaq commented on #183
@amjadyahya please read https://github.com/cordova-sms/cordova-sms-plugin/issues/26, if it is not enough, please open another issue. It is not related to this one.

[2018-12-19 17:43] amjadyahya commented on #183
@dbaq, Ah, I see. Thanks.

[2018-12-19 17:47] Marcoevich commented on #183
@dbaq it's not in the plugin.xml, but the permissions kept getting readded. I've now used [this](https://stackoverflow.com/questions/25056149/cordova-adds-unwanted-permission-to-androidmanifest-xml-when-building-from-cli/42182147#42182147) to make them go away at the cordova after_prepare hook.

For anyone else reading this: Be sure to use the correct location for the AndroidManifest.xml: `platfor

[2018-12-21 06:51] Kevin-Hamilton commented on #26
@dbaq is [this](https://stackoverflow.com/questions/26090381/sending-sms-via-an-intent-and-know-if-the-sms-has-been-sent-or-not) a possible solution?

[2018-12-21 16:15] dbaq commented on #26
That's interesting, definitely seems complex but would deserve some digging.

[2019-01-05 13:53] MirekV commented on #183
I did all steps above (remove old cordova-sms-plugin, remove the permissions from AndroidManifest.xml, add new cordova-sms-plugin) but if I build or release my application there are still
the permissions in AndroidManifest.xml.
When I removed 2 lines of permissions from platforms/android/android.json then there are no permissions in AndroidManifest.xml anymore.
`{
    "xml": "<uses-permission andr

[2019-01-06 03:35] extreg commented on #183
I followed the steps. Confirmed nothing is showing on manifest file. Uploaded to play store, and got that same email a few days ago.

I’m not sure what to do. But something tells me this is just a warning email and not representative of what the app manifest resembles. Because there is nothing about sms in the manifest.

Sent from my iPhone

On 5 Jan 2019, at 21:53, MirekV <notifications@github.co

[2019-01-06 08:33] giladrom commented on #183
The warning goes away once your updated apk goes live.

Also, these permissions might be a result of another plugin. Check all of your plugin.xml files.

[2019-01-06 09:31] MirekV commented on #183
The warning message disappeared in Google Play console today.

[2019-01-07 03:05] extreg commented on #183
Where was the warning message on the google play console? I tried looking the other time I didn’t find it. Maybe I missed it.

Sent from my iPhone

On 6 Jan 2019, at 17:31, MirekV <notifications@github.com<mailto:notifications@github.com>> wrote:

I did all steps above (remove old cordova-sms-plugin, remove the permissions from AndroidManifest.xml, add new cordova-sms-plugin) but if I build or rel

[2019-01-09 20:24] rolinger commented on #183
dealing with the same stuff.  I just upgraded the plugin and the SEND_SMS permission is now removed from my project:

However, @MirekV above, stated he removed both SEND_SMS and READ_PHONE_STATE....is read_phone_state required for this new google policy too?  I didn't see that in my email.

[2019-01-21 11:02] pwqw opened #185 "Android request permission is not appearing"
I just could not request permission to send sms.
Using the [plugin-android-permissions](https://github.com/NeoLSN/cordova-plugin-android-permissions) either.
Then I could not send.

Android@6.0.1
cordova-android@6.4.0 and @7.1.0
cordova@8.1.2

[2019-01-21 16:08] dbaq commented on #185
see my comment on your PR #186

[2019-01-21 16:08] #185 closed, assigned to nobody

[2019-01-21 16:08] dbaq commented on #183
I am only reopening this issue so it can be easily accessible by other devs.

[2019-01-21 19:11] pwqw commented on #183
Well, even using the latest version of cordova-android and manually targeting to the API 28 of the Android SDK (API 27 by default), it still does not work.
Of course I make sure to clean the platform directory:
[code]

So, for me, the `<uses-permission android:name="android.permission.SEND_SMS" />` in the plugin.xml was necessary.

[2019-01-23 13:29] umairrafiq1133 commented on #26
@dbaq Any update on callback for android?

[2019-01-23 15:57] dbaq commented on #26
@umairrafiq1133 nothing on the android front.

[2019-02-04 21:07] lhughes33472 opened #187 "text msg is not sent but displayed in android native text app as a draft"
Text msg is never sent and appears in the native android  text  app, thus requiring it to be sent from the native app. How can the msg be sent bypassing the native app?

Thanks,
Larry

[2019-02-06 15:52] Diptyajit1994 opened #188 "Android intent not working"
Hi whenever i set android **intent :''**  the application closes it self.
Code :
[code]

[2019-02-06 16:25] dbaq commented on #188
Hi there,

can you please check your logcat logs please? (via `$ adb logcat`). You should see the stack trace.

[2019-02-09 20:11] matusiam34 commented on #71
I am getting the same thing. I have spent the entire day today trying to send a text message and it is driving me nuts plus I am questioning my sanity at this point :)

[2019-02-13 00:11] JeffBerman opened #189 "sms.requestPermission always calls error handler"
Hi, our Cordova app has always used the cordova-sms-plugin and it has worked great (thank you).  Due to the Google policy change we have updated our app to have the latest version of the plugin, but we can't get it to work on Android devices.

We do specify `intent: 'INTENT'` in the options object, and we copied in the sample code with the checkSMSPermission() and requestSMSPermission() functions.

[2019-02-13 21:11] dbaq commented on #189
Hey Jeff,

Thanks for reaching out.

The permission is only required if you sent the SMS with `intent:''`. If you use `intent: 'INTENT'`, you don't need to request or check the permission.

Have you checked logcat? `adb logcat`? Also make sure the permission are not in the manifest XML file.

[2019-02-13 23:16] JeffBerman commented on #189
Awesome, thanks for replying, Didier. I haven't checked logcat. I honestly don't know much about how Android works and am still trying to figure it all out.

After I posted my question I rewrote our code to just directly call sms.send(), and that did work. It brought up the native Android message app with the number and message pre-filled.

Our next struggle is getting the new app approved by the

[2019-02-14 00:19] dbaq commented on #189
Hey Jeff,

Glad you figured it out. Make sure the permission are not in the `platforms/android/AndroidManifest.xml` file or in `platforms/android/android.json`.

I'd recommend you to do a search across all your files to look for the permission name `SEND_SMS` or `READ_PHONE_STATE`. You should have none before submitting your app for review.

Let me know when you figure it out.

[2019-02-14 23:29] JeffBerman commented on #189
Hey Didier,

Thanks for the advice! I cleaned the project and then did a build, and verified that READ_PHONE_STATE and SEND_SMS don't appear anywhere in the project. Well, SEND_SMS appears a few times, but only in the actual plugin code and build artifacts.

I uploaded the new APK to Google Play, and it keeps bringing up the "Permissions Declaration Form", as if there is a SEND_SMS permission stil

[2019-02-14 23:32] dbaq commented on #189
Yop,

Which build artifacts are you referring to?

Not really, sorry. Post the same message on this issue: #183. Maybe someone else had the same issue.

[2019-02-14 23:49] JeffBerman commented on #189
- `platforms\android\app\build\intermediates\javac\release\compileReleaseJavaWithJavac\classes\com\cordova\plugins\sms\Sms.class`
- `platforms\android\app\build\intermediates\transforms\dexBuilder\release\18\com\cordova\plugins\sms\Sms.dex`
- `platforms\android\app\build\intermediates\transforms\dexMerger\release\0\classes.dex`
- `platforms\android\app\src\main\java\com\cordova\plugins\sms\Sms.jav

[2019-02-15 00:04] dbaq commented on #189
Yep they are benign, just wanted to double check. Please cross post your problem on the other thread and hopefully, someone will be able to help you out.

[2019-02-15 00:21] JeffBerman commented on #183
Hi, I was wondering if anyone is having trouble getting their app approved by Google after updating to the new SMS plugin? I updated our app to use the new plugin and verified that SEND_SMS and READ_PHONE_STATE don't exist in AndroidManifest.xml and android.json. However, when adding the APK to a release the Permissions Declaration Form keeps appearing as though SEND_SMS was still specified. Also,

[2019-02-15 00:30] giladrom commented on #183
It took a day or two for the warning to go away after I updated my APK. There was also one other plugin that requested these permissions for me, so double check.

[2019-02-15 06:12] Diptyajit1994 commented on #188
Hi @dbaq i was able to send sms with android 5 devices internally with "android: { intent: ''  }" but when it comes to android 6+ i am always getting the error.
`var **error** = function (e) { alert('Message Failed:' + e); };
            sms.send(number, message, options, success, **error**);`

[2019-02-15 12:49] rolinger commented on #183
@JeffBerman - also check that you don't have a legacy Alpha or Beta app lingering in the other sections.  I too had the same issue above and it wasn't my new app I was submitting that was the problem, it was one of the old ones I still had in the Beta Channel but was no longer using.

ALL listed versions in Alpha, Beta and Production must be compliant or you will get the error.

Removing an Alpha

[2019-02-15 16:16] dbaq commented on #188
hey @Diptyajit1994,

Have you asked for the permission? I am talking about `checkSMSPermission`, `requestSMSPermission`.

[2019-02-15 17:31] JeffBerman commented on #183
@rolinger - Thanks! That's exactly what I ended up doing yesterday. So now, the Internal test track has the newest APK, and the Alpha and Beta tracks have been promoted to production. And Production has the latest APK too, of course.

But it has been 15 hours or so and on the Dashboard page in the Google Play Console (not Release management -> Release dashboard, but the top-level Dashboard) it sti

[2019-02-15 19:17] Diptyajit1994 commented on #188
Hi @dbaq  yes i did asked for the permission  but the issue is it is getting false all the time as i have removed the uses-permission android:name="android.permission.SEND_SMS"  from AndroidManifest.xml file

I am building the application in developer mode with cordova run android in my mobile device for testing and when i check my application in android 6+ devices it giving me the error while sen

[2019-02-15 22:09] rolinger commented on #183
Well...as it says `Google Play. Note: if you have recently made a change, it can take up to 12 hours to update this message.` - so wait a bit longer and see if it goes away.  If you are able to submit the app successfully then you are good to go.   If that error is preventing you from making a new Production version live, then you will prob need to contact Google directly for additional support be

[2019-02-22 02:00] imjeffparedes commented on #187
Android Version 8.1
PhoneGap 0.4.5
Cordova Version 8.0.0

This is my problem too.
The plugin said the sms is sent via SMS.sendSMS
But checking on the native app, it is not and has to manually resend it.

[2019-02-22 22:45] dbaq commented on #187
Hi guys,

Any stacktrace in logcat? `$ adb logcat`

[2019-02-22 22:53] dbaq commented on #188
What android target (API level) are you using for the build? You might need the permission in the SENS_SMS permission in the plugin.xml file.

[2019-02-22 22:54] dbaq commented on #189
hey @JeffBerman, any updates?

[2019-02-26 22:27] JeffBerman commented on #183
Looks like it just needed some time after loading every slot with the latest APK. The non-compliance warning message has gone away and stayed away for a few days now.

Thanks!

[2019-02-26 22:37] JeffBerman commented on #189
Hey @dbaq, thanks for following up. Sorry for not getting back to you sooner, I was out of town.

Yes, it looks like after loading every app release slot with the latest APK, it took over a day for the Google warning message to go away. It has been several days now and the warning message has not reappeared, so I think we're good.

Thanks again for your help!

[2019-02-26 22:40] dbaq commented on #189
No worries, I am glad you figured out your problem.

Happy coding!

[2019-02-26 22:40] #189 closed, assigned to dbaq

[2019-02-27 04:21] FrancisTse8 opened #190 "app crashes with version 1.0.0 during sms send"
I've been successful in using the cordova-sms-plugin 0.1.13  in an earlier Ionic 3 app - bleNav. In a new Ionic app, rButton, when I installed the cordova-sms-plugin, I got a version 1.0.0. For some reason, the new app crashes when i ran the same line of code
`this.sms.send(this.phoneNumber, 'This is a test.')`

Both of these apps were created as Ionic 3 apps. I was running the apps on a Samsung G

[2019-02-27 06:10] krishnarout commented on #188
hi, can you please tell me how u have sent msg in ionic4 by using cordova sms plugin please m struggling for last 15days? I am not using android permission plugin only using sms plugin and here is my code:
  sendSMSfunction(){
    var options = {
      replaceLineBreaks: false,
      android: {
        intent: 'INTENT'
      }
  }
  this.sms.send('+918249921275', 'Hello world!', options);
}
please

[2019-02-27 06:18] krishnarout commented on #188
hi, could you please tell me how u send messages ?I am using ionic 4  and installed only cordova sms plugin not using android permission plugin .here is my code snippet :
  sendSMSfunction(){
    var options = {
      replaceLineBreaks: false,
      android: {
        intent: 'INTENT'
      }
  }
  this.sms.send('+918249921275', 'Hello world!', options);
}
please tell me how to send sms in ionic4

[2019-02-27 08:20] Diptyajit1994 commented on #188
@krishnarout  Try this..
`sendSMSfunction() {
        var success = function (hasPermission) {
            if (hasPermission) {
                var number = document.getElementById('numberTxt').value.toString();
                var message = document.getElementById('messageTxt').value;
        console.log("number=" + number + ", message= " + message);

        //CONFIGURATION
        var options =

[2019-02-27 08:37] krishnarout commented on #188
Hi,
     Thanks for your reply .Trying and let u know.

On Wed 27 Feb, 2019, 1:50 PM Diptyajit Mitra, <notifications@github.com>
wrote:

[2019-02-27 17:09] krishnarout commented on #155
hi, please tell  me how to send sms with intent:" " ,If  I am using  intent:" " then its showing me this error: **Unhandled** Promise rejection: User has denied permission ; Zone: <root> ; Task: null ; Value: User has denied permission undefined** please please tell me how to solve this error and able to send sms without opening the default messaging app please. I am checking with android 7.0 vers

[2019-02-27 17:11] krishnarout commented on #155
I am using ionic version 4  with "cordova-android":7.1.1
please tell me the solution I am trying this one for few days its important for me please reply me

[2019-02-27 17:40] krishnarout opened #191 "Unhandled Promise rejection: User has denied permission ; Zone: <root> ; Task: null ; Value: User has denied permission undefined"
I am using ionic 4. while I am clicking on send button I am getting this error :"Unhandled Promise rejection: User has denied permission ; Zone: <root> ; Task: null ; Value: User has denied permission undefined"
here is code snippet:
 sendSms(){

this.sms.send('+91xxxxxx', 'Hello world!');
  }
I am using only cordova-sms-plugin  not using android permission plugin .please suggest me how to solve t

[2019-02-28 04:25] krishnarout commented on #188
hi,
     I have tried this method still no result.please tell me how to send
sms.

thanks
krishna

On Wed, Feb 27, 2019 at 2:07 PM krishna rout <rkrishnakumarirout@gmail.com>
wrote:

[2019-02-28 04:32] krishnarout commented on #190
could you please tell me your cordov-android version?

[2019-02-28 05:35] Diptyajit1994 commented on #188
@krishnarout  can u share your code.

[2019-02-28 05:43] krishnarout commented on #188
Sure

On Thu 28 Feb, 2019, 11:06 AM Diptyajit Mitra, <notifications@github.com>
wrote:

[2019-02-28 05:43] krishnarout commented on #188
On Thu, Feb 28, 2019 at 11:13 AM krishna rout <rkrishnakumarirout@gmail.com>
wrote:

[2019-02-28 05:44] krishnarout commented on #188
On Thu, Feb 28, 2019 at 11:13 AM krishna rout <rkrishnakumarirout@gmail.com>
wrote:

[2019-02-28 05:44] krishnarout commented on #188
please check once please.

On Thu, Feb 28, 2019 at 11:13 AM krishna rout <rkrishnakumarirout@gmail.com>
wrote:

[2019-02-28 05:52] Diptyajit1994 commented on #188
@krishnarout  share your current set of code that u are using in your cordova application  in a separate post. It will be more helpful.

[2019-02-28 06:05] krishnarout commented on #188
same code only m using.

On Thu, Feb 28, 2019 at 11:22 AM Diptyajit Mitra <notifications@github.com>
wrote:

[2019-02-28 06:12] krishnarout commented on #191
here is my code snippet:

home.ts:
import { Component } from '@angular/core';
import { SMS } from '@ionic-native/sms/ngx';

@Component({
  selector: 'app-home',
  templateUrl: 'home.page.html',
  styleUrls: ['home.page.scss'],
})
export class HomePage {
  app:any
  constructor(private sms: SMS) { }

  sendSMSfunction(){
    var options = {
      replaceLineBreaks: false,
      android: {
        i

[2019-02-28 16:20] dbaq commented on #191
Closing because you asked same question in another issue.

[2019-02-28 16:20] #191 closed, assigned to nobody

[2019-02-28 16:23] FrancisTse8 commented on #190
I did the following:
`>cordova platform version android`

and I got
[code]

Looks like it is version 7.1.4.

[2019-02-28 16:23] dbaq commented on #190
@FrancisTse8 when you install a npm package you can add `cordova-sms-plugin@0.1.13` to force the version.

Can you check your logcat logs please, you should see an exception there (`$ adb logcat`).

[2019-02-28 16:26] FrancisTse8 commented on #190
BTW, on the older app that sms-plugin did not crash, when I did the same thing, I got the following:
[code]

[2019-02-28 17:05] FrancisTse8 commented on #190
I ran the app again and captured the logcat when it crashed. There were quite a few "exception" found. One was a FATAL EXCEPTION:
[code]
So, the crash is due to a permission not set? I do not remember setting permission on the old app or maybe I did and forgot how to do it. Can you please help?

[2019-02-28 17:10] dbaq commented on #190
Yep, looks like it. Are you using a third party app (INTENT) to send a text or directly send a text?

[2019-02-28 17:18] FrancisTse8 commented on #190
Looking at the sms-plugin github, I see some discussion and sample code for sms permission. Will add the check for permission code to my app shortly. Will report back what I've found out. Thanks!

[2019-02-28 17:19] FrancisTse8 commented on #190
I am directly sending the text.

[2019-02-28 17:21] dbaq commented on #190
Yes, don't forget also to request that permission in your code. Let me know if it works. Please read that issue: https://github.com/cordova-sms/cordova-sms-plugin/issues/183

[2019-02-28 20:58] FrancisTse8 commented on #190
I am using the sms-plugin as an Ionic Native. Looks like sms.hasPermission() is exposed but sms.requestPermission() is not exposed in the Ionic Native implementation. I do not know how to call the plugin functions if they are not available from Ionic Native. Any pointers?

[2019-03-06 20:34] FrancisTse8 commented on #190
Although I don't know how to add the sms.requestPermission() function, I'd thought I just run the following code to confirm that I do not have the needed permission. It turned out the when I ran the following code on the Galaxy S4, console.log showed that I do have permission. But the app still crashed. Crash, by looking at the logcat, was again confirmed to be due to permission issue as seen `bef

[2019-03-07 09:26] demobiel opened #192 "Plugin should use CordovaInterface.getThreadPool()."
When I try to run sms.requestPermission() I got immediately the error callback. I am never asked if I would allow to send SMS or not.

I run the following code:
[code]
And so I get an alert "about to ask permission", and immediately "[Warn] Permission not accepted".

I followed all the tips on this issue: https://github.com/cordova-sms/cordova-sms-plugin/issues/189,
but no success.

When I inspect

[2019-03-07 13:41] dbaq commented on #192
hey @demobiel,

Thanks for reporting the issue. Feel free to contribute, it should be fairly easy to implement.

[2019-03-07 14:06] demobiel commented on #192
Hi dbaq,

I think I actually reported 2 issues:
first: sms.requestPermission(success, error) always calls error in my case

because of that I looked into the log and saw this error, but apparently it is only a warning.

I think I can solve the second one, and I am willing to contribute, however I have no idea why this falls down each time to error.

Adding the intent into the manifest works, but o

[2019-03-11 08:16] demobiel opened #193 "SMS does not appear in messaging app, but it is sent"
Hi

We have a very small tool that actually listens to PusherJS, and on any incoming message tries to send a sms.
If we send sms in bulk, which means many requests arrive via PusherJS, we are able to send the sms's and we get a success callback from the plugin, but not all messages are visible in the messaging app. So we are sending probably messages in parallel, and maybe the messaging app does n

[2019-03-11 10:10] demobiel commented on #193
update: it actually only occurs when we try to send multipart messages (so the content is longer and does not fit into one message). I see in SMS.java that in that case a different way of sending is used, and i have the feeling that it takes much longer to send the message. It is even so that the messaging app blocks at that moment.

I think the problem is not with the plugin, but with the default

[2019-03-12 11:52] vvpolyakov commented on #192
I tried all possible versions of SDK and Phonegap versions, as well as different phones, and constantly get an error  "_User has denied permission_"
This error returns both  _sms.requestPermission()_ and _sms.send()_
Plugin version 1.0.0
I'm testing mostly on Android 7.0
Compile through Phonegap Build service
Can anyone have a working example?

[2019-03-15 12:38] Eugenizer commented on #14
hello @dbaq
This branch - https://github.com/Agent00krosh/cordova-sms-plugin resolve this issue. Can you check it and merge if everything is good?

[2019-03-15 15:07] dbaq commented on #14
hey @Eugenizer,

thanks for pointing this branch out. It looks like the android code is not ready yet:
Some values are hardcoded:

[code]

[2019-03-18 15:46] IgorYanchuk commented on #14
hello @dbaq
thanks for the comment for Eugenizer, I fixed the code

[2019-03-20 03:30] AbrahamGarcia240 opened #195 "SMS cordova plugin INTENT is not working Ionic Native"
Hello everyone

I am using Ionic 4 to build an app that is meant to send an emergency SMS, therefore I need it to be sent programatically without entering into the native SMS app.

Im using the following code:

[code]

Nevertheless I get this error in my logcat

`2019-03-19 21:17:12.255 11786-11786/io.ionic.starter I/chromium: [INFO:CONSOLE(168)] "Has permission?", source: http://localhost:8080/ho

[2019-03-21 03:28] dbaq commented on #193
Hi @demobiel,

Sorry for the late reply.

- Have you figured this out?
- Were you able to reproduce?
- Which default messaging app? You can change the default app.
- Do you experience the same issue if send SMS < 140?

[2019-03-21 03:32] dbaq commented on #192
I don't know about phonegap.

Have you read https://github.com/cordova-sms/cordova-sms-plugin/issues/183?

The only recent change is this commit: https://github.com/cordova-sms/cordova-sms-plugin/commit/ecf4d094d89cee78d3eaeb16ac9cd1582511e1e9

[2019-03-21 03:35] dbaq commented on #195
Hi @AbrahamGarcia240,

Can you try adding to your `plugin.xml`?

[code]

We removed it recently (https://github.com/cordova-sms/cordova-sms-plugin/commit/ecf4d094d89cee78d3eaeb16ac9cd1582511e1e9) due to the new google store policy. Let me know if that solves your issue.

Thanks

[2019-03-21 03:37] dbaq commented on #190
Hey @FrancisTse8, sorry for the late reply.

Can you please try the 1.0.0 version again and add to your plugin.xml file.

[code]

I recently removed the permission (https://github.com/cordova-sms/cordova-sms-plugin/commit/ecf4d094d89cee78d3eaeb16ac9cd1582511e1e9), they may need to be added manually.

[2019-03-21 03:39] dbaq commented on #187
bump

[2019-03-21 03:40] #132 closed, assigned to dbaq

[2019-03-21 03:42] #22 closed, assigned to dbaq

[2019-03-21 03:42] #49 closed, assigned to nobody

[2019-03-21 22:19] FrancisTse8 commented on #190
Can I just run "npm install --save @ionic-native/sms@4" again or do I have
uninstall first?

On Wed, Mar 20, 2019 at 11:37 PM Didier Baquier <notifications@github.com>
wrote:

[2019-03-21 22:25] dbaq commented on #190
the install command should be enough. Check your package.json to be sure which version is installed.

[2019-03-25 08:10] thkthkthk opened #196 "SMS does not appear in messaging app"
Hi all,

We are using this plugin to populate sms content for customer to send. Recently some of our customers complain that the sms is not auto populate(just blank at the text field). Anyone have any idea on this ? Any help is much appreciated.

FYI, we already using the latest plugin. All the complains are from android phone only.

Regards,
HK

[2019-03-26 00:49] mobileDev2020 commented on #183
Hello,
 I am trying to meet this Playstore requirement for our app. We build our apk using phonegap build which fetches the plugin from npm , when I built after this issue was published and released to Playstore, Google still complains we are not compatible.

<plugin name="cordova-sms-plugin" source="npm"/>

We are targeting android sdk 26.

Any suggestions please?

Thanks!

[2019-03-26 03:37] extreg commented on #183
For me it wasn’t the actual build, it was an old alpha test track I had with old build of Cordova sms that play store was flagging, they aren’t good at specifying which stream violates it.

Hope it helps.

Sent from my iPhone

On 26 Mar 2019, at 08:49, mobileDev2020 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello,
I am trying to meet this Playstore requirement for our app

[2019-03-27 19:56] askotx commented on #196
You are using an open source code for your customers for free -no cash- and for free -open, at least, you could try to solve making a pull request, no asking for solutions -again for free.

[2019-03-29 18:46] lovehimksj commented on #49
I have resolve the same with minor modification in plugin code

[2019-03-31 16:16] dbaq commented on #196
hello @thkthkthk,

Like @askotx said correctly, this is an open source software. I don't have customers and I don't make any money from this code that I've been maintaining for a few years now.

Instead of opening a new issue, you should have replied to the existing one (#193) with more details like the android version(s), the phone version(s) and which SMS app is being used.

I am going to close

[2019-03-31 16:16] #196 closed, assigned to nobody

[2019-03-31 16:27] goidimo commented on #71
I'm getting  the below error:

Uncaught ReferenceError: sms is not defined
    at Object.sendSms

any suggestions pls.

[2019-03-31 20:32] syedehsans1 commented on #71
You will get this error on browser console. It works fine on device and
simulators.

On Sun, Mar 31, 2019, 9:27 PM goidimo <notifications@github.com> wrote:

[2019-04-02 03:28] prantikv commented on #49
@lovehimksj  Do share the modification of the code that you did. Thanks

[2019-04-02 18:23] lovehimksj commented on #49
In Sms.java inside sendSMS method add
Integer susbId = args.getInt(4);

Modify send(callbackContext, phoneNumber, message, susbId);

get subsId Inside send method and pass it into

SmsManager manager = SmsManager.getSmsManagerForSubscriptionId(susbId);

In sms.js

// parsing options
    var replaceLineBreaks = false;
    var androidIntent = '';
   var subsId = '';
    if (typeof options === 'strin

[2019-04-04 22:30] FrancisTse8 commented on #190
Sorry it took so long before I can get back to this issue. Just to make sure, I started a new Ionic4 app and installed the sms plugin from the beginning. Unfortunately, I was not able to find the plugin.xml in my ionic project. I did find the plugin.xml file in the cordova-sms-plugin folder on github, but that file did not get copied in the npm installation process. Nonetheless, I tried calling sm

[2019-04-21 17:27] NorthFred opened #197 "TypeError: Object(...) is not a function"
I am not able to send SMS from my Android project:

Ionic info:

   ionic (Ionic CLI)  : 4.12.0 (C:\Users\f_ver\AppData\Roaming\npm\node_modules\ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.3

Cordova:

   cordova (Cordova CLI) : 8.1.2 (cordova-lib@8.1.1)
   Cordova Platforms     : android 8.0.0, browser 5.0.4

Any ideas?

[2019-04-25 13:16] rohananarse commented on #8
does this work..?

sms.send('4155551234,4151234567', message, intent, success, error);

[2019-05-15 18:33] pr0thean commented on #197
I have the same  problem. Any ideas? I tried these methods from the link but still the same...
https://stackoverflow.com/questions/53625774/type-error-object-not-a-function-when-adding-sms-plugin-ionic

[2019-05-29 22:05] dbaq commented on #195
Closing this one since no reply. Feel free to reopen it.

[2019-05-29 22:05] #195 closed, assigned to dbaq

[2019-05-29 22:06] dbaq commented on #192
To make it work with PhoneGap, you need to add the `SEND_SMS` permission manually if you are using `android: { intent: '' }`:

See https://github.com/cordova-sms/cordova-sms-plugin/pull/198

[2019-05-29 22:06] #192 closed, assigned to dbaq

[2019-05-29 22:07] dbaq commented on #193
Closing this one since no reply. Feel free to reopen it.

[2019-05-29 22:07] #193 closed, assigned to dbaq

[2019-05-29 22:12] dbaq commented on #197
Hi @NorthFred , @pr0thean,

Sorry, but it looks like this is an issue with typescript/ionic-native not with this Cordova plugin. I am going to close this one as it is not directly related.

Best,
@dbaq

[2019-05-29 22:12] #197 closed, assigned to nobody

[2019-05-29 22:13] dbaq commented on #187
Closing this one since no reply. Feel free to reopen it.

[2019-05-29 22:13] #187 closed, assigned to dbaq

[2019-05-29 22:14] dbaq commented on #188
Closing this one since no reply. Feel free to reopen it.

[2019-05-29 22:14] #188 closed, assigned to dbaq

[2019-05-29 22:16] dbaq commented on #190
Sorry for the late reply. Are you still facing that issue? Were you able to locate the plugin.xml file or androidmanifest.xml file?

[2019-05-30 00:57] FrancisTse8 commented on #190
Yes, I am still facing the issue of crashes when calling sms.send(). Like I said in my earlier comment, I saw the plugin.xml file in the plugin folder on github, but that file did not get copied in the npm installation process. FYI, I am running the Ionic 4 framework with Angular if that makes a difference.

[2019-05-30 17:44] Leo1305Pineda opened #199 "Do not send sms the permission is not added in the AndroidManifest.xml"
in el file plugin.xml
`<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
 </config-file>`
aggregate
`<uses-permission android:name="android.permission.SEND_SMS"/>`

[2019-06-04 14:40] dbaq commented on #190
hey @FrancisTse8,

First, you can try to add the following two lines to the file `platform/android/AndroidManifest.xml` and see if it works:
[code]

It should work. Other people have no issues with version 1.0.0. Modifying the `platform/android/AndroidManifest.xml` is not recommended because if you remove/add the android platform update, your modifications will be gone.
To make it more permanent,

[2019-06-04 14:56] dbaq commented on #199
Closing this one, see my comment on your PR. Thanks again for contributing.

[2019-06-04 14:56] #199 closed, assigned to nobody

[2019-06-24 19:54] alinmocanu commented on #190
For me it crashes too. Is there anybody who can send Sms in android 8.0.0 with intent: '' option? Or is it not possible anymore?
I want to make an application but I don't want to get it on google play. So, I guess I can ignore those new rules from Google.

I requested the permissions for `SEND_SMS` and `READ_PHONE_STATE` but it still crashed. Can somebody give me an example with the correct declar

[2019-07-13 07:55] khayargoli opened #202 "When SMS has not been sent, the error callback should be called"
Hi All,

I am using sms to send using the intent like:
[code]

The app opens the default intent of messaging, but the user can cancel the process and go back to the app as well in this case the error call back should be called instead of success.

Thanks

[2019-07-13 09:09] dbaq commented on #202
hey @biswas123,

I am currently on vacation so I have limited ways to help you out with limited internet access.

It seems you are facing something similar to https://github.com/cordova-sms/cordova-sms-plugin/issues/26. Could you confirm?

If it is the case, nothing has changed AFAIK, you would have to take into consideration in your user flow.

Best,
@dbaq

[2019-10-01 00:33] davidremus commented on #147
Hello,
I still have a problem with SEND_SMS permission.
SCENARIO 1:
After I tap to ALLOW, the app crashes when the application tries to send the first message.
In config.xml I don't request for SEND_SMS permission or READ_PHONE_STATE, nor in AndroidManifest.xml.

SCENARIO 2:
If I add in config.xml the SEND_SMS and READ_PHONE_STATE permissions, the app continues to crash but just one time, after wh

[2019-10-06 19:43] jondspa opened #203 "iOS 13 and cancelling SMS messages"
Hi -

  I've been using this great plugin for a long time.  Recently, I upgraded to iOS 13 and am having a problem.  I can send SMS messages fine (!) but if I hit cancel, from the New Message window, control is returned to my app and the screen is all messed up.  In one case my bottom tar bar now appears in the middle of the screen (and is not responsive to touch).  In another case, my havbar at t

[2019-10-07 15:33] dbaq commented on #202
Closing this one since no answer.

[2019-10-07 15:33] #202 closed, assigned to nobody

[2019-10-07 15:38] dbaq commented on #203
Hi Jon,

Thanks for the report.

That's an interesting behavior. Do you have any errors in the Xcode log window?

[2019-10-07 18:23] jondspa commented on #203
Hi -

  Thanks for the quick response.  And thanks for all your work on this plugin!

  First of all, I'm still running cordova version 6.5.0 and iOS version 4.2.1.  I had trouble with some other plugins when I tried to upgrade.  Haven't tried recently.  I also did modify your plugin a year or so ago to be able to send MMS messages via iOS.

  Now to answer your question, there are no Xcode messag

[2019-10-10 02:12] dbaq commented on #203
Hey Jon,

I did some research but without luck. One thing for sure is that this plugin does not call `setAnimationsEnabled`.

To move forward with the issue, can you please:
- undo your MMS changes and confirm the issue is still present
- confirm you have the latest version of this plugin
- create a minimal reproducible example and push it to a repo so I can test on my Xcode.
- try to update `cord

[2019-10-14 15:58] jondspa commented on #203
Thanks Didier.  I haven’t had a chance to test this out.  My plan is to create a new project on a separate machine with all the latest Cordova stuff and your latest plugin.  I hope to get to it soon.

One more piece of information I figured out: using the Cordova and plugin versions I’ve already mentioned on iOS 13, it does work on my iPhone 5s, 7plus, and iPad.  It does not work on my iPhone X.

[2019-10-15 14:06] dbaq commented on #203
Yes, I would bet it is probably a bug from `cordova-ios` they fixed in a newer version.

[2019-10-29 11:28] VishnuV02 opened #204 "iOS Sms textfield resigned instantly."
While trying to send SMS using SMS plugin method,
this.sms.send(this.smsTo, this.SMSMessage).then((data) => {});
SMS Textfield resigned instantly. What may be the reason?

[2019-10-29 20:29] dbaq commented on #204
Hi there,

Thanks for reaching out.

Can you please clarify what you mean by `resigned instantly`?

Can you share more code? Do you have an exception in Xcode?

[2019-11-11 11:03] mdb80 opened #205 "Error IOS -[UIViewController init] must be used from main thread only"
Cordova 9.0.0
cordova IOS 5.0.1
x-code 11.2

Solved in this way:

[code]

[2019-11-14 21:50] jondspa commented on #203
Hi Didier -

  Sorry for the delay.  Bad news.

  I now have my app running under the latest Cordova versions (cordova-ios 5.0.1 and Cordova 9.0.0) and using the latest version of your plugin (without any of my modifications).

  I have the same problem running on an iPhone X on iOS 13.  Hitting "cancel" out of the new message window brings me back to my app but the screen is "magnified" - that is

[2019-11-26 10:38] iShafayet commented on #49
@lovehimksj It would help out a lot of people if you share the modifications you mentioned.

[2019-11-26 19:17] jondspa commented on #203
Hi Didier -

  I've managed to find a workaround/solution. Using the latest cordova versions didn't help.  I got a hint of a workaround from a problem reported with the camera plugin and iOS 13: github.com/apache/cordova-plugin-statusbar/issues/156.  In the callaback for your plugin, I do:

     StatusBar.hide();
      setTimeout(function () { StatusBar.show(); }, 500);
      StatusBar.show();

Th

[2019-12-16 08:53] snehalv opened #206 "Error : SMS plugin Ionic"
I am new to Ionic and trying to learn from YouTube.

Please help me to install sms-plugin.

I am Facing error for the command
- cordova plugin add https://github.com/cordova-sms/cordova-sms-plugin.git

 cordova.cmd plugin add cordova-sms-plugin exited with exit code 1.

[2019-12-16 18:40] dbaq commented on #206
hi @snehalv,

Can you please share more logs? Use the verbose option (`--verbose` I believe). Can you also include the version of the ionic you are using?

[2019-12-17 07:20] snehalv commented on #206
@dbaq
tried to run with --verbose also but same issue.
i am using version 5.2.6

now facing error

ionic cordova plugin add cordova-plugin-contacts

npm: Command failed with exit code 1 Error output:
npm ERR! code ECONNRESET
npm ERR! network tunneling socket could not be established, cause=connect ETIMEDOUT
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In mos

[2019-12-17 15:10] dbaq commented on #206
Hi there,

As you can see, it is a network error on your side. Can you access npm?

[2019-12-29 14:55] lovehimksj commented on #49
EDIT: DO NOT ADVERTISE HERE.

~@iShafayet It is paid~

[2020-01-02 11:44] VishnuV02 commented on #204
**Step 1:** I am calling `this.sms.send(this.smsTo, this.SMSMessage).then((data) => {
                       alert("SMS SUCCESS3");
                }, (err) => {
                    alert("SMS FAILED3");
                });`  from ionic

**Step 2:** MessageViewController opened successfully and the recipient and message passed got displayed .

**Step 3:** Instantly message dialog(keypad) got disap

[2020-01-20 04:50] sankari123 opened #207 "Unable to send SMS in Phonegap app. No action when 'send SMS' button clicked"
config.xml

Index.htm

<script type="text/javascript" src="cordova.js"></script> <script>
	function onDeviceReady() {
		  app.checkSMSPermission();
}

function alertDismissed() {
alert('Invalid');
}

var app = {
sendSms: function() {
alert('click');
var number = document.getElementById('numberTxt').value;
var message = document.getElementById('messageTxt').value;
alert(number);
alert(message);
var

[2020-01-20 05:00] sankari123 commented on #207
I'm testing on Samsung 5 & 6

[2020-02-05 14:46] sankari123 opened #208 "intent: '' does not work."
I am creating a phonegap app. I want to send sms directly without going into native sms app. I tried intent: ''. I get the message ' Message failed:User has denied permission. any changes to be done in config.xml? pl help. I gave all permissions to the app manually.

[2020-02-05 16:09] dbaq commented on #208
Good morning @sankari123,

Have you checked this issue https://github.com/cordova-sms/cordova-sms-plugin/issues/183?

[2020-02-07 01:44] RCrizt12 commented on #113
need help. My app also crash when sending sms using option intent:''.  I am using the latest version.

[2020-02-07 03:15] RCrizt12 commented on #113
option { intent:'' }
--------- beginning of crash
E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-2
    Process: org.cordova.quasar.app, PID: 25360
    java.lang.SecurityException: Neither user 10214 nor current process has android.permission.READ_PHONE_STATE.
        at android.os.Parcel.readException(Parcel.java:1951)
        at android.os.Parcel.readException(Parcel.java:1897)
        at com.a

[2020-03-20 20:42] noriellecruz commented on #49
Is this already implemented? I think this feature is a must, tried adding the feature myself but I ended with messed up code. @lovehimksj why did you even bothered to tell us here if you just want to suck off some coins?

[2020-03-20 21:40] dbaq commented on #49
hey @noriellecruz,

It is not implemented. Only a handful of people are interested by this so far and I don't have any phone with dual sim support to test the code. If you want to contribute, feel free to open a PR, I'll be more than happy to merge any contributions.

[2020-03-20 21:40] dbaq commented on #208
Closing this since no answer.

[2020-03-20 21:40] #208 closed, assigned to dbaq

[2020-03-20 21:45] dbaq commented on #206
Closing this since no reply.

[2020-03-20 21:45] #206 closed, assigned to dbaq

[2020-03-20 21:46] dbaq commented on #207
Closing this since no reply.

[2020-03-20 21:46] #207 closed, assigned to nobody

[2020-04-07 02:30] frankievx commented on #190
My application also crashes when attempting to send sms.

[2020-04-08 14:44] dbaq commented on #190
hi @frankievx, can you share some logs, the android version you are using and more? Thanks.

[2020-04-28 20:07] TanmaySM commented on #190
I am also facing same issue with Android 8. I am using Ionic 5 with "cordova-android": "^8.1.0", "cordova-sms-plugin": "^1.0.0". It crashes right after sms.send() with  **intent: ""**.
Note : it is working properly for  **intent: 'INTENT'**

Log:

   --------- beginning of crash
2020-04-29 01:37:01.920 19310-19422/com.celebrity.app E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-2
    Process: co

[2020-04-29 08:56] TanmaySM commented on #190
It got resolved by manually giving Phone state permission from phone's setting. But app itself not asking for Phone state Permission.

[2020-04-30 00:07] dbaq commented on #190
Thanks, @TanmaySM for the report and the solution. Any contribution is more than welcomed!

[2020-05-06 13:42] nikhil-kumar-behera-oranetech opened #209 "ERROR: Plugin 'SMS' not found, or is not a CDVPlugin. Check your plugin mapping in config.xml."
On iOS simulator, I'm getting this issue. Here is my config.xml
`
    <?xml version='1.0' encoding='utf-8'?>
    <widget id="io.ionic.starter67676" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>LAMB</name>
        <description>An awesome Ionic/Cordova app.</description>
        <author email="hi@ionicframework.com" href="http://ion

[2020-05-06 14:04] Nikhil-Daffodil opened #210 "SMS Text not available."
On ios simulator i'm getting this issue "SMS Text not available."

[2020-05-06 15:20] dbaq commented on #210
The SMS feature is not available on the iOS simulator. Unfortunately, you will need to use a real device.

[2020-05-06 15:20] #210 closed, assigned to nobody

[2020-05-06 15:21] dbaq commented on #209
Can you please share your error? What stack trace are you getting?

[2020-05-07 08:23] Nikhil-Daffodil opened #211 "Cannot send sms to multiple person at once"
Hi , i'm unable to send sms to multiple person at once.
`
    let phone = contactList.map(({phoneNumber}) => phoneNumber);<--  Array of phone number
           this.sms.send(phone, message).then(() => {
            console.log("Message sent");
          }).catch(err => {
            console.log(err);
          })
`

It takes only first number of the array

[2020-05-07 13:59] Nikhil-Daffodil commented on #209
2020-05-07 19:24:16.441052+0530 LAMB[34219:2281407] Apache Cordova native platform version 5.1.1 is starting.
2020-05-07 19:24:16.441494+0530 LAMB[34219:2281407] Multi-tasking -> Device: YES, App: YES
2020-05-07 19:24:16.491851+0530 LAMB[34219:2281407] CDVWKWebViewEngine: trying to inject XHR polyfill
2020-05-07 19:24:17.692649+0530 LAMB[34219:2281407] WF: === Starting WebFilter logging for proces

[2020-05-07 18:18] dbaq commented on #211
Please see this one https://github.com/cordova-sms/cordova-sms-plugin/issues/132. You need to iterate over the array and send the SMS one by one.

[2020-05-07 18:18] #211 closed, assigned to nobody

[2020-05-07 18:20] dbaq commented on #209
Are you using a real device? Have you installed the plugin correctly? Have you looked at the readme and specifically this one: https://github.com/cordova-sms/cordova-sms-plugin/issues?q=is%3Aissue+is%3Aclosed+sms+label%3A%22sms+undefined%22?

[2020-05-30 09:37] sts-ryan-holton opened #212 "Send iOS message without opening native keyboard"
Hi, I'd like to be able to send a SMS message using this plugin for both iOS and Android without opening the native keyboard and messaging app, how can I achieve this for iOS? I've set: `intent` in my options to be an empty string.

I understand that [this](https://github.com/cordova-sms/cordova-sms-plugin/issues/35) says it can't be done, so any suggestion on a work around?

[2020-06-01 03:31] dbaq commented on #212
Hi @sts-ryan-holton, unfortunately, it is an iOS limitation. It is not possible to send a message without opening the native messaging app.

[2020-06-01 03:31] #212 closed, assigned to nobody

[2020-06-24 18:33] Hideikey opened #213 "Sms problem with Samsung Galaxy S7 Edge"
The plugin works, but the problem is when try to create a second message whitout close the  messages app native.

This not have the Body of the message, only open the app of messages.

Tested with https://developer.samsung.com/remote-test-lab

[2020-07-23 16:33] MarcWeber commented on #189
I got the exact same problem. But want to use 'intent': '' thus not open the SMS app thus need the permission. The adb logcat didn't reveal anything which was close to permissions.. The failure object is' USER HAS DENIED PERRMISSION', but in settinsg -> SMS I cannot find my cordova app to allow it?

When adding the SEND_SMS to platforms/android/android.json
[code]
I get " platforms/android/app/src

[2020-07-27 03:47] dbaq commented on #213
hey @Hideiki, thanks for reporting an issue. Do you have a stack trace? A way to reproduce the issue? I don't own a Galaxy S7 edge, so I am going to need more details on this one.

[2020-07-27 03:48] dbaq commented on #209
Closing this one since no update was given. Feel free to open another issue if you are still facing issues.

[2020-07-27 03:48] #209 closed, assigned to dbaq

[2020-07-27 03:50] #203 closed, assigned to nobody

[2020-07-27 03:51] dbaq commented on #183
Closing this one. The issue will remain pinned on the issue page.

[2020-07-27 03:51] #183 closed, assigned to dbaq

[2020-07-27 03:52] dbaq commented on #205
@MDB80, could you open a PR to address this issue?

[2020-07-27 03:53] #147 closed, assigned to dbaq

[2020-07-27 03:53] #190 closed, assigned to dbaq

[2020-08-02 02:10] Hideikey commented on #213
Forget it, I found out that the same messaging app was the problem, the version 4, Testing with the version 5 or others apps the problem not happen. I think is ok close the post

[2020-08-02 02:10] #213 closed, assigned to dbaq

[2020-08-18 12:56] legagneur-matthieu opened #214 "Intent option"
Hi !
when I use
`android: {intent: ''}`
my app crash immediately when I try to send SMS with.
another option for send SMS without the native SMS app confirmation ?

[2020-08-18 18:40] dbaq commented on #214
Hi there,

Have you looked into other closed issues like #183, #208, #78, or #155?

[2020-08-20 05:39] legagneur-matthieu commented on #214
Ok I havn't add android.permission.READ_PHONE_STATE. now it work
I made a pull request for precise it in readme.md

[2020-08-20 15:50] dbaq commented on #214
I merged your PR. Thanks again for taking the time to do this.

[2020-08-20 15:50] #214 closed, assigned to nobody

[2020-09-30 21:13] ShayanMandegarian commented on #14
@jondspa can you please explain to me how you used the WIP_MMS_support version of this plugin for iOS? I can't seem to figure out how it works, I've tried passing the file:///path/to/img into the attachments array in options for the .send function, but I don't see any images in the sms. Thank you. Also, sorry if this is not the appropriate place to ask this.

[2020-10-13 04:12] abhishe3571 commented on #48
Hello anyone is here, some problem with smsReceive plugin.
I also get the same error that: Sms receive is not defined. Btw I used the Cordova Sms plugin and testing on the browser e.g.-google chrome.
and code is below(.ts file)
`start() {
    SMSReceive.startWatch(
      () => {
        console.log('watch started');
        document.addEventListener('onSMSArrive', (e: any) => {
          console.l

[2020-10-15 19:58] Utz1 opened #216 "iOS-question: Send sms via iMessage with the Apple ID instead of the telephone number"
I wonder, if it is possible to use the Apple ID instead of a telephone number?
When sending a message on iOS through iMessage app, this is a way to send Messages without a telephone card if you are connected to a WiFi network.
With my little app, I want the user to send menu orders as text to always the same iOS device of a restaurant.

[2020-10-15 22:34] dbaq commented on #216
hi @Utz1, thanks for opening an issue.

I don't have any bandwidth to support/add this feature right now but I am more than happy to merge any contributions.

[2020-10-24 08:50] ghost opened #217 "plugin on web application"
Hi

If the app is a web app, meaning running in a desktop's/mobile's browser, will it still send SMS to the recipient or does it have to run as an Android app/webview for it to work?

Thanks

[2020-10-26 00:56] dbaq commented on #217
Hi @Amosss, the application does have to run in a webview on Android/iOS to work.

[2020-10-26 00:56] #217 closed, assigned to nobody

[2020-11-02 16:17] TravisHeaver commented on #14
@dbaq are you able to merge in @Agent00krosh fixes? I am having the same issue. I may also have an additional improvement. The dispatch_async(dispatch_get_main_queue() takes a few seconds the first time it is called, by moving MFMessageComposeViewController into the main_queue the delay is gone

[2020-11-02 19:15] dbaq commented on #14
Please open a PR when the code is ready to be reviewed. We can then decide whether or not we want to include this feature in this repo.

[2020-11-02 19:15] #216 closed, assigned to nobody

[2020-12-17 14:24] searchdinhe commented on #49
I edit sendSMS function by line 200 in file: platforms\android\app\src\main\java\com\rjfun\cordova\sms\SMSPlugin.java
<code>
PendingIntent sentIntent = PendingIntent.getBroadcast((Context)this.cordova.getActivity(), (int)0, (Intent)new Intent("SENDING_SMS"), (int)0);
//SmsManager sms = SmsManager.getDefault();
int SimSlotNo = 0; //0 for sim1, 1 sim2
SmsManager sms = SmsManager.getSmsManagerForSubs

[2021-01-26 17:05] maihannijat opened #218 "Why Cordova SMS plugin takes time to load for the first time?"
I am testing this on an iOS physical device. When I click on the button to send an SMS for the first time after a fresh installation, it takes up to 30 seconds to load, but after that, it happens instantly. Even after closing the application, and restarting the phone. I looked into the Log and found:

[code]

Angular version 11
IONIC version 5.31.1
SMS ionic-native/sms": "^5.31.1"
"cordova-sms-plu

[2021-01-26 17:18] TravisHeaver commented on #218
I believe this has been fixed in the WIP_MMS_support branch. The issue is the new view controller is created on a different thread:
`        dispatch_async(dispatch_get_main_queue(), ^{
            [self.viewController presentViewController:composeViewController animated:YES completion:nil];
        });`
this could be fixed by creating the view controller inside the async thread. see the WIP_MMS_s

[2021-01-26 17:48] maihannijat commented on #218
@TravisHeaver Thanks for the reply. `dispatch_async` fixes the problem. I wrapped the whole block with the function.

[code]

[2021-01-26 18:19] dbaq commented on #218
@maihannijat @TravisHeaver do you guys mind opening a PR?

[2021-02-09 11:16] sivareddykalluru commented on #49
Hi @searchdinhe, I was having the same issue and I tried to modify the Sms.java file,
can you also please tell me how you are getting the SimSlotNo to this java file,
If possible please share the sms.send() function code please

[2021-02-11 02:42] dbaq commented on #49
@searchdinhe, @sivareddykalluru, any contribution is welcome!

[2021-02-16 20:17] jsplate commented on #191
@dbaq It would have been nice to know the issue...

[2021-02-17 18:52] dbaq commented on #218
@maihannijat 's contribution has been merged. Version 1.0.1 has been published.

[2021-02-17 18:52] #218 closed, assigned to nobody

[2021-02-17 18:52] dbaq commented on #205
Fixed in version 1.0.1.

[2021-02-17 18:52] #205 closed, assigned to nobody

[2021-03-06 09:44] FilippoPagano commented on #49
changing platforms\android\app\src\main\java\com\cordova\plugins\sms\Sms.java line 160 from
[code]
to
[code]

will achieve the desired results...

I successfully tested it and I confirm it works

 @sivareddykalluru @dbaq

[2021-03-07 05:03] jsmith347 commented on #191
For me, I managed to get it working by adding the following under the Android platform section in the config.xml:
[code]

[2021-03-10 04:09] dbaq commented on #49
hey @FilippoPagano, that's great, please keep us posted. Do you mind opening a PR to expose this new Android option?

[2021-03-15 01:19] sivareddykalluru commented on #49
using simSlotNo as 0 and 1 didn't worked for me, "this.siminfo[i].subscriptionId" I was getting this subscriptionId and then I was using this subscriptionId dynamically instead of using 0 and 1, for me dynamically getting this subscriptionId is working fine.

[2021-04-23 06:23] shahzadhamza commented on #49
Works for Android

https://github.com/shahzadhamza/cordova-sms-plugin

[2021-04-25 16:09] dbaq commented on #49
hey @shahzadhamza, do you mind opening a PR please?

[2021-07-02 19:00] shahzadhamza commented on #49
Sure i gonna open PR asap.

On Sun, Apr 25, 2021, 9:09 PM Didier Baquier ***@***.***>
wrote:

[2021-08-18 06:16] prameela-reddy opened #220 "getting MessageComposeResultSent response when sms sending failed."
I am using MFMessageComposeViewController to send sms within my app. Everything is correct until i try to get the result of the operation. Actually the Message sending failed as It can be seen in the SMS native app (I have no sms balance), but I get MessageComposeResultSent in - (void)messageComposeViewController:(MFMessageComposeViewController *)controller didFinishWithResult:(MessageComposeResul

[2021-08-25 12:55] prameela-reddy opened #221 "can we send sms through user selected sim at runtime(dualsim case )???"

[2021-08-25 17:42] dbaq commented on #221
hey @prameela-reddy, see https://github.com/cordova-sms/cordova-sms-plugin/issues/49.

[2021-08-25 17:42] #221 closed, assigned to nobody

[2021-08-25 17:43] dbaq commented on #220
I believe the way it works is that the iOS native app will return success even the SMS hasn't been delivered. There is no way to verify whether the SMS was delivered.

[2021-08-25 17:43] #220 closed, assigned to nobody

[2021-10-30 08:50] umairrafiq1133 opened #222 "Open sms app with longer text, Ionic toolbar disappears."
I am using this plugin to send sms from my app. When I send a text which is shorter, everything works as expected but when text is longer and sms app opens, coming back to app will hide the toolbar irrespective of whether I sent the sms or not. When inspected in Safari, I can see the toolbar if I add padding-top from `ion-safe-area-top` to `162px`.

[2021-10-30 17:30] umairrafiq1133 commented on #222
For now I have fixed with some css.

[code]

[2021-11-02 12:07] umairrafiq1133 commented on #222
I have created a public repository and reproduced the issue.
Here's the link to repo.
https://github.com/umairrafiq1133/ionic-view-bug

https://user-images.githubusercontent.com/18613802/139843085-8004c513-5857-4e7b-9744-27c18a811d7c.mp4

[2021-11-02 23:56] dbaq commented on #222
hey @umairrafiq1133, thanks for all the details and the example. Have you posted the issue on the ionic repository? this plugin has no control over the rendering in the ionic webview unfortunately.

[2021-11-05 11:37] sterrana opened #223 "iOS 15.1"
Hello,
I've just updated my iPhone to iOS 5.1 and the app totally crash when the send() method is performed.

Error:
"This application is modifying the autolayout engine from a background thread, which can lead to engine corruption and weird crashes. This will cause an exception in a future release."

Any solution for this?

Thanx.

[2021-11-05 13:57] sterrana commented on #223
Resolved. For some reason the plugin wasn't updated to the last version in the iOS platform.

[2021-11-05 16:43] #223 closed, assigned to nobody

[2021-11-13 07:47] umairrafiq1133 commented on #222
@dbaq Yes I have posted on ionic repo as well.

[2021-11-16 05:55] umairrafiq1133 commented on #222
@dbaq It was an ionic issue and is resolved. https://github.com/ionic-team/ionic-framework/issues/24135

[2021-11-16 05:55] #222 closed, assigned to nobody

[2021-11-21 15:04] developer-gurpreet opened #225 "IOS 15 iPhone 11 app crashed after calling "sms" method"
The app was working before IOS15, but after updating IOS to 15 the app started crashing, Then I made a new build without any changes into script and test on mobile, its working. Why is the downloaded app from the "App Store" crashing?

Similar type of issue is noticed on Android 12 version,  the "success" method runs before the sms window opens.

[2021-11-21 15:15] Gurpreet68 commented on #223
Can you please explain how you fixed this?  Currently my app is using the 1.0.1 version which is the latest one but still crashing.
Please help me how you update to the last version in IOS?

[2021-11-25 10:21] tajinder-logiciel commented on #225
Facing Same issue
@Gurpreet68  is there any solution for this issue

[2021-11-25 15:35] imlshane commented on #225
I installed it again and after that it starts working. Can you share your package.json file?
npm install cordova-sms-plugin@1.0.1 --save
cordova plugin add cordova-sms-plugin

[2021-11-26 05:33] tajinder-logiciel commented on #225
@imlshane actually I am using the MMS support branch. and did some changes to this and now it is working fine for me

[2021-11-30 13:43] expcapitaldev commented on #225
issue fixed into 1.0.1 version

[2022-01-17 16:11] saggio89 opened #227 "Error"

[2022-01-17 16:12] #227 closed, assigned to nobody

[2022-01-17 16:13] saggio89 commented on #227
Made this issue in error on the wrong repository

[2022-01-24 19:47] pradeepta-patra opened #228 "cordova-sms-plugin-1.0.2 doesn't work for Android"
CordovaPlugin: Attempted to send a second callback for ID: WebIntent839804183
    Result was: "Invalid action"

[2022-01-26 11:59] MehrdadKhnzd commented on #49
Any updates about this? Is this feature currently implemented?

[2022-02-01 02:03] noriellecruz commented on #14
how about this pr? #224

[2022-03-25 08:08] dshark95 commented on #26
Hi @dbaq any update on the android callback?

[2022-03-29 22:54] dbaq commented on #26
hey @dshark95, as far as I know, it remains the same on Android.

[2022-04-19 13:57] jlebras opened #229 "[Android] Update PendingIntent creation for apps targeting android 12+"
Applications targeting Android 12+ crash on PendingIntent creation, on Android 12+.
Pending intents must specify either FLAG_IMMUTABLE or FLAG_MUTABLE:

[2022-04-21 21:01] dbaq commented on #229
Hi Julien! thanks for the report, please feel free to open a PR. I don't have much bandwidth at the moment to address this.

[2022-10-27 14:29] glfdev commented on #190
@FrancisTse8

I am using ionic v3 and in my case the application crashed with several devices with android version between 8.1.0 and 10

The intent setting was for the sms to be sent in the background
`    let smsOptions = {
      replaceLineBreaks: true, // true to replace \n by a new line, false by default
      android: {
        intent: '' // send SMS with the native android SMS messaging

[2022-10-27 18:14] FrancisTse8 commented on #190
@GianLucaFinelli
Thanks for the reply! I've been off the original project for a while and could not remember where I left it. However, in the new project, I will have to get back into doing SMS sending. I will keep your solution in mind when I got back to working on SMS sending. Best regards!