[2015-02-05 19:28] dbaq opened #1 "only error callbacks are called"
@raghav14 reported: `When ever i call any method (isSupported, startReception), it called error callbacks only, I have checked for permission also, but still the same result.`

[2015-02-05 19:30] dbaq opened #2 "Using phonegap build"
need to check availability of this plugin on phonegap build.

[2015-02-05 19:32] dbaq opened #3 "Support BlackBerry 10"
@leandroal, that's the new repository for the plugin. Please submit a pull request for the support of blackberry 10.

Thanks

[2015-02-05 19:34] dbaq opened #4 "sms not defined"
@Stormgun reported: `Hello, I've added the plugin and i checked if the scripts and java file are in the right places and they are but I am using angular for my scripts, and I am getting an sms undefined error in the console`

[2015-02-05 19:35] dbaq opened #5 "iOS 8 support"
@ninapratiwi  reported: ```So recently I use AngularJs to use this plugin

Here's the code:
$scope.sendText = function(){

[code]

};
No error but not running..
it doesn't return success or error..

Checked the plugin is not broken..
everything is inside..

does it because I run it on ios 8..?```

[2015-02-05 19:36] dbaq opened #6 "convert break line into plain sms text"
see https://github.com/aharris88/phonegap-sms-plugin/issues/41

[2015-02-05 19:38] dbaq opened #7 "can't send multiparts message with intent = ''"
A pull request has been merge a few months ago https://github.com/aharris88/phonegap-sms-plugin/pull/40

it does not work if the intent value is empty.

[2015-02-05 19:42] dbaq opened #8 "send sms to multiple numbers example"
@ninapratiwi reported: ```Hi,

is there any example to send a sms to multiple numbers?

Cheers :)```

[2015-02-05 19:43] dbaq opened #9 "Cordova 4.1.2 Compatibility"
Check compatibility.

[2015-02-05 19:46] dbaq opened #10 "callbacks called with same context"
@alvare reported: ```It seems every callback is called with the same context, meaning for example a this binding will reference an old object in a second callback.

This could be caused by having keepCallback(true) before every callbackContext.sendPluginResult
in Sms.java: https://github.com/aharris88/phonegap-sms-plugin/blob/master/src/android/Sms.java#L62```

[2015-02-11 04:27] dbaq commented on #9
It is working fine on cordova 4.2.

[2015-02-11 04:28] #9 closed, assigned to nobody

[2015-02-11 04:37] dbaq commented on #8
@ninapratiwi, you can enter a list of phone numbers separated by commas.

for instance:

[code]

[2015-02-11 04:37] #8 closed, assigned to nobody

[2015-02-11 04:47] dbaq commented on #4
@Stormgun, sms not defined is a common error, check the following:
- make sure you wait for the event device ready
- make sure the plugin is correctly added via `cordova plugins list`

I am closing this issue since it is not related to the plugin itself.

[2015-02-11 04:47] #4 closed, assigned to nobody

[2015-02-11 09:24] radiegtya opened #11 "Open Default Sms Display When Sending SMS"
Hi There,

I have question, why when I am sending a sms, it was displaying the default sms display from android? why not just send my message right away without opening the android sms default GUI?

[2015-02-11 09:31] dbaq commented on #11
Hey @radiegtya,

I believe that the default behavior was made a long time ago and nobody changed it since. I am not going to change it since it could be a breaking change for a lot of people.

if you need to send a SMS directly, just let the intent parameter empty, see readme:
`sms.send(number, message, '', success, error);`

[2015-02-11 09:37] radiegtya commented on #11
Sorry for not reading the documentation in detail. Thanks @dbaq. This is really awesome job :+1:

Btw do You have reference about reading sms from inbox?

Regards

[2015-02-11 09:37] #11 closed, assigned to nobody

[2015-02-11 09:50] dbaq commented on #11
Thanks @radiegty but I just got the ownership of this repo, you should check out the history section of this plugin, you can find the real heroes there :) (in the readme too)

This plugin is only about sending SMS but I would love to add a support for reading SMS. I believe it would be a great feature, what do you think?

[2015-02-11 11:39] radiegtya commented on #11
It will be very great plugin if it was able to:
1. Send SMS with intent
2. Send SMS without intent
3. Send Multipart SMS like native android (this is one of the most important feature)
4. Send Multiple SMS with progress bar (this is not really important, because we still able to send multiple manually with looping)
5. Read SMS from Inbox/Outbox (this is also one of the most important feature)
6. R

[2015-02-11 17:19] agarrharr commented on #11
As far as reading contacts, I would suggest using this plugin: https://github.com/monday-consulting/ContactChooser

I've used the contact chooser plugin to let the user choose a contact and then I used this sms plugin to send the text.

[2015-02-11 18:52] dbaq commented on #11
I have also written this plugin: https://github.com/dbaq/cordova-plugin-contacts-phone-numbers

it is an ios/android plugin which was designed to be super fast (compare to the official plugin), it retrieves only the contacts with at least one phone number.

[2015-02-11 22:30] dbaq commented on #1
@raghav14, can you give more information please?

[2015-02-12 00:58] radiegtya commented on #11
How About the send sms multipart one? I think it's not solved yet on my latest posted issue

[2015-02-12 02:03] dbaq commented on #11
@radiegtya I did some tests today, I can confirm this issue.

let's follow up there: https://github.com/cordova-sms/cordova-sms-plugin/issues/7

[2015-02-12 04:30] radiegtya commented on #7
Can You give the working code and add it to the documentation? And why should I use intent? I want direct send message :)

[2015-02-12 17:32] dbaq commented on #7
If you want to send a message without opening the default intent, you have to set the intent value to empty (intent='').

So if you're sending multiparts message (more than 160 characters), we need to add the following permissions in the AndroidManifest.xml:
`<uses-permission android:name="android.permission.READ_PHONE_STATE" />`

I need to understand now why the callback method is called multiple

[2015-02-12 20:27] dbaq commented on #7
hey @radiegtya, I pushed a fixed on a branch https://github.com/cordova-sms/cordova-sms-plugin/tree/wip_android_refactoring, it is fixing the issue with multiparts message in the default intent. And just one callback is fired when all the parts have been sent.

Since I refactored a big part of the android code, please test and let me know if it is working properly.

Install the new version by doin

[2015-02-12 20:29] dbaq commented on #10
Hey @alvare, I refactored the android code. This issue should be fixed.

Please test by using the development branch:

[code]

let me know

[2015-02-12 20:31] dbaq commented on #5
Hey @ninapratiwi, I just check with iOS 8.1, it is working. Your issue must probably come from your angularjs code.

If you still have the error, let me know and reopen this issue.

cheers

[2015-02-12 20:31] #5 closed, assigned to nobody

[2015-02-12 21:16] clrnd commented on #10
It works!
Thanks for your work, and btw the refactor already looks much better!

[2015-02-12 21:49] dbaq commented on #10
Ok glad it works.
I will merge this branch soon, waiting to do some other tests.

[2015-02-12 22:36] dbaq commented on #6
will fix that early next week, need to replace \n by a carriage return

[2015-02-12 23:05] dbaq commented on #1
I bet you're referencing to this fork in development https://github.com/jimibi/cordova-sms-plugin/commits/master.

I am going to close this issue.

[2015-02-12 23:05] #1 closed, assigned to nobody

[2015-02-13 01:19] agarrharr commented on #2
I think this could be done now. It was a problem before because it seemed that someone had already tried to register my plugin with the old github url.

[2015-02-13 01:37] dbaq commented on #2
I will do that on Monday.

[2015-02-16 16:58] dbaq commented on #7
@radiegtya, thanks for answering the following questions:
- how are you testing?
- which device?
- which android version?
- can you share your code?
- what is the error?
- how can I reproduce it?

[2015-02-16 17:04] dbaq commented on #10
@alvare, I merged the branch so I am closing this issue. If you notice anything else, please let me know.

[2015-02-16 17:04] #10 closed, assigned to nobody

[2015-02-16 17:13] dbaq opened #13 "Pass an options object instead of passing a specific string for the android intent"
So far, the third parameter is a string specific for the android platform ('intent' or ''), it should be replaced by an option object containing (future) global configuration and platform specific configuration. It should also be backward compatible with the current version (i.e. if somebody passes a string instead of an object it must work)

here is a suggestion for the structure of the options:

[2015-02-16 17:34] agarrharr commented on #13
What would globalConf2 be?

[2015-02-16 17:45] dbaq commented on #13
for instance, in order to fix #6, we need to replace `\n` by a newline, but it should be configurable. Some users might not want to have the auto replace or want to replace another sequence of characters. Also with an options object, it will be better for future features (i.e. reading SMS).

What do you think?

[2015-02-16 17:52] dbaq commented on #13
Also with a specific platform configuration will avoid some misunderstanding about the intent parameter. There are some users asking about this parameter on other forums.

[2015-02-16 17:55] agarrharr commented on #13
Oh ok, so it would be something like this, and you could add more options as necessary. That sounds good. I would also add a `console.warn` message if they pass in a string as the third parameter saying that it's deprecated.

[code]

[2015-02-16 18:10] agarrharr commented on #2
Here is the documentation on how to add a plugin to Phonegap Build: http://docs.build.phonegap.com/en_US/developer_contributing_plugins.md.html#Contributing%20Plugins

[2015-02-16 18:16] dbaq commented on #13
Yep exactly, will do that this week.

[2015-02-16 18:16] dbaq commented on #2
Thanks

[2015-02-16 18:17] dbaq commented on #6
this one will be fixed after https://github.com/cordova-sms/cordova-sms-plugin/issues/13

[2015-02-17 04:16] radiegtya commented on #7
Hi @dbaq, I'll answer Your questions:
- how are you testing?
  I am using meteor Js and cordova, so I just add the plugin and run it, when I am clicking sending button , it's not working
- which device?
  lg optimus l9
- which android version?
  honeycomb 3
- can you share your code?
  The code just exactly like what I was commented above
- what is the error?
  as I said, I can't see the error mes

[2015-02-17 04:58] agarrharr commented on #7
Here's how you can get the javascript console when running Cordova on your device so that you can see the error: http://www.adamwadeharris.com/remote-debugging-in-phonegap-with-chrome-devtools/

[2015-02-17 22:36] dbaq commented on #13
Done via 47e1eb2.

[2015-02-17 22:36] #13 closed, assigned to dbaq

[2015-02-17 22:52] dbaq commented on #6
work in progress over here: https://github.com/cordova-sms/cordova-sms-plugin/tree/replace_line_breaks, I need to add the support for iOS. It is replacing only `\n` so far.

[2015-02-18 06:14] christyrajupaul opened #14 "Adding Support for MMS"
Adding support for MMS. Send MMS via this plugin.

[2015-02-18 17:15] dbaq commented on #14
Hey @christyrajupaul, thank you for opening this issue. I will look into it.

[2015-02-24 06:27] dbaq commented on #2
Huuuuu

`Phonegap build: There was recently a policy change so if you are not a paid subscriber, you can't submit plugins.`

[2015-02-24 06:29] dbaq commented on #7
@radiegtya did you make it work?

[2015-02-24 15:47] agarrharr commented on #2
I can submit it then. But if I try right now it says "Error index.html not found". So we need to do this:

[code]

[2015-02-24 23:07] dbaq commented on #6
Fixed via https://github.com/cordova-sms/cordova-sms-plugin/pull/15.

[2015-02-24 23:07] #6 closed, assigned to dbaq

[2015-02-24 23:27] dbaq commented on #2
I tried, I am able to run the plugman command without any issue. I don't see why we need an index.html. I've never done that before, is it cloning the repo?

[2015-02-25 02:40] agarrharr commented on #2
Oh, actually I was submitting to the wrong form. This is the correct form: https://build.phonegap.com/plugins#add

Now the error says: `Please choose another plugin ID. This namespace is reserved`

[2015-02-25 19:29] dbaq commented on #2
I was afraid of that, we are using the reserved namespace com.phonegap.xxxx, I need to look how we can change the namespace of the plugin.

[2015-03-02 14:29] okonon opened #16 "Send sms without launching native ui (programmically)"
Hello, first of all thanks for great plugin! Keep up the good work!

I have a quick question, is there a way to send multiple sms messages without launching android UI?
something like:

[code]

Anybody have any suggestions?

Thanks a lot

[2015-03-02 14:34] dbaq commented on #16
Hey @softBarbarian,

 try this out:

[code]

let me know

[2015-03-02 15:50] agarrharr opened #17 "Tests?"
In the readme you said "Make sure the tests pass", but there aren't any tests, right? Are you planning on adding unit tests? or is that a mistake in the readme?

I have no idea how you would even unit test this plugin, or cordova plugins in general, but if it's possible, I think it's a great idea.

[2015-03-02 16:04] Kiam9000 opened #18 "Can't make it send an sms with my code?"
Hey guys!

I tried to use this very nice plugin, but I can't make it send an sms?

My code is

var app = {

[code]

};

Hope you can help me with this little issue

Kind regards,
Maik

[2015-03-02 16:07] dbaq commented on #17
I copy/paste this part of the readme from another project. But we should definitely add unit tests. Even basic ones.

[2015-03-02 16:11] dbaq commented on #18
hey @Kiam9000,

make sure the plugin is installed by running the following command `$ cordova plugins list`, you should be the plugin listed.

also how are you testing? on a real device? which device? ios? android? wp8?

try to give us all the details you can :)

[2015-03-02 16:13] Kiam9000 commented on #18
Hey @dbaq

I checked and it is installed

I am testing on a real device, Oneplus One Android

[2015-03-02 16:34] dbaq commented on #18
Other questions:
- any custom rom on your android or is it the regular android installed? which version of android?
- cordova version please?
- can you try to create a basic cordova app via cordova create, add the plugin, add the platform, update the code and use the default example?
- can you test your code on another device?

[2015-03-02 16:47] Kiam9000 commented on #18
Regular android installed, version 4.4.4 (Cyanogen OS is installed as part of oneplus one, version 11.0-xnph05q)

Cordova version 4.2.0

No only got android available to test on proper device

A simple re-create of the example does work...I may have an idea of why mine does not work now. I will report back when tested this idea I got

[2015-03-02 16:50] agarrharr commented on #18
I have another question. Are you getting any errors in the javascript console?

[2015-03-02 16:51] agarrharr commented on #17
Great! I'm really interested in this. Post any examples or articles about unit testing cordova plugins that you find here, and let's see what we can do.

[2015-03-02 16:53] Kiam9000 commented on #18
No I do not

[2015-03-02 16:56] agarrharr commented on #18
You do have access to the javascript console, correct? For example you can run `alert('hi');` and an alert will pop up in your app on your phone?

[2015-03-02 16:59] Kiam9000 commented on #18
Yeah I do have that, but no errors received

UPDATE: @dbaq  & @aharris88 I have rebuild my project from scratch and now it works perfectly!
I have no idea where the issue specific was unfortunely, but may be a mistyping from my side as well

Thx for the quick respose and love the plugin.

Kind regards,
Maik

[2015-03-02 17:20] okonon commented on #16
Thanks for your reply.
It does not work on emulator - Genymotion.
Will test on real device and report back.

[code]

[2015-03-02 18:48] okonon commented on #16
@dbaq it works ! thanks

[2015-03-02 18:48] #16 closed, assigned to dbaq

[2015-03-03 11:05] dbaq commented on #2
@aharris88 I changed the plugin id. I thought it was way more complicated than that. Could you try to submit the plugin one more time please?

[2015-03-03 12:15] dbaq commented on #18
@Kiam9000 glad it works. Let us know if you have over issues.

[2015-03-03 12:15] #18 closed, assigned to nobody

[2015-03-03 12:16] dbaq commented on #7
Closing this one. Feel free to reopen if the problem persists.

[2015-03-03 12:16] #7 closed, assigned to dbaq

[2015-03-04 01:02] agarrharr commented on #2
Ok, I submitted it. Here it is: https://build.phonegap.com/plugins/1999

[2015-03-05 14:10] dbaq commented on #2
Great, thanks @aharris88.

Does that mean we have to submit it again every time we push a new version or do we just have to update the version value in package.json?

Also I am reopening this one as a reminder for myself to update the documentation. I will close it after.

[2015-03-05 17:39] agarrharr commented on #2
I'm guessing that all you need to do is update the version in plugin.xml and add a git tag like they do here: https://github.com/phonegap-build/PushPlugin/releases

[2015-03-10 05:18] adbl commented on #14
+1 !

[2015-03-15 17:44] arieljake opened #21 "I love you for this project!"
(Haven't used it yet...but I will tonight!)

[2015-03-15 17:45] dbaq commented on #21
Let us know if you have any questions :beer:

[2015-03-15 17:45] #21 closed, assigned to nobody

[2015-03-17 16:15] jermahs opened #22 "iPhone 6, 8.2 Input & Keyboard Disappear"
Just installed the cordova-sms-plugin and love it. However, I noticed an issue where the input and keyboard disappear almost instantly when it shows the native iMessage screen. It's there, flickers and disappears. If I then click on the input field to add contacts it'll come back showing the message I am trying to send and the keyboard.

Has anyone else run into this issue? Any resolution?

My opt

[2015-03-17 16:34] dbaq commented on #22
hey @jpgilchrist,

Thanks for the feedback. I've never experienced this issue in the past. Unfortunately I don't have any iPhone 6 to test where I am right now. Have you been able to reproduce the issue on other iPhones (5,6+)? Or other iOS versions?

@aharris88 do you have an iPhone 6 to test please?

[2015-03-17 16:35] agarrharr commented on #22
I can test on an iPhone 5.

[2015-03-17 16:37] bnockerts commented on #22
I'm running into this same issue on an iPhone 5s running iOS 8.1. The interesting thing is that it works fine if I just provide a message with no phone number. When I use the plugin with a phone number the message flickers and disappears.

[2015-03-17 20:21] jermahs commented on #22
Unfortunately, we don't have an iPhone 5S or lower to test on at the moment. If I get my hands on one in the next few days, I'll update the thread.

[2015-03-18 16:15] agarrharr opened #23 "Publish to the Cordova Plugin Registry"
Here's the Cordova Plugin Registry:

http://plugins.cordova.io/

And here's how to submit:

http://cordova.apache.org/docs/en/edge/guide_hybrid_plugins_index.md.html#Plugin%20Development%20Guide

[2015-03-18 16:16] agarrharr commented on #23
I went ahead and submitted with my username: aharris88. Here is the listing: http://plugins.cordova.io/#/package/com.cordova.plugins.sms

We will need to update this anytime there is a change to the plugin.

[2015-03-18 16:19] agarrharr opened #24 "Update listing on ngCordova"
The ngCordova sms plugin is still pointing to the outdated version of this plugin. It should be updated.

http://ngcordova.com/docs/plugins/sms/

I submitted an issue here:

https://github.com/driftyco/ng-cordova/issues/676

but maybe we should just go ahead and submit a pull request.

[2015-03-19 22:04] spyjo opened #25 "Multiple recipients problem"
Hello,

I have a problem with sending SMS to multiple recipients, I tried with separating with , or ; but only the first number listed is receiving the message in both cases.

Here is the code:

[code]

I tried on Android 4.4 or Android 5.0
Is there something else I can try or is this a bug ?

Thank you

[2015-03-19 22:10] dbaq commented on #25
hey @spyjo,

could you try to use an array instead please:

[code]

let me know if it works.

the string parameter should work though, I need to look into it.

[2015-03-19 22:33] agarrharr commented on #25
Should it work as a string though? I see no reason to support that. It makes sense to me that it should either be a single number as a string, or an array of strings.

[2015-03-19 22:33] spyjo commented on #25
I tried with an array but it's the same result, only the first number receive the message

I added a debug line in www/sms.js in send():

`console.log('sms.send | phone = '+phone+' , typeof phone = '+typeof(phone)+' , type tostring = '+Object.prototype.toString.call(phone));`

and the result is:

`I/chromium(30156): [INFO:CONSOLE(23)] "sms.send | phone = 01000000, 02000000, 03000000 , typeof phone

[2015-03-19 22:46] dbaq commented on #25
@aharris88,  I don't think it makes sense to maintain that neither.

@spyjo, I can confirm the issue. I will look into it.

[2015-03-19 22:56] dbaq commented on #25
the issue comes from here https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L139

we need to iterate over the list of numbers and call http://developer.android.com/reference/android/telephony/SmsManager.html#sendTextMessage(java.lang.String, java.lang.String, java.lang.String, android.app.PendingIntent, android.app.PendingIntent) for each.
The tricky part here, is

[2015-03-19 23:27] dbaq commented on #25
That raises some questions about the plugin behavior and consistency.

if you use the plugin with intent = "INTENT" and phones = ['number1', 'number2'], it is sending only one group message (like iOS)

but if intent = "" and phones = ['number1', 'number2'], it would send 2 separate messages, so inconsistency here.

IMHO, we should clearly explain the difference between a group message and a simple

[2015-03-19 23:39] spyjo commented on #25
Ok thank you for looking into it :)
Tell me if you need me to do some tests

[2015-03-19 23:42] agarrharr commented on #25
I think it should be consistent. So it could be that sending an array of numbers with or without intent, should send a group message. But if you send an array of numbers without intent, maybe you could set an option to send them individually.

[2015-03-19 23:47] dbaq commented on #25
Sending a group message without intent is "impossible" (I haven't found anything online about it yet)

@spyjo, what is your use case here? Group message or n times the same message?

[2015-03-20 00:11] spyjo commented on #25
I need to send the same message to a list of contacts, without showing the default sms app, and then display one confirmation that all messages are sent.
It's not necessarily a group message I think, I'm not sure

[2015-03-23 18:28] dbaq commented on #24
I opened two PR (one for the source code, one for the docs)

https://github.com/driftyco/ng-cordova/pull/691
https://github.com/driftyco/ng-cordova/pull/692

[2015-03-23 18:38] dbaq commented on #17
I haven't found a lot of things but I looked at the other cordova plugins and they all look pretty much the same. They are only testing the JS part with jasmine, I was more interested in testing the native part.

https://github.com/wildabeast/BarcodeScanner/blob/master/spec/barcodescanner.tests.js
https://github.com/phonegap-build/PushPlugin/blob/master/spec/genericpush.tests.js
https://github.com

[2015-03-23 18:44] dbaq commented on #2
Added to the documentation via f8db618bbd56a623dbb70ed293126b94078adce7.

[2015-03-23 18:44] #2 closed, assigned to agarrharr

[2015-03-23 18:46] dbaq commented on #23
Ok good job :+1:

[2015-03-23 18:46] #23 closed, assigned to nobody

[2015-03-23 19:09] dbaq commented on #22
Hey guys, I wasn't able to reproduce the error on an iPhone 5S iOS 8.1.3 (12B466).

Can you guys try on a simple cordova app? (trying to reduce the scope)

here is the code I used:

[code]

[code]

[2015-03-25 23:06] robertervin commented on #22
@dbaq I am using angularjs + ionic + cordova, and using the ngcordova wrapper for this plugin. I am getting the same error described above with the following phones/errors:

`iPhone 6+ iOS8` / `iPhone 6+ iOS8` / `iPhone 5C iOS8` - Screen flicker w/ keyboard, then keyboard disappears until phone # input box is selected, then it returns as normal. It should be noted that this only happens after Mess

[2015-03-26 23:58] jnorris441 opened #26 "Android immediately passes success back to app?"
The iOS composer waits to see if the message was sent or cancelled and fires the right callback. The Android version immediately fires success whether they end up sending or not.

There is not a way to make Android behave like iOS correct?

(this is using INTENT)

[2015-03-27 09:43] dbaq commented on #26
Hi @jnorris441,

Unfortunately, this is a limitation of Android right now, we can't get the result after starting the new activity.

We are using ACTION_SEND or ACTION_VIEW and these intents won't return results.

see
https://developer.android.com/reference/android/content/Intent.html#ACTION_VIEW (output: nothing)
https://developer.android.com/reference/android/content/Intent.html#ACTION_SEND (out

[2015-03-27 09:43] #26 closed, assigned to nobody

[2015-03-27 17:49] agarrharr commented on #22
To be honest, I'm probably not going to find the time to test on an iPhone.

[2015-03-28 00:04] spyjo opened #27 "SMS History"
Hello,

I was wondering if there is a way to tell to Android to not save the message sent with the empty intent ?
Actually when I send a message, it is saved directly in sms history in the sms app.

Thanks

[2015-03-28 17:43] spyjo commented on #25
To update this issue, for now I have fixed my problem with a "for" on each number to send messages, counting error and success, and detect when I received the last callback (total success+errors = total numbers) to display my popup "SMS are sent".

For your previous question, I can confirm I do not want to send a group message, but anyway if you need it in your plugin I think that in the android d

[2015-03-28 21:16] satyagvns opened #28 "I am unable to send message in backend"
Hello,

I started working on phone gap and I got requirement like, send sms in back end. I am trying your plugin. When I click on "send sms" button. It is opening hangouts. I tried both options available in your example. But I am unable to send back end.

Can you please help me in this.

Thanks,
Satya

[2015-03-28 21:19] satyagvns commented on #28
I am generating apk using build.phone gap.com

It is giving me app-debug.apk. is debug blocking back end process? Just to clarify. Or am I doing any wrong?

[2015-03-29 19:08] dbaq commented on #22
@RobertErvin, I tried again but I can't reproduce. Can you try with a simple cordova app + sample code of the plugin please?

side question: are you using ionic keyboard for your project? (https://github.com/driftyco/ionic-plugins-keyboard)

[2015-03-29 19:16] dbaq commented on #28
Hi @satyagvns,

I am sorry, I don't really understand the issue here. When you said "send sms in back end", are you talking about sending a text message from a server or directly from your app?

If you don't want to open the default SMS application on android and directly send the text message, you have to let blank the INTENT option:

[code]

[2015-03-29 19:19] satyagvns commented on #28
I have tried this also... But it is opening my default message application

[2015-03-29 19:20] satyagvns commented on #28
If you want I can share my sample code with you

[2015-03-29 20:02] dbaq commented on #25
@spyjo that's definitely what you should you for now.

what we should do here:
- update the documentation to say that an array of phone numbers will send a group message (MMS) and that's not supported for INTENT='' on android
- add MMS support #14 to send group messages

[2015-03-29 20:04] dbaq commented on #28
@satyagvns definitely, that would be very helpful.

[2015-03-29 20:52] dbaq commented on #27
As far as I know, this is not possible. I might be wrong but I quickly looked for it and haven't find anything.

[2015-03-30 16:01] satyagvns commented on #28
@dbaq
1. HTML CODE : https://github.com/shainfotech/abhaya/blob/master/www/index.html
2. JS CODE : https://github.com/shainfotech/abhaya/blob/master/www/js/index.js

I didn't change anything in Java code for android... I need this feature very badly... Could you please help me on this

[2015-03-30 18:52] dbaq commented on #28
@satyagvns, are you using https://build.phonegap.com/plugins/1999?

I tagged a new version so you can have the latest version available on phonegap build.

Your code looks fine to me. So just wait for the new version on PB. It should be available tomorrow I think.

[2015-03-30 18:55] satyagvns commented on #28
@dbaq, Yes. I am using that one only. Once the latest version available, do I need to checkout new one or pull request is enough to upgrade to new version.

Thanks,
Satya

[2015-03-30 18:57] dbaq commented on #28
in your config.xml, you have the following line:

[code]

you will have to replace it by

[code]

or you can use

[code]

but that this will result in your app being automatically updated with new versions of this plugin as they are released, and may result in unexpected behaviour.

[2015-03-30 19:01] satyagvns commented on #28
@dbaq, Thanks for your information. I am eagerly waiting for that new version for sending sms in background

Thanks a lot for your precious help

[2015-03-30 19:58] dbaq commented on #28
@aharris88 could you check if a tagged version is enough or if we have to upload a new version?

[2015-03-30 21:33] agarrharr commented on #28
@dbaq Yes, I think so, but I think we need to leave the 0.1.1 version up, for people that haven't upgraded.

[2015-03-31 15:55] satyagvns commented on #28
Today I will try with version 0.1.2 and let you know, If I face any problem

[2015-03-31 16:36] satyagvns commented on #28
Unable to create app: plugin unsupported: com.cordova.plugins.sms @ 0.1.2

I am getting this error while generating apk in build.phonegap.com

[2015-03-31 16:52] agarrharr commented on #28
Phonegap Build didn't get the new version yet. I asked a question on their Google Group to find out how to make sure that it updates: https://groups.google.com/forum/#!topic/phonegap/2bWTxxu3j-k

[2015-03-31 16:56] satyagvns commented on #28
Hi Team,

Thanks for your quick response. I will wait for your latest reply on this.

[2015-03-31 21:59] agarrharr commented on #2
Turns out that you have to re-submit here every time it updates: https://build.phonegap.com/plugins#add

[2015-03-31 21:59] agarrharr commented on #28
I just submitted the new version. Try now.

[2015-03-31 22:02] agarrharr commented on #23
I updated to v0.1.2 with the `plugman publish` command.

[2015-04-01 17:00] satyagvns commented on #23
@aharris88 @dbaq

Thanks a lot for your support on this.

My Repo : https://github.com/shainfotech/abhaya

I am using build.phonegap.com to generate my apk file. My mobile is google nexus 5.

Still I am facing the same problem. it is opening my native message app (hangouts). Do I need to change anything in my phone settings? or anything I need to change in my code?

Thanks,
Satya

[2015-04-01 17:11] aharris88 commented on #23
I think you commented on the wrong issue?

[2015-04-01 17:14] satyagvns commented on #28
@aharris88 @dbaq

Thanks a lot for your support on this.

My Repo : https://github.com/shainfotech/abhaya

I am using build.phonegap.com to generate my apk file. My mobile is google nexus 5.

Still I am facing the same problem. it is opening my native message app (hangouts). Do I need to change anything in my phone settings? or anything I need to change in my code?

When I try to checkout latest g

[2015-04-02 18:03] satyagvns commented on #28
@dbaq @aharris88

Any update. I need this plugin to be working. this feature is very important to my project.

Thanks,
Satya

[2015-04-05 22:04] agarrharr commented on #24
It looks like your pull requests got merged.

[2015-04-05 22:04] #24 closed, assigned to dbaq

[2015-04-07 00:41] jnorris441 commented on #22
@RobertErvin  Change animated:YES to NO in SMS.m

[2015-04-07 17:04] dbaq commented on #22
Let me know if it fixes the issue, I will apply the changes on master.

[2015-04-07 17:06] dbaq commented on #28
hey @satyagvns,

everything is fine for me when I am fetching the plugin

[code]

[code]

Which version are you using?

[2015-04-13 10:59] Dineshrajaa opened #29 "How to prepopulate the message content in android?"
Hello all,
 I am trying to use this plugin in a test app which was successful in IOS(I mean the number and the message i am entering in the textbox is getting prepopulated in the native SMS Composer of IOS) but in Android its only populating the number field but the message is empty how can i fix this issue??

I took online build and tested and the plugin version i tried up is 0.1.2 and the Androi

[2015-04-14 07:55] leila-net commented on #11
I use sms plugin for cordova , but sent message is not showing in inbox !!! is there any way to add message to inbox or it should be there and my code is incorrect ?

## this is my call for function :

   var messageInfo = {
                                          phoneNumber: $scope.mobiles[i].mobile,
                                          textMessage: $scope.mobiles[i].message

[2015-04-14 17:48] icanb commented on #22
Changing animated:YES to NO in SMS.m worked for me as well, but it looks a little ugly.

[2015-04-14 20:30] geri777 commented on #29
+1 same issue, here.

[2015-04-16 10:50] everclear72216 opened #30 "Linking issues on arm64"
MFMessageComposeViewController gives me issues complaining about undefined symbols. I already tried removing and adding frameworks like MessageUI and CoreTelephony. However that didn't change anything.

I have little experience in native iOS development. Could someone help me out?

Trying to remove/add the frameworks again helped... no idea why it didn't work the first time.

[2015-04-16 11:17] #30 closed, assigned to nobody

[2015-04-17 00:00] dbaq commented on #28
@satyagvns, are you still experiencing this issue?

[2015-04-17 00:01] dbaq commented on #27
I haven't found any options for that. I am closing this issue for now, feel free to reopen it if you have more information.

[2015-04-17 00:01] #27 closed, assigned to nobody

[2015-04-17 00:23] dbaq commented on #29
Hey guys, I just tried with the code on master (v.0.1.2) on my nexus 5 (with Lollipop). The text is displayed correctly in the hangout app with the code on the readme.
![2015-04-17 00 12 51](https://cloud.githubusercontent.com/assets/1867703/7194028/4343ea8e-e45d-11e4-8f89-bb3171f275ee.png)

Are you guys using phonegap build or cordova? Can you share some code please?

Thanks

[2015-04-17 03:59] Dineshrajaa commented on #29
Ya sure I could share my code, kindly clone it from here https://github.com/Dineshrajaa/SMSManager.git . I am using Phonegapbuild and the problem was with Messaging app I didn't check in Hangout buddy.

[2015-04-17 05:06] dbaq commented on #29
Could you check with hangout please? I am curious to know if it's working.

[2015-04-17 05:28] dbaq commented on #29
Ok I cloned and used the repo you mentioned above with a regular cordova app (not via phonegap build). It works fine for Hangouts, Messaging, and Hello.

![2015-04-17 05 24 27](https://cloud.githubusercontent.com/assets/1867703/7196486/8c947b3e-e487-11e4-95dd-3d0b93c0cee3.png)

I am gonna see if I can create a phonegap app but I am not sure we can do it for free anymore.

[2015-04-17 05:50] dbaq commented on #29
Ok, I forked the repo you mentioned and created a phonegap build (https://build.phonegap.com/apps/1412679/builds), can you download the APK file and try ? it is working for me.

[2015-04-17 06:29] Dineshrajaa commented on #29
Just now tested your build https://build.phonegap.com/apps/1412679/builds still i couldn't get the message content populated in Messaging and another issue is i couldn't open Hangouts its directly taking me to Messaging app where the number is getting populated but not the message :(

[2015-04-17 06:31] dbaq commented on #29
Hangouts needs to be the default sms app (in your phone preferences), to open normally.

which phone are you testing on? which exact version of android too please?

[2015-04-17 06:43] Dineshrajaa commented on #29
I am testing on Samsung Galaxy S4 and its android version is 5.0.1

and in kitkat based mobile its prompting me to choose whether to open Hangout or Messaging but not in Lollipop powered device

[2015-04-17 06:46] dbaq commented on #29
do you have any other android devices to test on?

[2015-04-17 06:48] Dineshrajaa commented on #29
Hmm no buddy

[2015-04-29 10:10] olasfar commented on #14
+1

[2015-04-30 23:09] brody2consult opened #31 "Windows "Universal" version"
Should support Windows 8.0 (??)/Windows 8.1/Windows Phone 8.1

[2015-04-30 23:20] brody2consult commented on #31
For Windows Universal, it is "cleanest" to do this purely in Javascript. As reported in litehelpers/Cordova-sqlite-storage#248, they need an immediate solution.

For Windows 8.0/8.1, it is possible to add DeviceCapabilities="sms" to the app manifest and use Windows.Devices.Sms.SmsDevice but this does _not_ work for me targeting Windows Phone 8.1. Ref:
- https://msdn.microsoft.com/en-us/library/win

[2015-04-30 23:24] dbaq commented on #31
that would be a great addition! thanks

[2015-05-08 17:30] azywong commented on #14
+1

[2015-05-11 20:29] tobiasmuecksch opened #33 "Sms.java:35: error: local variable args is accessed from within inner class; needs to be declared final"
Hi guys.
I tried to build my App for Android. My App includes this plugin.

But the Build always fails with the following error:
`Sms.java:35: error: local variable args is accessed from within inner class; needs to be declared final`

Im using:
- Cordova 5.0.0
- cordova-sms-plugin: 0.1.3

I guess this plugin is not compatible with cordova 5.0

Will there be any 5.0 support?

[2015-05-11 20:31] dbaq commented on #33
Hi @tobiasmuecksch,

Thanks for reporting the issue. I will try to look at it very soon.

[2015-05-11 20:40] brody2consult commented on #33
@tobiasmuecksch for a quick fix: on line 27 (`public boolean execute(String action, JSONArray args, final CallbackContext callbackContext) throws JSONException`...) you should be able to just declare `JSONArray args` as `final` to make the compiler happy.

[2015-05-11 20:41] dbaq commented on #33
Might be related to the merge of https://github.com/cordova-sms/cordova-sms-plugin/pull/32

[2015-05-11 20:42] brody2consult commented on #33
Yup

[2015-05-11 20:43] tobiasmuecksch commented on #33
Thank you guys so much!

[2015-05-11 20:43] dbaq commented on #33
That's my bad, I merged it without testing myself. I will try to find a moment tonight to fix it.

[2015-05-11 20:50] brody2consult commented on #33
@tobiasmuecksch, you can use the following change to compile:

[code]

Haven't run it yet.

@dbaq please let me know if you want me to run a quick test (should be able to test it on my mobile) and issue a PR.

[2015-05-11 20:51] dbaq commented on #33
That would be awesome! Thanks

[2015-05-11 21:07] brody2consult commented on #33
Just tested on my mobile and issued the fix in PR #34

[2015-05-11 21:09] tobiasmuecksch commented on #33
You guys are awesome!

[2015-05-11 21:17] dbaq commented on #33
Well @brodybits is awesome! I merged the PR. Thanks!

[2015-05-11 21:17] #33 closed, assigned to nobody

[2015-05-11 21:18] dbaq commented on #28
Closing this issue. Feel free to reopen it if you are still experiencing this issue.

[2015-05-11 21:18] #28 closed, assigned to nobody

[2015-05-11 21:49] dbaq commented on #29
Are you still experiencing this issue? where you able to test on another device? it looks like it is a configuration on your lolipop device.

[2015-05-18 06:01] Dineshrajaa commented on #29
At present I am not having any other android device powered by Android Lollipop will update this issue if i get one, thanks for keeping track of the bug report.

[2015-05-26 16:50] Paul-Isache opened #35 "iOS intent"
Hi!
Is it possible to send a SMS from the app on iOS without exiting the app? I have tried the intent option but in doesn't work.
My phone runs on iOS 8.3.

Thanks! :)

[2015-05-26 16:54] dbaq commented on #35
hi @Paul-Isache

Unfortunately, it is not possible.

See readme:

[code]

[2015-05-26 16:54] #35 closed, assigned to nobody

[2015-05-28 01:43] kentmw commented on #25
Is this issue closed? It sounds like multiple recipients is possible with what @dbaq said

[2015-05-28 01:49] kentmw commented on #14
+1

[2015-05-28 03:59] dbaq commented on #14
Quick question: what type of documents you guys want to attach? images? videos? audios?

[2015-05-28 04:09] kentmw commented on #14
I just want to be able to send multiple recipients. I believe that MMS is required for that, correct?

[2015-05-28 04:10] dbaq commented on #14
yes for android (if you want to start a group message)

[2015-05-28 07:54] olasfar commented on #14
I want to attach an image. Thx @dbaq

[2015-05-28 16:29] dbaq commented on #25
Closing this one, it will be managed in #14

[2015-05-28 16:29] #25 closed, assigned to dbaq

[2015-05-29 01:49] dbaq commented on #14
Alright guys, I would like some feedbacks on the new JS API for this plugin. Here is what I want to do:

Two functions to improve readability and avoid confusion:
- `sms.sendSMS = function(recipient, message, options, success, failure)`
  The function send(..) will be renamed into sendSMS(..) and will be the same as today. It will accept only one recipient (or null), with the possibility to send t

[2015-05-29 05:42] kentmw commented on #14
I think what you outlined works well. I worry about backwards compatibility if you change the api to sendSMS. Can you keep send and forward it to sendSMS?

[2015-05-29 05:46] dbaq commented on #14
Yep already thought about that. Look at this commit:
https://github.com/cordova-sms/cordova-sms-plugin/commit/87a6f3b91b6367b8615ab2a4352f8fb5aaaf1969

[2015-05-29 07:48] brody2consult commented on #14
I am sorry to say that I do not really like this idea. The telecom industry has made efforts towards unified messaging, see: http://en.wikipedia.org/wiki/Unified_messaging; iOS was a nice example 8 years ago.

Better to add to the `options` object, and/or add new (optional) parameters, that can specify whether you want to use SMS or MMS.

[2015-05-29 08:03] olasfar commented on #14
@dbaq I agree with @brodybits

Can't we keep the old function "sms.send()" and count on `options.attachments` to do the switch ?

[2015-05-29 15:24] dbaq commented on #14
Alright alright, that seems a good argument as well + no need to update your current implementations. I will do a first iteration on a branch for iOS over the weekend.

So does everybody agree on:

`sms.send(recipients, message, options, success, failure);`
- recipients: could be null, a string or an array
- message: string or null
- options: we add attachments in it (we'll see the format later)

[2015-05-29 15:26] olasfar commented on #14
Sounds perfect :)

[2015-05-29 15:37] brody2consult commented on #14
Thanks :+1:

[2015-05-29 17:06] kentmw commented on #14
Beautiful

[2015-05-29 17:13] brody2consult commented on #14
I would actually suggest some form of an override option, in case someone wants to send MMS to a single recipient with no attachments, for example. (Existence of an attachment would definitely eliminate the SMS option.)

[2015-05-29 17:15] agarrharr commented on #14
Another reason you might also want an override option is because you might want to send single sms messages to multiple recipients.

[2015-05-29 17:29] dbaq commented on #14
@brodybits what would be the use case? Why would you want to send a MMS without attachment to a single number?

@aharris88, I really don't like this idea of sending a single SMS to multiple recipients. It complexifies the code of the plugin (especially for android without starting the composer), what do you return if there is an error for the nth recipient? should you stop at the first error? shou

[2015-05-29 17:46] brody2consult commented on #14
On May 29, 2015 7:29 PM, "Didier Baquier" notifications@github.com wrote:

IMHO we should be very careful. We never know what people will need for a
use case.

My vote would be to have the simplest API, always with a manual override if
not manual selection just in case, and let higher-level libraries provide
additional features that people may think of.

My $0.02 worth.

[2015-05-29 18:04] dbaq commented on #14
Definitely, I want to provide the simplest and the less confusing API possible. This parameter can always be added later if needed by somebody.

I am going to stick with https://github.com/cordova-sms/cordova-sms-plugin/issues/14#issuecomment-106844871 for the first iteration.

[2015-05-29 19:23] agarrharr commented on #14
I think that's a good call and the easiest to implement. I don't think the 2 edge cases we mentioned are worth supporting.

[2015-05-29 22:55] dbaq commented on #14
You guys can follow the development on the https://github.com/cordova-sms/cordova-sms-plugin/commits/WIP_MMS_support branch. I will come back to you when I got something stable on iOS.

[2015-05-31 04:22] dbaq commented on #14
Alright guys, I believe I've got something working for iOS on this branch: https://github.com/cordova-sms/cordova-sms-plugin/commits/WIP_MMS_support.

![img_9017](https://cloud.githubusercontent.com/assets/1867703/7900479/9eff3124-070f-11e5-9cab-83c94810c9b8.PNG)

I rewrote the majority of the plugin, so it would be great if some of you can also test it on real devices. I tested it against an iPho

[2015-06-02 23:10] connor11528 commented on #14
awesome! I would like to use this to send MMS. I've built an app with ionic framework

[2015-06-02 23:12] dbaq commented on #14
Well, it is only on iOS so far, you can try out the branch and make some feedbacks if you want. Be aware that this feature is still in development and is not production ready. But I would definitely love if you guys can test it.

[2015-06-02 23:13] connor11528 commented on #14
ok thanks. any idea of mms plugin support for android? I have yet to sign up for apple developer account

[2015-06-02 23:15] dbaq commented on #14
This one, I just need time to support MMS for android. I am quite busy this week but I will try to push some commits.

[2015-06-03 19:22] connor11528 opened #36 "phone number format"
I load in my contact's phone numbers and then send sms. The sms will send to some contacts but not others. I think it is due to how the contact's phone numbers are formatted.

415 279-5665    // will not send
+1 909-851-1662   // will send

What are the rules about formatting phone numbers in order to send sms?

[2015-06-03 19:23] dbaq commented on #36
which platform?

[2015-06-03 19:24] connor11528 commented on #36
android

[2015-06-03 19:27] dbaq commented on #36
there are pretty much no rule for that, are you using an intent or not?

[2015-06-03 19:29] dbaq commented on #36
And please provide some code so I can reproduce. Thanks

[2015-06-03 19:49] connor11528 commented on #36
yeah you're right. I don't think the phone number matters. The code is standard:

[code]

I get the success alert for every send. The sms sends from android to android but not android to iphone

[2015-06-03 19:59] dbaq commented on #36
The success callback is fired when the SMS is sent not delivered. I never experienced or heard any issues about sending a SMS from android to iphone. Can you do more tests please?

[2015-06-03 20:06] connor11528 commented on #36
yeah will do. thanks for quick responses

[2015-06-03 20:57] connor11528 commented on #36
I added some options and I'm getting better behavior. Don't know why the sms was not delivered earlier:

`.send(number, gifUrl, {android: { intent: 'INTENT' }},`

[2015-06-03 20:57] #36 closed, assigned to nobody

[2015-06-03 21:25] dbaq commented on #36
Interesting. So if you are using:
`.send(number, gifUrl, {android: { intent: '' }},`, it does not work?

[2015-06-04 16:23] connor11528 commented on #36
Sorry. Adding the options object helped me make sure the message was sent. This is an awesome plugin

[2015-06-04 16:29] brody2consult commented on #36
@jasonshark can you be more specific about what options object you had to add? I suspect this can help many others. (It was a pain to solve these problems on the telco side!)

Yeah!

[2015-06-08 16:40] connor11528 commented on #36
specifying the options object as the third parameter to the `.send()` method: `{android: { intent: '' }` helped make sure the message was delivered. Looking forward to MMS support so I can send the actual gif image instead of the gifUrl string

[2015-06-09 13:23] kentmw commented on #14
If you need an android tester, I'll be willing

[2015-06-09 14:45] dbaq commented on #14
Android is more complicated than I thought. I have no good result so far. I can't attach more than one file (and the result depends on the intent that you pick to send the MMS). Does someone have some shareable source for sending MMS on Android?

[2015-06-09 14:56] kentmw commented on #14
Did the multiple recipients part work? or is that also an issue?

[2015-06-09 16:38] dbaq commented on #14
On android, I only focused on attaching images so far.

[2015-06-14 14:20] kentmw commented on #14
@dbaq, If it's okay with you, I'm going to spend the next hour with the goal of getting multiple recipients using an android intent. I'll post back any findings

[2015-06-14 15:00] kentmw commented on #14
I'm using phonegap build, so my ability to verify my patch is non-existent. If anything, I hope it helps get the ball rolling. In doing some research in it, it seems totally doable with only a few tweaks.

[2015-06-14 16:18] brody2consult commented on #14
@kentmw please see my comments and results of quick testing for your changes in #37.

[2015-06-21 14:28] janie624 opened #39 "Message not sent on iOS 8.3"
I tried to send message on iOS 8.3 but it's not working.
Here is my code;
    var success = function () { console.log('Message sent successfully'); };
    var error = function (e) { console.log('Message Failed:' + e); };
    var options = {
      replaceLineBreaks: false
    };

   sms.send(recipient.mobileNumber, $scope.message.body, options, success, error);
   console.log('end');

I can see log

[2015-06-21 16:04] dbaq commented on #39
what are you using? Cordova? Phonegap? Ionic?

Are you sure the plugin is imported correctly?

[2015-06-21 19:14] rijine opened #40 "How to read/list messages/sms?"

[2015-06-22 02:06] janie624 commented on #39
Thanks for your reply.
I'm using both cordova and phonegap. I think that the plugin is installed correctly. I debugged it using Safari and it ran

[code]

and no any result.
I'm running my app using this command.
cordova run ios --device
What's wrong with me?

[2015-06-22 17:04] dbaq commented on #40
This plugin does not list/receive messages. It only sends SMS.

You can have a look at: https://github.com/dimitrismistriotis/ReadSmsCordovaPlugin

[2015-06-22 17:04] #40 closed, assigned to nobody

[2015-06-22 17:06] dbaq commented on #39
are you using a simulator or real devices?

AFAIK, it will work only on a real device.

[2015-06-22 17:08] janie624 commented on #39
I'm using my iPhone 5s.
Is there any other configuration I have to to before I run cordova run command?

[2015-06-22 17:19] dbaq commented on #39
I just tested on iphone 6 with iOS 8.3, the message ui fired properly and the text message was sent and received.

can you test your code on an android device?

[2015-06-22 17:21] dbaq commented on #39
are you sure that when you are calling sms.send, the deviceready event from cordova has been fired?

try something like that.

[code]

[2015-06-22 17:26] janie624 commented on #39
I'm sure I have called it after device ready.
I'm sorry but I have not setup android env right now.
Can you please check this repository to see what I am doing wrong? I'm a beginner with cordova indeed.
I appreciate your help. Thanks.

[2015-06-22 17:39] dbaq commented on #39
this one https://github.com/sieraruo/notify?

[2015-06-22 17:40] janie624 commented on #39
yeah correct.

[2015-06-22 17:41] dbaq commented on #39
Ok, I will have a look at it.

[2015-06-22 17:42] janie624 commented on #39
Message send function is in https://github.com/sieraruo/notify/blob/master/src/js/controllers.js.
Thanks again for your help.

[2015-06-22 18:49] rijine commented on #40
@dbaq : My question is y dont u add reading sms to this plugin?

[2015-06-22 18:50] dbaq commented on #40
For feature request you can open an issue and explaining in details what you need.

[2015-06-23 04:13] dbaq commented on #39
So I have tested your code on real devices (iphone 5s, nexus 5). The good news is that everything is working perfectly on both platforms.

The bad news is it's a configuration issue of your xcode project and that's annoying to find out :D

In xcode, make sure that `sms.m` is in compile sources. And make sure that `MessageUi.framework` is in Link binary with libraries.
![screen shot 2015-06-22 at 8

[2015-06-23 07:04] janie624 commented on #39
Hi Didier,

Thanks for your effort. I really appreciate your help.

[2015-06-23 16:13] janie624 commented on #39
Hi Didier,
I could send sms by changing Xcode project settings.
Thanks a lot.

[2015-06-23 16:13] dbaq commented on #39
Congrats!

[2015-06-23 16:13] #39 closed, assigned to nobody

[2015-06-29 23:41] kentmw commented on #14
@brodybits, my commit should have allowed android devices to send MMS to multiple users. I believe @dbaq got it so iOS devices can also send MMS to multiple users. I realize that while this doesn't fulfill everything that has been requested, it does meet my requirements. Can we perhaps separate sending to multiple recipients and sending images/videos into different issues? I would really like to h

[2015-06-29 23:53] dbaq commented on #29
Closing this issue. Feel free to reopen if you are still experiencing it on different devices.

[2015-06-29 23:54] #29 closed, assigned to dbaq

[2015-06-29 23:59] dbaq commented on #14
@kentmw, you are right, we can split that into 2 different PR. But your PR was not fully complete for android. We still cannot send a group message without opening another Intent.

So before delivering the next version with multiple recipients, this point needs to be addressed.

[2015-06-30 00:09] kentmw commented on #14
@dbaq, thanks, sounds good. Before I try and get it to send a group message without opening another Intent, maybe you could point me in the right direction. Are you asking for

[code]

to not create an Intent, or are you asking that

[code]

also handle group messages

[2015-06-30 00:11] dbaq commented on #14
the send method (this one is called if the `intent` parameter is empty) should handle group messages.

but the sendTextMessage method at this line
https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L150 does not support multiple recipients, so we should use another method.

[2015-06-30 00:16] kentmw commented on #14
First 2 seconds of googling: http://stackoverflow.com/questions/7772588/how-to-send-text-message-to-more-than-1-number

Suggests looping and sending for each number. I'll keep browsing for alternatives. Could be a stopgap

[2015-06-30 00:18] dbaq commented on #14
The whole point of this issue is to send group messages and attach files. Both require using MMS, not SMS. Iterating over an array is not the solution.

[2015-06-30 00:19] kentmw commented on #14
Yes, of course, I wasn't thinking. You want to start a group thread even if the user wasn't the one who clicked send.

[2015-06-30 00:22] dbaq commented on #14
Exactly. Sending MMS on android is a real pain since there is no Android API for that, I am considering using another library like https://github.com/klinker41/android-smsmms

[2015-07-02 14:48] jcsena opened #41 "In the platform android always triggered success event before send the sms"
In the platform android always return success event before send the sms

run the example code in IOS succefully but in android triggered success before send

[code]

thx

[2015-07-02 16:06] dbaq commented on #41
Please see https://github.com/cordova-sms/cordova-sms-plugin/issues/26.

[2015-07-02 16:06] #41 closed, assigned to nobody

[2015-07-10 03:38] eamoto opened #42 "The main app closes when opening android's native message window"
As stated above, when the android's native message window appears.. My app closes.. Please check my code below.

This is only happening on android. Not happening on iOS.

$scope.sendSMS = function(details) {
        var number = 'xxxxxxx';
        var message = "Some message here";

[code]

[2015-07-17 06:02] marcel-ernst opened #43 "ios should use a background thread"
THREAD WARNING: ['Sms'] took '299.614014' ms. Plugin should use a background thread.

[2015-07-17 11:55] zeeshanjan82 commented on #14
Just tried the plugin for sending sms and it works great! however I also need to implement MMS support and am not sure if there is any support for sending MMS on android using this plugin or any of its branches. Please suggest also if I use another plugin for sending MMS like this one: https://github.com/christyrajupaul/Phonegap-MMS-Plugin then I get a duplicate plugin load error because both are

[2015-07-17 12:05] zeeshanjan82 commented on #14
@christyrajupaul I get the following error when using the plugin https://github.com/christyrajupaul/Phonegap-MMS-Plugin

Uncaught module org.apache.cordova.plugin.sms.Sms already defined

[2015-07-19 17:02] dbaq commented on #14
@zeeshanjan82, this branch is still under development. MMS on android is a complex thing to support. As of today, this branch works only for iOS, not Android.

The phonegap-mms-plugin is a fork, open issues there if you need assistance. Use the issues on this repository only to talk about this plugin (cordova-sms-plugin), thanks.

[2015-07-19 17:04] dbaq commented on #42
Hello @eddieWh0,

That's the first time someone reports this kind of issue. Do you still have the issue? Have you tested on multiple devices? Are you sure about your configuration in the AndroidManifest.xml file? Are you using phonegap build?

Thanks

[2015-07-19 17:37] dbaq commented on #43
Thanks for reporting that. I have starting the fix on this branch: https://github.com/cordova-sms/cordova-sms-plugin/tree/WIP_iOS_bg. I just need to test on a real iphone soon.

[2015-07-19 21:32] garrettlangley commented on #14
@dbaq do you plan to merge this into master without Android support? just curious as to whether we should start using that branch (we only need iOS support)

[2015-07-19 21:38] dbaq commented on #14
No plan on merging it without android support (with and without Intent). It will just bring more confusion + it is a work in progress, I am still not sure about the iOS version. If you guys want to contribute on the android code, do not hesitate.

[2015-07-19 21:40] garrettlangley commented on #14
thanks for the quick response, we may go ahead and start using your feature branch for now with iOS support

[2015-07-19 21:43] dbaq commented on #14
Sure, let me know what you think. About the usage, see this comment https://github.com/cordova-sms/cordova-sms-plugin/issues/14#issuecomment-107125352. Instead of an array of string, I strongly believe that I am going to use:

[code]

so be prepared for "breaking changes"

[2015-07-20 01:06] zeeshanjan82 commented on #14
Thanks @dbaq I was able to send MMS from Android using https://github.com/christyrajupaul/Phonegap-MMS-Plugin It works great.

[2015-07-20 07:56] tusharbhatta opened #44 "Support to read SMS"
It would be a great addition to have support for reading SMS from the phone (android and other if supported).

[2015-07-20 17:13] dbaq commented on #14
The code on the christyrajupaul is a good start but does not work with multiple attachments and does not work without intent.

[2015-07-20 19:22] pungoyal commented on #44
:+1:

[2015-07-21 00:38] zeeshanjan82 commented on #14
@dbaq hmm I agree. Very good point.

[2015-07-21 02:13] eamoto commented on #42
@dbaq I checked on several devices. And it seems that not working on some devices only. One device is Andriod 5.0 version.

[2015-07-21 06:54] firaskudsy opened #45 "ios sms app"
hi, is there any way to send the sms in ios without opening the ios default sms app ? i mean send the sms in the background ?

thanks

[2015-07-21 06:55] dbaq commented on #45
@firaskudsy, no it is not possible due to iOS restriction. Please see the readme for more information: https://github.com/cordova-sms/cordova-sms-plugin#how-can-i-send-an-sms-in-my-ios-app-without-passing-control-to-the-native-app-like-it-can-be-done-on-android

[2015-07-21 06:55] #45 closed, assigned to nobody

[2015-07-21 12:35] ictliujie commented on #22
we had the same problem on send sms in hybrid-way, and the solution is also change animated:YES to NO. What's more, the problem is properly the fault of webview,  if you present the send-sms-controller from a normal viewcontroller other than webview, you would not run into this issue.

[2015-07-22 16:59] mattmarquard opened #46 "Sending Binary SMS"
Is it possible to use this plugin to send binary SMS instead of plain text? At first glance, it looks like it is hard coded although I didn't investigate too hard.

https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L83

[2015-07-22 17:05] dbaq commented on #46
The line you highlighted is only when you don't specify a phonenumber. Otherwise you should be able to pass everything you want I guess.

[2015-07-22 17:11] dbaq commented on #44
I am considering adding this feature at one point. I believe other plugins are already doing the job. So upvote, if you want to be able to read SMS via this plugin.

[2015-07-22 17:12] dbaq commented on #42
@eddieWh0 have you tried with a basic cordova app? are you using something else than cordova?

[2015-07-22 17:20] agarrharr commented on #44
Even if this feature were added, it would probably be better to add it as a separate repo in this organization. One reason is that it would mostly be completely separate code, and another is that it would probably require more permissions. And you should require as few permissions as possible.

[2015-07-22 17:20] brody2consult commented on #44
I would not upvote this feature unless it would work on iOS (which is not
possible if my memory serves me right).

[2015-07-22 20:09] mattmarquard commented on #46
I think you have to explicitly send the message using sendDataMessage() in order to send binary data, which would replace the call here: https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L150 Unfortunately, I don't think the same API calls are available on the iOS platform which is a deal breaker for the use case I was going for.

[2015-07-22 20:10] #46 closed, assigned to nobody

[2015-07-23 11:45] abega commented on #14
@dbaq can you please help me how can I use
https://github.com/christyrajupaul/Phonegap-MMS-Plugin
I am getting the following error.
Uncaught module org.apache.cordova.plugin.sms.Sms already defined
I am using ionic and cordova.

[2015-08-01 09:44] Dineshrajaa commented on #29
You can remove the bug tag, I have tested the same in a Cynogen 12 powered device and in that the message is getting prepopulated in Messaging app..

[2015-08-06 22:49] bobgager opened #47 "How to put Carriage Return in Message"
Love your plug in.
I need to be able to programmatically insert some carriage returns into the message text.
Is there any way to do that?
TIA
Bob

[2015-08-06 23:12] #47 closed, assigned to nobody

[2015-08-09 05:55] rastalamm opened #48 "sms not defined"
I keep getting a reference error in my console stating that sms can't be defined.

All sms.js files are in the correct location.

How can I troubleshoot and solve this?

[2015-08-12 04:06] dbaq commented on #48
are you using cordova? phonegap?

[2015-08-12 08:08] rastalamm commented on #48
Cordova version 5.1.1

In the docs you state it only works with Cordova 3.x and 4.x version.

Guess that is my issue

[2015-08-12 15:46] dbaq commented on #48
No it should work with cordova 5.1.1. Is your code executed after the device ready event has been fired? How are you testing your code? in a browser? in a simulator? or on a real device? android or iOS?

[2015-08-12 19:31] dbaq commented on #29
Thanks for letting me know!

[2015-08-12 19:55] rastalamm commented on #48
Tested my code on Browser, real device, in Ionic view and in the simulator - not sure of the errors I am receiving in the simulator/device as I have no console. I am testing this out on an android.

The code is wrapped in an $ionic.ready function.. Here is a gist of the controller I am using for this.

https://gist.github.com/Rastalamm/3517e26193cd75ec0fb0

[2015-08-12 20:03] dbaq commented on #48
You can access the device console from `chrome://inspect` in chrome, your device must be connected via USB to your laptop. Let me know if you have the error on a real device.

[2015-08-12 20:38] rastalamm commented on #48
When I run it on my device hooked up to my computer, I get the original error..

ReferenceError: sms is not defined
    at Object.send (ng-cordova.js:2)
    at Scope.$scope.sendSms (sms-controller.js:2)
    at $parseFunctionCall (ionic.bundle.js:2)
    at ionic.bundle.js:4
    at Scope.$eval (ionic.bundle.js:2)
    at Scope.$apply (ionic.bundle.js:2)
    at HTMLButtonElement.<anonymous> (ionic.bun

[2015-08-12 20:43] dbaq commented on #48
did you follow that tutorial? http://ngcordova.com/docs/install/

[2015-08-12 20:49] rastalamm commented on #48
Yes, that is where I got the ionicPlatform.ready function from

[2015-08-12 20:54] dbaq commented on #48
what is the output of the following command in a terminal: `cordova plugin list`

[2015-08-12 20:59] rastalamm commented on #48
com.cordova.plugins.sms 0.1.4 "Cordova SMS Plugin"

[2015-08-12 21:02] dbaq commented on #48
Ok, I will try to reproduce your issue by using ngcordova in the following days unless you can share a minimalist project using ngcordova and reproducing the error?

[2015-08-12 21:09] Rastalamm commented on #48
Much appreciated!

[2015-08-12 21:10] rastalamm commented on #48
Much appreciated! Will try to put together something small for you to work on later today.

[2015-08-18 20:51] dmarcos89 commented on #48
having the same issue... any idea why it could happen? thanks in advance!!

[2015-08-21 00:58] justinmasse commented on #42
Experiencing the same issue on a Nexus 5, android version 5.1.1

[2015-08-24 12:02] rajeshwarpatlolla commented on #48
I am also facing the same issue.

[2015-08-24 14:59] dbaq commented on #48
You guys are all using ng-cordova?

[2015-08-24 15:01] rajeshwarpatlolla commented on #48
@dbaq, if you have the solution please let us know.

[2015-08-24 15:02] dmarcos89 commented on #48
hi, i found somewhere that most of the cordova functionalities do not work on ionic view. you only can test them if you have an android device or if you’re an apple developer.

[2015-08-24 15:09] rajeshwarpatlolla commented on #48
Yes, you are right @dmarcos89, thank you so much.

[2015-08-24 15:10] dbaq commented on #48
There are many solutions for the `sms not defined` issue, please answer the following questions, that will help me to reduce the scope of the problem:
- which version of cordova?
- which platform? ios? android?
- are you using ng-cordova?
- when are you getting the error? your browser? a simulator? a real device?
- what's the output of this command `cordova plugin list`
- are you calling the plugi

[2015-08-27 13:06] umar13893 opened #49 "Dual Sim supported.."
Hi,

This plugin is not dual sim supported please any one help me how to fix this.

Help please

Thank you!

[2015-08-27 21:56] avishayhajbi opened #50 "Can not send multiple messages"
when i try to send multiple messages only the firs one is complete.
 var options = {
      replaceLineBreaks: false,
      android: {
        intent: ''
      }
    };

$cordovaSms
      .send("123456,123456", new Date().getTime() ,options)
      .then(function() {
toast('Success');
        // Success! SMS was sent
      }, function(error) {
        toast('Error');
        // An error occurred

[2015-08-27 21:59] dbaq commented on #50
You can't do that. You can only specify multiple phone numbers with `intent: 'INTENT'` to start a MMS.
In your case you have to iterate over you array of phonenumbers and call `$cordovaSms.send()` each time.

[2015-08-27 21:59] #50 closed, assigned to nobody

[2015-08-27 22:00] dbaq commented on #48
Closing this one. If somebody has a `sms not defined`, make sure to check all the questions in my previous post.

[2015-08-27 22:00] #48 closed, assigned to nobody

[2015-08-27 22:02] dbaq commented on #44
It won't happen in this plugin. Feel free to start another repo, I would be happy to reference it.

[2015-08-27 22:02] #44 closed, assigned to nobody

[2015-08-27 22:03] dbaq commented on #22
do you guys still have the issue? even with the latest webviews available?

[2015-08-27 22:04] #3 closed, assigned to nobody

[2015-08-27 22:06] dbaq commented on #42
@justinmasse and @eddieWh0, can you please share a codepen of your minimum code to isolate the issue please? I wasn't able to reproduce.

[2015-08-27 22:07] dbaq commented on #31
Hey @brodybits, is there any chance that you will open a PR any time soon or should I close this one? Thanks.

[2015-08-28 07:55] brody2consult commented on #31
My bad, I promised it 3 months ago. I still need a few weeks due to my own backlog. The good part is that it _should_ be pure JS for Windows "Universal" version. The bad part is that it does _not_ work the same way for Windows 8.1 and Windows Phone 8.1. I am also interested in whether or not it would be any different for Windows 10 (which is supposed to be the same for both desktop and phone).

I

[2015-09-01 20:50] vandervidi opened #51 "Any option to schedule a sms??"

[2015-09-01 20:52] dbaq commented on #51
Hey @vandervidi,

No, there is no options to schedule a SMS. iOS forces the immediate use of the message view controller. And as for Android nothing manage this use case.

[2015-09-01 20:52] #51 closed, assigned to nobody

[2015-09-02 22:40] DaDanny commented on #22
I have been experiencing the same issue with the keyboard and input disappearing from iMessage on iOS and it will reappear once the user clicks the numbers/contact section.

Changing Animated to NO, helped with the issue, but now if I am messaging someone who I have had an ongoing conversation with, a gap is introduced between the bar which says "New Message     Cancel" and the bar which has the "

[2015-09-02 22:50] dbaq commented on #22
which webviews are you guys using? I am still unable to reproduce.

[2015-09-03 13:01] shadabs22 commented on #25
how to solve same issue in ios, only message is sent to first number only.
Plz....

[2015-09-10 15:09] tlvince opened #52 "Create Git tag for v0.1.4"
Since `cordova plugin add` doesn't appear to support a specific Git commit, could you tag v0.1.4 (and v0.1.3)?

[2015-09-10 15:59] dbaq commented on #52
Done. https://github.com/cordova-sms/cordova-sms-plugin/releases.

[2015-09-10 15:59] #52 closed, assigned to nobody

[2015-09-10 16:05] tlvince commented on #52
Thanks.

[2015-09-13 12:15] desmond-phonegap opened #53 "Unknown provider: $cordovaSmsProvider <- $cordovaSms"
I have added the cordova plugin and included the $cordovaSms to my controller.

It is prompting "Unknown provider: $cordovaSmsProvider <- $cordovaSms".

Please help on what is missing part in this. Is there any javascript file that I need to refere.

[2015-09-13 17:43] dbaq commented on #53
It is a regular Angular error when you forgot a step while installing ngCordova. Please follow http://ngcordova.com/docs/install/.

[2015-09-15 02:36] okonon commented on #22
@dbaq how do i check the webview version?

[2015-09-15 04:32] okonon commented on #22
having same issue here on multiple devices

[code]

no issue on following setup:

[code]

[2015-09-15 06:08] okonon commented on #22
@dbaq now my good device is getting same issue with following erorr from the plugin:

[code]

screen flashes with native sms ui and closes immediately

[2015-09-15 06:58] okonon commented on #22
for those who is struggling with this issue, turns out there was a bug in my code that forceclosed native SMS ui. All double check your code.

[2015-09-18 17:34] dbaq commented on #22
@softBarbarian, what do you mean exactly by "force closed native SMS ui", could you give more details please?

[2015-09-23 18:43] sohirani commented on #31
For using the universal api Windows.Devices.Sms.SmsDevice2, capability "cellularMessaging" needs to be included. While verifying the changes check if the device is unlocked: https://msdn.microsoft.com/library/windows/apps/xaml/dn706236.aspx.

Here is the link for the sample application: https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/SmsSendAndReceive

[2015-09-24 08:58] mdelouwere opened #54 "SMS plugin with Adobe Build"
Hi,

I'm trying to use this SMS plugin with Adobe Build and I'm failing miserably. I'm able to use a few other plugins but this one just doesn't work.

I'm missing something simple but...
I've added this to my confg.xml: <gap:plugin name="com.cordova.plugins.sms" version="0.1.2" />

I've added this to the index of my HTML5 project:

<script type="text/javascript" src="cordova.js"></script>

And I'

[2015-09-25 03:14] dbaq commented on #54
Hi @mdelouwere, I am not sure your post is formatted correctly. Since the content of your config.xml is not displayed.

[2015-09-25 03:17] dbaq commented on #53
I am closing this issue since no update. Feel free to reopen it if you still need help.

[2015-09-25 03:17] #53 closed, assigned to nobody

[2015-09-25 03:19] dbaq commented on #42
Closing this issue since I was not able to reproduce. If the issue persists, please share a codepen or a github repository for me to fork and reproduce the error.

[2015-09-25 03:19] #42 closed, assigned to nobody

[2015-09-25 06:43] mdelouwere commented on #54
Oh, missed that one.. Sorry about that.

I'm new at this stuff, and putting loads of extra hours to get my basic demo working. When that's done and approved off I'll hand it over to the professionals ;-)

Here it is, it's the basic one, provided by Adobe build (added the gap plugin calls)  The include starts after:

Best regards,

Michael

[code]

</widget>

[2015-09-25 06:49] dbaq commented on #54
Are you calling `sms.send` after the device ready event?
Can you share me a generated .apk?

[2015-09-25 06:50] dbaq commented on #54
Also, how are you testing? Simulator out real devices?

[2015-09-25 08:50] mdelouwere commented on #54
Real device  (as well as a bit on a simulator)

I'm using a try / catch for identifying the error

[2015-09-26 00:03] danielmilner opened #55 "PhoneGap Plugins directory closing October 15th, 2015"
Since the PhoneGap Plugins directory is being deprecated on October 15h, 2015, will this plugin soon be listed in the new Cordova Plugin NPM directory at http://plugins.cordova.io/npm/index.html ?

[2015-09-27 04:23] dbaq commented on #55
Hi @danielmilner,

Thanks for pointing this out. I am going to do it.

[2015-09-27 04:34] dbaq commented on #55
Done. http://plugins.cordova.io/npm/index.html?q=cordova-sms-plugin

Feel free to reopen this issue if you have any questions.

[2015-09-27 04:34] #55 closed, assigned to dbaq

[2015-09-27 05:05] dbaq commented on #43
The branch has been merged.

[2015-09-27 05:05] #43 closed, assigned to dbaq

[2015-10-01 00:57] hugobast commented on #22
@softBarbarian I just used this for the first time ever in an Ionic project: `$cordovaSms.send 'number', 'message'` I'm not closing anything.

[2015-10-01 01:15] hugobast commented on #22
This isn't clear from my previous answer but I believe this legitimately needs to be looked into. First time it works but if you cancel out and use the SMS again the keyboard flickers and disappears. I have to tap into the `To:` field for it to show up again.

[2015-10-01 09:01] mdelouwere commented on #54
I'll send over the apk this friday. Pretty swamped right now...  My apologies for the delay :-s

[2015-10-11 21:45] NickAjderian commented on #48
Can't check for typeof sms === 'undefined'

If i check for this i always get 'undefined'. But if I don't do the check, phonegap FINDS the sms object and sends the sms somehow. Strange!

[code]

[2015-10-14 21:07] ptarjan opened #57 "Publish to NPM"
Can you publish this plugin to NPM so we don't have to use git?

[2015-10-14 22:05] dbaq commented on #57
It is already on NPM. https://www.npmjs.com/package/cordova-sms-plugin.

[2015-10-14 22:05] #57 closed, assigned to nobody

[2015-10-14 22:16] ptarjan commented on #57
Great! Can you change the README to use that instead of git? Most people feel more comfortable with using releases instead of master

[2015-10-17 18:55] dbaq commented on #57
That's a great idea. Done via 3fc6e45bd0e9132e234aa9596c18d526eb6d7bde.

[2015-10-29 09:44] dipti-mahajan opened #59 "cordova-sms-plugin"
https://github.com/cordova-sms/cordova-sms-plugin
I installed the plugin very much correctly. The cordova version i m using is 2.8.

First i got error as "uncaught reference error - module not defined" then in sms.js file i defined the module as var module={}; which resolved that error. But then i m getting another error.

The new error i m getting is "uncaught reference error - SMS not defined".

[2015-10-29 10:41] nikunj17287 commented on #59
Dipti i guess the issue is due to wrong usage of sms.send initially i was also getting similar error.
Also i am not sure if cordova version 2.8 is supported. I am using version 5.3.3 for cordova and 1.0.4 for SMS Plugin

Replaced with below code and it worked fine.

SMS.sendSMS(number, msgStr, options, success, error );

however i am getting an info msg

[INFO:CONSOLE(310)] "Error in Success callb

[2015-10-29 10:54] dipti-mahajan commented on #59
Hi Nikunj,
Thanks. Tried but failed. Same Error.

10-29 16:23:46.564: D/CordovaLog(29816): file:///android_asset/www/html/callinfo/callinfo.html: Line 21 : Uncaught ReferenceError: SMS is not defined

[2015-11-07 17:55] roblav96 opened #60 "Disable intent permission android"
Is there anyway I can disable the intent permission if I won't be using it? I don't like the permission on my app that says "this might cost you money"

I'm only using the plugin to populate an SMS. Thank you!

[2015-11-07 18:36] dbaq commented on #60
You can try to remove this line https://github.com/cordova-sms/cordova-sms-plugin/blob/master/plugin.xml#L28.

[2015-11-07 18:38] dbaq commented on #54
Closing this issue. Feel free to reopen it if you are still having an issue.

[2015-11-07 18:38] #54 closed, assigned to nobody

[2015-11-07 18:41] dbaq commented on #59
@dipti-mahajan did you figure it out?

[2015-11-07 20:01] roblav96 commented on #60
Ah! that's exactly what I'm looking for! lol

I was google searching cordova plugin permissions but couldn't find anything on this. Thank you!!!

[2015-11-07 20:16] dbaq commented on #60
Glad it worked :)

[2015-11-07 20:16] #60 closed, assigned to nobody

[2015-11-12 16:20] beamthsa opened #61 "unfortunately, ....(app name) has stopped"
When send sms it's show "unfortunately, ....(app name) has stopped"
I use send sms type >> intent: ''
I don't know how to fix this problem.
Thank you for answer.

[2015-11-24 11:03] trippo opened #62 "If is passed something vars on success callback it is called everytime (also on error)"
If i pass something in the success callback it is called everytime also when there is an error.

example:

sms.send(data.phoneNumber, text, options, success(data), error );

success(data) is called also when there is an error...

[2015-11-28 01:51] netbuffer commented on #62
And that ’ s happened to me

[2015-11-28 01:58] netbuffer commented on #48
http://stackoverflow.com/questions/31060722/cordova-refuse-to-execute-inline-event-handler-because-it-violates-the-followi

[2015-12-09 21:03] DaAwesomeP commented on #14
+1 Any progress on the Android side of things? I can't wait for this feature.

[2015-12-09 21:07] dbaq commented on #14
No, it is complex. Contributions are welcomed.

[2015-12-09 22:36] DaAwesomeP commented on #14
Well it appears that there is [one method for sending MMS](https://developer.android.com/reference/android/telephony/SmsManager.html#sendMultimediaMessage%28android.content.Context,%20android.net.Uri,%20java.lang.String,%20android.os.Bundle,%20android.app.PendingIntent%29). However this was added in API 21 (Android v5.0.0), so this won't be available on old devices. We can probably skip the `confi

[2015-12-11 19:36] rodneyworkman291 commented on #61
+1

My app crashes on a phone that is running Android 5.1.  The message I receive is as stated above.

Works well on IOS and on a Android 4.4.4

[code]

[2015-12-11 20:00] beamthsa commented on #61
I try to update android sdk then my app don't crash anymore.

You should update android sdk but not sure If update then app don't crash.

[2015-12-12 06:43] PriyankaRose opened #63 "how to add html tags in sms content?"
I want to send app download link in sms. But when i give in <a href="link.com">appname</a>, the html tag is reflecting in sms without creating a link. Is it possible to allow html tags in sms?

[2015-12-12 18:05] dbaq commented on #63
Hi @PriyankaRose,

AFAIK, SMS is text only. You can achieve that using a MMS. MMS is not supported yet. See #14 for more information.

[2015-12-12 18:05] #63 closed, assigned to nobody

[2015-12-12 18:05] dbaq commented on #61
Thanks @beamthsa for sharing your solution.

[2015-12-12 18:05] #61 closed, assigned to nobody

[2015-12-12 18:07] dbaq commented on #59
Closing this one since it has been more than 1 month. Feel free to reopen it if you still have an issue.

[2015-12-12 18:07] #59 closed, assigned to nobody

[2015-12-12 18:09] dbaq commented on #62
which platform, which version of cordova? can you also share some code pls?

[2015-12-14 10:22] trippo commented on #62
In last version of cordova on android 4.
Es. in a for cycle to send 10 sms i want to update the state of "to send sms".

var error = function(id){
//set id message to error
}
var success = function (id) {
//set id message to sent
}
for ...
sms.send(phoneNumber, message, options, success(id), error(id) );

[2015-12-18 10:44] PriyankaRose commented on #63
Hi @dbaq

First of all thanks for the reply ASAP. By giving the entire link in text, its automatically changes into a link in sms and on clicking, opens in browser. So my issue is solved. Thanks

[2015-12-21 10:59] vishvendu opened #64 "Will the same JS file use for iOS build?"
I'm using cordova 3.9.2 I tried to use the same sms.js to build an app for iOS but nothing is happening.

Do i need to change anything inside the sms.js file for ios ?

Thanks
Vishvendu Palawat

[2015-12-21 17:56] dbaq commented on #64
Hey @vishvendu, yes it is the same file. Have you read this page (https://cordova.apache.org/docs/en/5.4.0/guide/cli/index.html)? Have you added other plugins to your application or is it the first one?
Which command did you enter to add the plugin?

I need more details if you want me to help you.

Cheers

[2016-01-13 15:29] mdanaher1 opened #65 "Sending from IOS 9.2 "app.sendSms is undefined""
Just trying to implement this plugin in an app I'm doing for IOS.
Basically copy and pasted from the example in the Readme, but I just cannot get it to work.

Upon debugging in Safari I get:

`TypeError: app.sendSms is not a function. (In 'app.sendSms(), 'app.sendSms' is undefined)`

Code is basically the same as the example:

[code]

Except I'm trying to execute method from button:

`<button data

[2016-01-13 15:43] dbaq commented on #65
Hey mdanaher1,

Does this work?

[code]

[2016-01-13 15:45] dbaq commented on #64
Closing this one since no answer.

[2016-01-13 15:45] #64 closed, assigned to nobody

[2016-01-13 15:48] mdanaher1 commented on #65
Nope, I still get the same error.

[2016-01-13 15:49] dbaq commented on #65
So the error comes from your code, not this plugin (good news for me :D). Which framework are you using? Angularjs, Ionic, React?

[2016-01-13 15:51] mdanaher1 commented on #65
That's what I'm thinking xD
Not using any framework, just a simple Cordova app.

[2016-01-13 17:02] dbaq commented on #65
Is your .js file included properly?

[2016-01-13 17:16] mdanaher1 commented on #65
Should be.
I just installed the plugin from the Cordova CLI.
I even tried importing it in the HTML file I'm calling it from:

[code]

If I change the name of the the variable 'app' to something else, it goes through the motions, popping up alerts for the number, message, then one for an error, saying the message was cancelled.

[2016-01-13 17:23] dbaq commented on #65
are you testing on a real device?

[2016-01-13 17:25] mdanaher1 commented on #65
Yeah, an iPhone, running IOS 9.2

[2016-01-13 17:31] dbaq commented on #65
Can you share a repository with your code? I need more than just a few lines to help you.

[2016-01-17 04:35] ghost commented on #62
For android It is passing success even if the user cancels out and dose not sent SMS...i wrote a post on how to use this with ionic see code here
http://pointdeveloper.com/how-to-send-an-sms-with-ionic-framework-and-ngcorodva/

i have tested it in Android 4.1 and 5 with 'INTENT' also without it.

Does the success call back refer to sending of SMS or just that the SMS app has been passed the data?

[2016-01-17 21:13] dbaq commented on #62
Are you guys all using ngCordova?

[2016-01-17 21:34] dbaq commented on #62
@pointdeveloper, please see #26.
@trippo I believe, you cannot do what you are doing.

[code]

You can't pass parameters to the `success` or `error` callback functions. Here is a SO post that might help you: http://stackoverflow.com/questions/13003828/javascript-callback-function-with-parameters

[2016-01-18 10:13] trippo commented on #62
Thanks

[2016-01-18 10:13] #62 closed, assigned to nobody

[2016-01-18 15:38] mdanaher1 commented on #65
Hi, sorry no I don't have the project currently up on a repo.
However, I did just try to create a clean new cordova project, added the iOS platform and SMS plugin, and pretty much copy and pasted the example above into the main index.html, and I continue to get the same error.
Sms.h/Sms.m are both in the plugins folder in Xcode, Sms.m is in compile sources under Build Phases.
So I literally can't

[2016-01-18 15:46] mdanaher1 commented on #65
God damn It!
Sorry, yeah I've figured out what I was doing wrong. Don't half feel like a fool now ha. xD

[2016-01-18 15:46] #65 closed, assigned to nobody

[2016-01-18 16:07] dbaq commented on #65
Hey @mdanaher1,
Glad you found your issue. Do you mind sharing what was wrong please? It might help other people.

Thanks.

[2016-01-19 18:13] roblav96 opened #66 "Build iOS Error - Cordova v4.0.1"
I'm getting a build error on iOS.

![screen shot 2016-01-19 at 1 13 23 pm](https://cloud.githubusercontent.com/assets/1457327/12427657/7582383a-beae-11e5-8851-2abfc0ae4611.png)

I'm on the latest cordova ios v4.0.1

[2016-01-19 18:15] dbaq commented on #66
Hey @roblav96,

I am going to take care of that in a couple of hours. I just need to push a new version on npm.

[2016-01-19 18:16] roblav96 commented on #66
Commenting it out fixes it.

like here:
https://github.com/sportstech/cordova-sms-plugin/commit/738beb39bd8a373cc01f94d4c4925a9a6df939b3

[2016-01-19 18:16] dbaq commented on #66
it is already on master, just need to push a new version.

[2016-01-19 20:42] dbaq commented on #66
The new version has been pushed on npm: https://www.npmjs.com/package/cordova-sms-plugin

[2016-01-19 20:42] #66 closed, assigned to nobody

[2016-01-19 20:54] roblav96 commented on #66
Thanks man!!

[2016-01-25 15:12] ikomosin commented on #48
I am developing PhoneGap App and I have faced with the same problem. ReferenceError: sms is not defined or if I am using window.sms it is null. after I have installed cordova-sms-plugin. regarding your questions:
1.    which version of cordova?
   D:\phonegap\sms>cordova -v
   5.4.1
   1.   which platform? ios? android?
      android
2.    are you using ng-cordova?
   I am using cordova
3.    when

[2016-01-25 16:06] dbaq commented on #48
Hey,
You need to try on a real device. Also it is  `windows.sms.send` or `sms.send`, because `window.plugins.sms.send` won't work.

[2016-01-25 16:19] ikomosin commented on #48
Thanks for your fast reply.
oh, sure, exactly I also tried with  windows.sms.send and sms.send, error is the same. So do I need to create app for android and install it without Phonegap Developer App? Right?

[2016-01-25 16:25] dbaq commented on #48
Yes.

[code]

PS: I'd recommend to do not use phonegap. Use directly cordova or ionic-cli if you are using ionic.

[2016-01-28 08:00] narenpublic commented on #22
Yes I am seeing the same thing as @hugobast.  If you cancel the SMS, the keyboard doesn't show the next time.

[2016-01-28 20:12] okonon commented on #22
i figured it out, there was a syntax error in the code when i was building message text and it was closing native send sms modal window.

[2016-02-05 03:56] vuphuctho opened #67 "Phonegap: sms is not defined"
Hi, I received "sms is not defined" when using the plugin. This is what I have done so far:
1. `phonegap create sms` and go inside created project
2. `cordova plugin add cordova-sms-plugin`
3. `cordova platform add android`
4. Add the sample HTML and Javascript code

In this [post](https://github.com/aharris88/phonegap-sms-plugin/issues/12), there supposes to be a java file in "platforms/android/s

[2016-02-07 04:54] krittapaksil opened #69 "The plugin doesn't works on OSX El Capitan bot work on Maverick @ version 0.1.6"
The plugin doesn't works on OSX El Capitan, Xcode 7 and IOS 9.2 . I got error on Xcode
at plugin version @0.1.6 and 0.1.7

[CDVCommandQueue executePending] [Line 159] FAILED pluginJSON = ["Sms1811732695","Sms","send",[["099-999-9999"]," ","INTENT",false]]

However I test it on :
1. OSX Maverick is not works on version cordova-sms-plugin@0.1.7 but works on version @0.1.6
2. Android all function is

[2016-02-08 17:40] dbaq commented on #69
Hey @krittapaksil,

check this out https://github.com/cordova-sms/cordova-sms-plugin/issues/39#issuecomment-114349417

[2016-02-08 17:46] dbaq commented on #67
hey @vuphuctho,

The plugin is not installed properly. Take a look at http://docs.phonegap.com/en/edge/guide_cli_index.md.html#The%20Command-Line%20Interface

[2016-02-08 17:47] dbaq commented on #67
Also please answer the following questions: https://github.com/cordova-sms/cordova-sms-plugin/issues/48#issuecomment-134241054

[2016-02-10 07:18] #69 closed, assigned to nobody

[2016-02-15 09:34] vuphuctho commented on #67
Hi @dbaq
I just figured out the reason. Since phonegap-cli and Phonegap Desktop does not allow third-party plugins, sms will not be added if I use it using command "phonegap serve" or run with Phonegap Desktop. Everything works fine when compiling the app using [Phonegap Build](https://build.phonegap.com/).
Please correct me if I am wrong.

[2016-02-15 16:18] dbaq commented on #67
Great you figured this out. IMHO, you should use cordova directly (or ionic-cli if you are using ionic).

[2016-02-15 16:18] #67 closed, assigned to nobody

[2016-02-24 20:54] Mcfloy opened #70 "How to receive SMS ?"
Hello,

I'd like to make an application that can emit SMS to a watch, and receive the answer of the watch (that send back automatic sms).

So just a receive function that have in parameters at least the phone number that we should get (and just ignore the others), and avoiding the user to have the SMS in his history...

Does this exist ?

[2016-02-24 21:56] dbaq commented on #70
Hey @Mcfloy,

Cheers.

[2016-02-24 21:56] #70 closed, assigned to nobody

[2016-02-26 14:57] cfjedimaster opened #71 "Can't find error: sms"
Plugin is installed - waiting for deviceready, and yet i get sms isn't defined.

[2016-02-26 15:02] cfjedimaster commented on #71
Well, this is interesting. When you install the plugin via "cordova-plugin-sms", you do NOT get this plugin. Instead, you get this one: https://github.com/floatinghotpot/cordova-plugin-sms

[2016-02-26 15:03] cfjedimaster commented on #71
And I apologize - I see one is cordova-sms-plugin and one is cordova-plugin-sms. _sigh_ :)

[2016-02-26 15:03] #71 closed, assigned to nobody

[2016-02-26 15:30] agarrharr commented on #71
Hey Raymond. Thanks for putting in this issue! Your articles on cordova/phonegap were a great help to me when I originally put together this plugin.

[2016-02-26 15:31] cfjedimaster commented on #71
You are most welcome. :) It was one of those articles that I just had to update. Switched it to this plugin.

[2016-02-29 03:16] randyhongo commented on #22
I am seeing the same behavior in iOS where when I first send a text everything works correctly.  If I attempt to send a subsequent text the keyboard does not display unless I tap in to the To: field as @hugobast mentioned.  Any ideas on how to fix this?

[2016-02-29 08:49] Vo2le commented on #31
Hi, i extended the Plugin for Windows 10 Universal Apps and in my testcases it worked quite well. I'm quite new to github. If i should upload the code i could need some guidance.

[2016-02-29 16:41] dbaq commented on #31
Hey @Vo2le, thanks for considering contributing :+1:

You should open a pull request. Take a look at https://help.github.com/categories/collaborating-on-projects-using-pull-requests/

[2016-03-10 17:05] rolinger opened #73 "Compile error on Android"
I did a clean testApp install...loaded the android platform and then added the cordova-plugin-sms as the FIRST plugin and compiled...and it errored out immediately with the same errors as before.  The conflict must be with some android platform code.

**"Could you please run the exact commands I wrote in my previous comment?** : I did

What component versions are you using?
ionic : v1.5.0
cordova:

[2016-03-10 17:18] dbaq commented on #73
Hey,

from what I can see it looks like the problem comes from this plugin https://github.com/pbakondy/cordova-plugin-sim

[code]

Can you test without this plugin?

[2016-03-10 17:48] rolinger commented on #73
Ack, think iposted this to the wrong plugin.  Grrrr...

Sent from my mobile device.

From: Didier Baquier

Sent: Thursday, March 10, 12:18 PM

Subject: Re: [cordova-sms-plugin] Compile error on Android  (#73)

To: cordova-sms/cordova-sms-plugin

Cc: rolinger

Hey,

from what I can see it looks like the problem comes from this plugin https://github.com/pbakondy/cordova-plugin-sim

:compileDebugJava

[2016-03-10 17:51] dbaq commented on #73
That happens :)

Closing this ticket.

[2016-03-10 17:51] #73 closed, assigned to nobody

[2016-03-11 05:19] sachingarg2k1 commented on #31
Hi guys,
When can we expect a new version with Universal App Support?

[2016-03-11 08:43] brody2consult commented on #31
It is already there in PR #72. It has not been integrated since nobody has tested it yet. I am still on Visual Studio 2013 (Express) and am having trouble running the Windows Phone emulator so I cannot test it right now.

You can also get it from https://github.com/Vo2le/cordova-sms-plugin - (PR #72 was submitted from the master branch).

[2016-03-14 05:32] msalcala11 commented on #22
Experiencing the same issue as @hugobast, @randyhongo, and @narenpublic. Has anyone figured out a fix?

[2016-03-14 18:24] brody2consult commented on #31
I tested PR #72 and am happy with the change.

[2016-03-15 03:08] dbaq commented on #31
Closing this one since #72 has been merged.

[2016-03-15 03:08] #31 closed, assigned to nobody

[2016-03-15 06:00] brody2consult commented on #31
Thanks for merging and releasing.

[2016-03-15 21:17] kukikiloke opened #74 "Open chooser instead of launching the default sms app"
Thanks for the good work, here's one suggestion/request from me though.

Perhaps we can open the chooser to display a list of sms apps on Android instead of launching the default sms app? as this might be more Android way of event handling?

Edit: The app will not show the list of messaging apps if no phone number is provided.

[2016-03-15 22:39] agarrharr commented on #74
I believe that this is what the intent option is for:

[code]

[2016-03-16 14:29] kukikiloke commented on #74
`intent: 'INTENT'`
If phone number(s) is/are provided, the plugin will display a list of messaging apps to handle the event
but if **phone number is not provided**, the plugin will open the default messaging app

That's what I observed on my Samsung S3 (5.1.1)

[2016-03-18 03:08] dbaq commented on #74
Hello @kukikiloke,

You are right, the behavior is different. It is due to this condition https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L79-L89

This code has been introduced almost 2 years ago by this commit https://github.com/cordova-sms/cordova-sms-plugin/commit/e9daef036a7de7b7ee4279a051f5e03f2d5e1c01 and this one https://github.com/cordova-sms/cordova-sms-

[2016-03-21 04:45] stevecarlton opened #75 "Marshmallow Permission"
Hi there,

I seem to be getting a decent amount of crashes due to permissions on sending SMS messages with this plugin.
`"Fatal Exception: java.lang.SecurityException: Sending SMS message: uid 10238 does not have android.permission.SEND_SMS"`

Most of the crashes are on Marshmallow, I am assuming due to the new runtime permissions implemented in Android M. Are there any plans to have the plugin re

[2016-03-22 05:28] dbaq commented on #75
Hi @stevecarlton,

Thanks for reporting this issue. Can you provide a more detailed crash report? That would be really helpful.

Yes, I am busy at work right now but I am going to try to implement this by the end of next week.

[2016-03-23 03:53] stevecarlton commented on #75
@dbaq I do hope this helps:
`Fatal Exception: java.lang.SecurityException: Sending SMS message: uid 10267 does not have android.permission.SEND_SMS.
       at android.os.Parcel.readException(Parcel.java:1620)
       at android.os.Parcel.readException(Parcel.java:1573)
       at com.android.internal.telephony.ISms$Stub$Proxy.sendTextForSubscriber(ISms.java:1577)
       at android.telephony.SmsManag

[2016-04-02 17:16] dbaq commented on #75
hey @stevecarlton, just a quick update here. I am still working on it. The good news is that I've been able to reproduce on my nexus 5. Keep you posted soon.

[2016-04-02 18:31] dbaq commented on #75
@stevecarlton, would you mind testing this branch https://github.com/cordova-sms/cordova-sms-plugin/compare/android-request-permission ?

Nothing changes for you. If the app does not have the permission to send a SMS, the permission will be automatically requested. I also exposed a new function `sms.hasPermission(function(hasPermission) {..}, function(error) {..})`, if you want to display an expla

[2016-04-05 03:15] stevecarlton commented on #75
@dbaq You are awesome. Just tested and all seems well. I did not however test the new function. `sms.hasPermission(function(hasPermission) {..}, function(error) {..})`

I will also dig out my Lollipop phone here in a few minutes for a bit of regression testing.

[2016-04-05 05:45] zhoujianhui commented on #49
+1

[2016-04-05 18:00] dbaq commented on #75
hey @stevecarlton, thanks for deep testing it. Let me know if you find anything, you should need at least cordova-android 5.1.1 (`cordova platform update android@5.1.1`).

The `hasPermission` function is straightforward, no need to really test it.

Keep me posted.

[2016-04-06 02:56] stevecarlton commented on #75
Tested a bit more today with no issues. Lollipop is unchanged and for Marshmallow the prompt is perfect. Thanks for all you do to support the plugin @dbaq

[2016-04-06 15:08] dbaq commented on #75
Glad to hear that, I am going to merge this branch on master, let it sit there for a few days then publish a new release. Will close the issue after posting the new release.

[2016-04-13 04:34] dbaq commented on #75
I published a new release and updated the readme file via https://github.com/cordova-sms/cordova-sms-plugin/commit/d3df32b263ad72a00a58c3ac0cbfd787ff599ab7.

Closing this issue for now. Feel free to open a new one if you notice anything. Thanks again for testing. :beers:

[2016-04-13 04:34] #75 closed, assigned to dbaq

[2016-04-13 04:39] dbaq commented on #49
Looking for some help from the community on this one. I have no dual sim phone.

[2016-04-13 08:37] spyjo commented on #49
Here are some informations I found:

http://developer.android.com/about/versions/android-5.1.html#multisim
this has been added in android 5.1 (API 22)

In the documentation:
http://developer.android.com/reference/android/telephony/SubscriptionManager.html
https://developer.android.com/reference/android/telephony/SubscriptionManager.html#getActiveSubscriptionInfoList()
http://developer.android.com/

[2016-04-15 17:26] emps opened #77 "sent info at ios"
hii is there a way to know if the sms got modified ? can we get the sent sms back in call back to check if the user didnt change it ? thanks

[2016-04-16 11:35] Neotrixsx opened #78 "My App crash when use intent: ''"
I'm having some trouble with SMS plugin from ngCordova. If I send a message with the intent option set to 'INTENT', everything works fine, prompting the SMS application installed. But, when I set intent to ' ' (to use android's native SMS sender), my app crashes. Here's the code:

[code]

**## Testing OS : Marshmallow Android**

[2016-04-17 02:50] SniperFox1 commented on #14
Can somebody pleeease make this happen for Android? I wish I could help but I don't know any java. I believe you need MMS support if you want to send to an e-mail, right? Also, attachments feature would be nice to have...

[2016-04-17 02:55] dbaq commented on #78
Can you give me the android stacktrace pls? You can easily find it with `$ adb logcat` (more info here http://developer.android.com/tools/help/logcat.html)

Also, I published a new release a few days ago, make sure you have the latest version (0.1.10)

[2016-04-17 14:34] Neotrixsx commented on #78
I update plugin to the latest version (0.1.10) and I add hasPermission check but  every time I get "hasPermission: false" in my console and when my app start its not ask me any Permission for SMS. Is it any possibility to ask permission from user for SMS manually.

[2016-04-18 18:24] dbaq commented on #78
Ok, can you please give me the android stacktrace. You can use `$ adb logcat` for that.

[2016-04-18 18:24] dbaq commented on #77
Hey @emps,

AFAIK, there is no way to retrieve what was actually sent.

[2016-04-18 18:24] #77 closed, assigned to nobody

[2016-04-18 20:59] webarchymeta commented on #78
I had the same issue, but it disappeared after upgrading to version 0.1.10

[2016-04-19 10:33] Neotrixsx commented on #78
I did some changes in my code. Now its working fine.:)

[2016-04-19 13:28] #78 closed, assigned to nobody

[2016-04-19 19:08] dbaq commented on #78
Glad you found out 👍

[2016-04-20 13:13] sebahattint commented on #22
I had same problem. I changed animated:YES to NO (Sms.m Line 45 and 76) and worked for me.Thanks..

[2016-04-20 14:16] kuldipem commented on #63
@PriyankaRose , can you help me ? how you solved this issue ? I am also facing this issue ,

[2016-04-20 14:22] PriyankaRose commented on #63
@kuldipem , there is no way of adding html coding in sms. add your app link, it will be converted to a link in your sms message.

[2016-04-20 14:53] brody2consult commented on #63
I think the implication is that you should use shortened URLs, and use a URL shortening service if necessary. Just my $0.02 worth.

[2016-04-20 18:36] dbaq commented on #63
Yes, you can have a HTTP link in the SMS content. Most of the SMS apps will transform that into a clickable link. But you can't put the HTML tag `a` in it. Also using shortened URLs is a good idea. Take a look at goo.gl.

[2016-05-05 14:42] GeoffreyEmery opened #81 "no npm registery for plugin?"
Hey,
   When i run the second command in the readme.
       # now add plugin
      cordova plugin add com.rjfun.cordova.smsh
The following error is shown
![2016-05-05_7-42-00](https://cloud.githubusercontent.com/assets/3301804/15046513/efc2afb4-1294-11e6-8014-10dd2e04767a.png)

[2016-05-05 14:44] agarrharr commented on #81
This is the second command in the readme:

[code]

It looks like you're running a different command. Can you try again with this command?

[2016-05-05 15:34] GeoffreyEmery commented on #81
ok i see i was using a different repo so that was my bad. yours is working fine
i did find a another bug ...
Android blocks inline calls so you need to add a id and remove the direct call to the form
            <input type="button" id="sendSMS" value="Send SMS" />
and then add a listener in the app start up some where ape dd
        document.getElementById("sendSMS").addEventListener("click", app

[2016-05-05 15:49] dbaq commented on #81
you probably need the whitelist cordova plugin

Don't get this point. You can pass options to send directly the SMS or open the default sms app. Please read the readme file.

[2016-05-05 18:49] GeoffreyEmery commented on #81
hey Didier,
  Great picture and thanks for the fast response. :

it wasn't plugin whitelisting it was because the default content security was to strict this works.
 `
<meta http-equiv="Content-Security-Policy" content="default-src *;
        style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">`

The point is that when we develop apps to send sms we don't want to ope

[2016-05-05 18:49] GeoffreyEmery commented on #81
solved

[2016-05-05 18:49] #81 closed, assigned to nobody

[2016-05-06 10:43] TestAccount9691 opened #82 "SMS platform not supported"
On samsung Tab2(android v: 4.4.2) , TAB4(android v: 4.2.2)  and motoE(android v: 4.4.4) .Its not working and giving an error **"SMS platform not supported"**

[2016-05-06 16:06] dbaq commented on #82
You can investigate this method:

https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L113-L116

[2016-05-07 11:02] GalexisProjects opened #83 "Windows Phone 10"
Hello everyone,

The plugin works fine on Android, but when I try the app on windows phone 10 Mobile, I get this error: "Missing Command Error"

I use this code:

[code]

Does anyone know where is the problem? (I've installed the plugin for windows phone)
Thank you!

[2016-05-09 09:04] zeeshanjan82 opened #84 "Android Version"
I have a question, I think this plugin only works for Android API level 23 and above, which means the app will only get installed on latest android phones. I would like to have the app run on Android with API level 17 and above. Any Idea?

[2016-05-09 10:54] zeeshanjan82 opened #85 "Installing on iOS"
I am trying to install the plugin on the Mac machine however I get the error: Cannot find plugin.xml for plugin 'org.apache.cordova.plugin.sms'

[2016-05-09 15:03] agarrharr commented on #85
What command did you run to install?

[2016-05-10 04:55] zeeshanjan82 commented on #85
sudo cordova plugin add cordova-sms-plugin

[2016-05-10 15:39] agarrharr commented on #85
Works fine for me on a mac.

![screen shot 2016-05-10 at 9 38 37 am](https://cloud.githubusercontent.com/assets/3266363/15152578/05e71c92-1693-11e6-8210-926993246951.png)

@dbaq Do you have any ideas?

[2016-05-10 20:11] dbaq commented on #83
Hey @GalexisProjects,

it looks like you are having an issue with the way you are installing the plugin. Have you read http://stackoverflow.com/questions/26533573/error-initializing-cordovamissing-command-error-in-windows-phone-8-1?

[2016-05-10 20:11] dbaq commented on #82
Hi @TestAccount9691,

Any updates?

[2016-05-10 20:17] dbaq commented on #84
Hey @zeeshanjan82.

You should be able to skip the call to `hasPermission()` here https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L41-L42.

Pull requests are welcomed :)

[2016-05-10 20:28] dbaq commented on #85
Same as you @aharris88. I can't reproduce the problem.

A few hints:
- make sure you have the latest version of cordova (`npm install -g cordova`) and cordova-ios
- avoid `sudo` when executing cordova commands

can you give us the full stacktrace as well please.

Cheers

[2016-05-11 04:22] TestAccount9691 commented on #82
Yes.

In Samsung TAB 3 and TAB 4  the **FEATURE_TELEPHONY**  is not supported and always returns **false**  that's why i m getting an error **SMS platform not supported**.

In Samsung devices especially on **Tablets** its not considering as telephone.

Can you please suggest me any other way to use **ctx.getPackageManager().hasSystemFeature(PackageManager.FEATURE_TELEPHONY);** so that i doesn't th

[2016-05-11 08:21] spyjo commented on #85
this may be related to this ?

https://cordova.apache.org/news/2016/01/28/tools-release.html

"Removed support for our old Cordova Plugins Registry. Now plugins can only be installed via npm, git URL or local paths."

may be you are linked to the old url / old version ?

[2016-05-11 08:23] spyjo commented on #84
Cordova released this plugin for permissions compatibility:
https://github.com/apache/cordova-plugin-compat
not sure if it can help somehow here, I did not try it for now

[2016-05-11 09:17] zeeshanjan82 commented on #85
I am getting the following error after trying 'npm install -g cordova' also if I don't use 'sudo' then I get a Permission Denied error.
![cordova](https://cloud.githubusercontent.com/assets/8342604/15176155/4eed7b30-1787-11e6-8582-070b7090e0e4.png)

[2016-05-11 19:59] darwind commented on #22
Experiencing the same issue, but apparently it randomly appears.

Tested on an iPhone 6 with iOS 9.2.1, an iPhone 6 with iOS 9.3.1 and an iPad Air 2 with iOS 9.3.1. All devices suffer from this weird issue, but not always. I've managed to see the message show sometimes.

[2016-05-11 20:19] dbaq commented on #84
Thanks @spyjo, it looks like a great solution. @zeeshanjan82 can you give a try?

[2016-05-11 20:23] dbaq commented on #85
We are using NPM and not cordova plugins registry: https://www.npmjs.com/package/cordova-sms-plugin

@zeeshanjan82, two things to try here:

1- `cordova plugin rm cordova-sms-plugin && cordova plugin add cordova-sms-plugin`
2- check out http://stackoverflow.com/a/30299721/1039265

[2016-05-11 20:26] dbaq commented on #82
Hi @TestAccount9691,

Can you try this http://stackoverflow.com/a/16346586/1039265 and let me know?

[2016-05-13 06:48] DevendraSinghNagar commented on #82
Hi @TestAccount9691
Can you try this plugin
https://github.com/DevendraSinghNagar/cordova-sms-all-devices-plugin

[2016-05-18 13:12] zeeshanjan82 opened #86 "SMS not working on iOS"
I am trying to run the code very similar to what is defined in this tutorial: https://github.com/cfjedimaster/Cordova-Examples/blob/master/smscomposer/www/js/app.js  However when I run the app in the iphone simulator I get the error 'SMS Text not available' (I have attached the screenshot with this issue). As I understand may be this issue is coming because of the simulator so I tried to run the a

[2016-05-18 16:00] dbaq commented on #86
hi @zeeshanjan82,

you should look in xcode if you have a stacktrace

[2016-05-18 16:01] dbaq commented on #85
since you open #86, I am assuming that you installed it correctly on iOS. Feel free to reopen it.

[2016-05-18 16:01] #85 closed, assigned to nobody

[2016-05-18 16:02] dbaq commented on #83
Closing this one since no answer, feel free to reopen it.

[2016-05-18 16:02] #83 closed, assigned to nobody

[2016-05-19 20:57] lemouta opened #87 "READ_PHONE_STATE permission exception (Android Marshmallow)"
When i try to send a sms, i got this exception: java.lang.SecurityException: getGroupIdLevel1: Neither user 10185 nor current process has android.permission.READ_PHONE_STATE.

I'm using android marshmallow and the plugin's version is 0.1.10.
I guess the plugin is requesting only SEND_SMS permission, but I'm not a Java expert.

Has anyone experienced that?

[2016-05-24 06:58] NoName-gy commented on #22
Same issue, change animated:YES to NO work for me. thanks.

[2016-05-25 18:11] maxmayerhofer opened #88 "SMS not supported on this platform"
Hi,
i have a little problem. I write an app to send sms, until SDK 21. And all works fine.
Now, i must update the App to support the ..."fantastic", permission-request of SDK 23 :/

So i updated my cordova version, cordova-android version, and the plugin. It compiles completely.

BUT: I havent a Device with SDK 23 (its much expensive :p) , so i would like to use the Emulator.
But when i try to use

[2016-05-26 04:56] zeeshanjan82 commented on #85
I have analyzed more on this, actually the reason is very strange, there is no plugin with the name : org.apache.cordova.plugins.sms I cannot see any plugin in the ios.json file inside plugins folder. I am not sure from where it is taking this name. I had the sms plugin install previously but then I had removed it from the plugins folder as well as removed its reference from ios.json file also the

[2016-05-26 05:01] zeeshanjan82 commented on #85
the strange thing is even when I try to remove any other plugin I get the same error : Cannot find Plugin.xml for the plugin org.apache.cordova.plugins.sms

[2016-05-26 05:48] zeeshanjan82 commented on #85
Ahh I was able to resolve this issue, I first removed android platform from mac and then fixed the issues related to the cordova , cordova-ios version and the issue got resolved.

[2016-05-26 20:28] dbaq commented on #88
It looks like a duplicate of https://github.com/cordova-sms/cordova-sms-plugin/issues/84, feel free to reopen this issue if it is not a duplicate.

[2016-05-26 20:31] dbaq commented on #87
Hey @lmouta, I've never seen this exception. Have you figure this out?

[2016-05-26 21:57] maxmayerhofer commented on #88
Hi,
thanks for the fast answer, so i think its not a duplicate :)
My "Problem" is that i can't send SMS from any android-Emulator (Tested on SDK 23 and 21) .

On a Device with SDK 21 i try it successfully, but i don't know the behavior on a SDK 23 device, because i haven't a Device with SDK23.

So my Question:  How can a App who use the this plugin makes run on a emulator.

PS: Nice Plugin 👍

[2016-05-26 22:27] dbaq commented on #88
hey @maxmayerhofer, you cannot send a SMS directly from the emulator. There is nothing you can do except testing on a real device. Your best shot is to build an APK and send it to one of your friends with a recent android device.

[2016-05-26 22:27] #88 closed, assigned to nobody

[2016-05-28 09:44] mzahidriaz commented on #22
Same issue, change animated:YES to NO work for me. thanks.

[2016-05-30 15:48] EduardoIbarra commented on #26
It's been more than a year, has this got any fix yet? I'm facing this issue and my app cannot work properly without this callback triggering correctly on iOS.

[2016-05-30 17:21] dbaq commented on #26
This issue is about Android. Android did not change it is way of handling callback. If you are having an iOS issue, feel free to open a new one.

[2016-06-06 08:05] vuphuctho opened #89 "Phonegap Build: cannot build with Phonegap version 5.4.1"
Building app using [Phonegap Build](https://build.phonegap.com/) yields following error:
`Error - Some official plugins have to be updated if using PhoneGap >= 4.0.0. Please upgrade the version of any plugins that may include the following file: Sms.java - You can fix this here`

Logging content:

[code]

Is there any working version of cordova-sms-plugin for Phonegap Build?

[2016-06-13 14:06] liliaga opened #90 "BUILD FAILER"
Hi,
When i want to compile/run the plugin crashed...help ????

[code]

[2016-06-13 16:50] dbaq commented on #90
Hey @liliaga, you should update your cordova version and your cordova android version.

[2016-06-20 13:00] ibcomputing opened #91 "Success callback fired on Android when SMS not sent (not using INTENT)"
There seems to be a long-standing issue where the success callback is always fired even if the SMS is not sent (for example there is no network available). I am **not** using INTENT, but trying to send the SMS _directly_, so I would expect the failure callback to fire if there is no network available for sending a SMS.
This issue was apparent in the earlier versions so I wrote a separate plugin to

[2016-06-20 16:08] dbaq commented on #90
Closing this since no update. Feel free to reopen the issue.

[2016-06-20 16:08] #90 closed, assigned to nobody

[2016-06-20 16:10] dbaq commented on #89
are you using the latest version of this plugin? is phonegap build compatible with the latest cordova-android version?

[2016-06-20 16:11] dbaq commented on #86
Closing this since no answer, feel free to reopen it.

[2016-06-20 16:11] #86 closed, assigned to nobody

[2016-06-20 16:12] dbaq commented on #84
Closing this one, feel free to reopen it if the solution mentioned above si not working for you.

[2016-06-20 16:15] dbaq commented on #82
Closing this one since no answer. Feel free to reopen it.

[2016-06-20 16:16] #82 closed, assigned to nobody

[2016-06-20 16:16] #84 closed, assigned to nobody

[2016-06-20 16:20] dbaq commented on #91
hey @ibcomputing,

the error verification is done here: https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L157-L160, so it should be fine.

so is it a valid issue or not?

[2016-06-20 16:22] ibcomputing commented on #91
Error callback code looks good. I will do some more testing to be sure, but at this point I don't think there is an issue. Sorry for wasting your time and thanks!

[2016-06-20 16:26] dbaq commented on #91
No worries. I am closing this issue for now. Reopen it if you find anything.

[2016-06-20 16:26] #91 closed, assigned to nobody

[2016-06-23 03:50] vuphuctho commented on #89
I installed the plugin directly from Git.
The Phonegap-android version in my PhoneGap Build project is 4.1.1
`
PhoneGap (iOS / Android / Windows)
= cli-5.2.0 (3.9.1 / 4.1.1 / 3.8.1)`

[2016-06-23 15:28] dbaq commented on #89
Have you tried to update your phonegap cli version?

[2016-06-24 08:57] vuphuctho commented on #89
Many thanks to your suggestion. I set the app's cli version to 6.1.0, and Phonegap Build finally succeeded to build apk.
`<preference name="phonegap-version" value="cli-6.1.0" />`

[2016-06-24 15:05] dbaq commented on #89
Glad it worked 👍 🍻

[2016-06-24 15:05] #89 closed, assigned to nobody

[2016-07-11 02:41] UnFlimFlammable opened #92 "Application tried to push a nil view controller on target <MFMessageComposeViewController: 0x1449ce200>."
[code]

[2016-07-11 02:42] UnFlimFlammable opened #93 "Application tried to push a nil view controller on target <MFMessageComposeViewController: 0x1449ce200>."
[code]

[2016-07-11 15:54] dbaq commented on #92
Can you please give more information? Versions, etc.

[2016-07-21 20:51] shotbyabel opened #94 "Logs show "Message Cancelled" | sms no longer working for iOS"
First the Email composer plugin would not open the iPhones email and then href-tel would not launch the call like before. I found a fix for both of these!

[code]

How ever it appears that `<access origin="sms:*" launch-external="yes"/>` does NOT do the trick for the sms plugin. I have tried different combinations and nothing seems to do the trick. The SMS app starts to open than it just closes ab

[2016-07-28 16:19] dbaq commented on #92
Closing this one since no reply. Feel free to reopen.

[2016-07-28 16:19] #92 closed, assigned to nobody

[2016-07-28 16:19] dbaq commented on #93
closing as duplicate of https://github.com/cordova-sms/cordova-sms-plugin/issues/92

[2016-07-28 16:19] #93 closed, assigned to nobody

[2016-07-28 16:20] dbaq commented on #87
Closing this one since no reply. Feel free to reopen it.

[2016-07-28 16:20] #87 closed, assigned to nobody

[2016-07-28 16:25] dbaq commented on #94
Hello @shotbyabel,

Please share some code. You should not have to use `sms:`. You should use `sms.send(number, message, options, success, error);`

[2016-07-28 19:23] juanmlf opened #95 "Cordova/NSArray+Comparisons.h' file not found // Build Failed in iOS"
Hi, i'm trying to build my phonegap app using the plugin and exporting builds with http://build.phonegap.com/apps .
The iOS build is failling with the next error:

[code]

The only thing i did was adding the plugin to the config.xml with the next line:

[code]

[2016-08-01 20:43] awjacobson commented on #95
I started seeing the same error using the latest version of the PhoneGap and version

`<plugin name="com.cordova.plugins.sms" source="pgb" spec="0.1.2" />`

of the plugin. I had to downgrade PhoneGap all the way back to

`<preference name="phonegap-version" value="cli-5.4.1" />`

to successfully compile. This is the only plugin I am using that has issues with the latest version of PhoneGap.

[2016-08-01 21:12] dbaq commented on #95
Hey @awjacobson, thanks for the report. Have you tried with cordova instead of phonegap? Curious to know if it is phonegap related or not.

[2016-08-02 13:47] awjacobson commented on #95
I haven't tried Cordova but I switched to using npm with the latest PhoneGap CLI and it compiles successfully. I used these settings in my config.xml to build on PhoneGap Build:

`<preference name="phonegap-version" value="cli-6.3.0" />`
`<plugin name="cordova-sms-plugin" source="npm" spec="0.1.10" />`

[2016-08-02 15:12] dbaq commented on #95
Great! `0.1.2` was definitely a old version. Thanks for sharing the solution. I am closing this issue for now, @juanmlf, feel free to reopen it if using the latest version of the plugin does not work.

[2016-08-02 15:12] #95 closed, assigned to nobody

[2016-08-04 14:19] yaseersheriff commented on #92
I get the same issue consistently on:

corodva-sms-plugin 0.1.10, cordova 6.3.0, xcode 7.3.1 , iOS 9.3.2

Tried to follow the example code from here, where they seem to have encountered the same issue, but no luck:

https://github.com/chefsmaley/cordovademo/issues/4

[2016-08-10 07:47] sachinlogiciel opened #96 "click on hardware back button of default sms app trigger app back too"
When default sms app is open then click on hardware back button on device it goes back to my app and then trigger go back too i can't understand a issue why my app go back trigger when i click on sms app back button?

[2016-08-10 13:55] marcellocolombo opened #97 "IOS error Method 'sendSMS:' not defined in Plugin 'SMS'"
Hi, I am triyng to send an sms from my cordova application using an ios 4s, but i get always get this error "ERROR: Method 'sendSMS:' not defined in Plugin 'SMS'
2016-08-10 15:49:58.732 EP[21038:60b] -[CDVCommandQueue executePending] [Line 142] FAILED pluginJSON = ["SMS487387103","SMS","sendSMS",[["366545XXXX"],"Set SMSinterval = 12"]]"...
But into plugin folder there are ios Sms.h and Sms.m files

[2016-08-24 07:58] neha9831 opened #98 "Getting Error on using cordova-sms-plugin while creating ipa on phonegap build"
I have looked towards all the solutions provided on github related to sms plugin but i am not able to find the suitable solution for my problem. When I am creating the ipa file with sms plugin I am getting the following mentioned error.;-
![ioserror](https://cloud.githubusercontent.com/assets/12149468/17922730/369fe044-69fe-11e6-9c77-ccfce3c79018.PNG)
I am using the latest version of  PhoneGap (iO

[2016-08-24 09:47] dbaq commented on #98
Hey @neha9831,

I am going to need more that just a UI error message. Can you paste the logs please.

[2016-08-24 19:51] agarrharr commented on #98
@neha9831 Where is that screenshot from? What program are you using to build the app? Have you tried using the cordova cli?

[2016-08-25 08:38] neha9831 commented on #98
Thanks For your reply dbaq . I am sending complete log as attachment pls check
[log.txt](https://github.com/cordova-sms/cordova-sms-plugin/files/436490/log.txt)

Hey this screen shot is from PhoneGap Build. I am using PhoneGap Build To build the app. And I Am using PhoneGap Desktop Version not CLI

[2016-08-30 00:47] dbaq commented on #97
For those having the issue, check in xcode that all the `.h` files are included.

Feel free to reopen it if you can figure it out.

[2016-08-30 00:47] #97 closed, assigned to nobody

[2016-08-30 00:47] dbaq commented on #96
have you ever figured this out? feel free to reopen it if you are still having the issue.

[2016-08-30 00:47] #96 closed, assigned to nobody

[2016-08-30 00:48] dbaq commented on #94
Closing this one since no replies. Feel free to reopen if if you are still having the issues.

[2016-08-30 00:48] #94 closed, assigned to nobody

[2016-08-30 00:54] dbaq commented on #98
Here is the important stacktrace:

[code]

it looks like it is related to the latest version of phonegap build.

see
- https://github.com/litehelpers/Cordova-sqlite-storage/issues/228
- https://github.com/j3k0/cordova-plugin-purchase/issues/246

@neha9831, can you try to uninstall and reinstall the plugin please?

thank you

[2016-09-02 05:44] neha9831 commented on #98
Thanks For your reply,, as per your suggestion I have uninstalled and then installed the plugin, But still same error found

[2016-09-11 21:10] dbaq commented on #98
hey @neha9831, have you figured this out? I googled it but was not able to find any serious hint.

[2016-09-12 07:15] neha9831 commented on #98
Hello @dbaq No, My problem is not figured out I am still getting same error. Same here I also googled for the issue but not able to find the appropriate solution for SMS Plugin

[2016-09-20 17:39] kqtrinh commented on #11
is there a function just displaying the text message without actually sending. If not are you aware of any plugin out there that shows a text string in an SMS like messages? I mean the nice styllus looking boxes around the text string. Thanks...

[2016-09-28 13:03] vitaly87 opened #100 "unable to send sms in loop"
Hi,
I am trying to send SMS with loop but it doesn't work,
[http://stackoverflow.com/questions/39740377/how-to-send-sms-with-loop-on-cordova](link to code)

any help?

[2016-09-29 14:22] volkovmqx commented on #100
use the success callback function to go to next iteration of the loop

[2016-09-29 15:51] marwanes opened #101 "plugin_not_instaled"
i alredy instaled the plugin but it still doesn't work

[2016-09-29 20:10] vitaly87 commented on #100
@volkovmqx hi, I saw that I can pass array of numbers to sms service to send sms, is it have some limits of length?

[2016-09-30 13:29] vitaly87 opened #102 "not sending sms to group"
Hi all,
I am trying to send to group of people sms but I can see that sms send to only one person...
My code is:

[code]

I am using ionic 2.1and cordova 6+,
any idea whey?

[http://stackoverflow.com/questions/39792861/not-sending-sms-more-than-ones]

[2016-10-04 12:34] Yusadolat commented on #71
Sir @cfjedimaster what do we Install Instead?

[2016-10-04 13:01] cfjedimaster commented on #71
I don't remember - I think cordova-sms-plugin. Try both - it won't take you long. ;) Or ask @dbaq

[2016-10-04 13:13] Yusadolat commented on #71
Okay sir thanks.

[2016-10-06 01:03] aggarwalankush opened #103 "Package name not in sync with Ionic"
Please see this issue if you can fix it https://github.com/driftyco/ionic-native/issues/643#issuecomment-251839647

[2016-10-06 11:52] kuebel commented on #94
That does happen if you set number to null in js. Set it to ''.

[2016-10-06 18:10] dbaq commented on #103
hey @aggarwalankush, thanks for reporting the issue. I'll fix the configuration soon. It was for phonegap at that time.

[2016-10-06 18:16] dbaq commented on #102
Hello @vitaly87,

Sending a group text message is not a SMS but a MMS. There is a work in progress that you can contribute to, see #14.

To send one SMS to several people, you can iterate through the array and call the send function.

[2016-10-06 18:16] #102 closed, assigned to nobody

[2016-10-06 18:18] dbaq commented on #101
Hello @marwanes,

can you please share more information? which platform? how did you install it? etc.

Thank you.

[2016-10-06 18:20] dbaq commented on #71
hey @Yusadolat, you should install via `cordova-sms-plugin`:

`cordova plugin add cordova-sms-plugin`

[2016-10-06 18:27] dbaq commented on #100
hello @vitaly87,

yes, it is the correct way to iterate

yes, you can also pass an array of phone numbers, there is no limit AFAIK.

[2016-10-06 18:27] #100 closed, assigned to nobody

[2016-10-06 18:38] vitaly87 commented on #102
That not working you can see example that I added to this post

[2016-10-10 13:06] vitaly87 commented on #101
I am using ionic 2.1.0 and cordova 6+ on  android

On Thu, Oct 6, 2016 at 9:18 PM, Didier Baquier notifications@github.com
wrote:

[2016-10-10 15:32] ikennah commented on #98
I am having the same issue, and this version is not compatible with the latest Cordova cli-6.3.0 version.

[2016-10-10 15:38] vitaly87 commented on #98
What version should I use?

On Mon, Oct 10, 2016, 6:32 PM ikennah notifications@github.com wrote:

[2016-10-11 13:52] ikennah commented on #98
Version 5 works. Not sure if we can get it update to latest version

[2016-10-12 11:24] vitaly87 opened #104 "To send one SMS to several people"
hi,
I am trying to run the code to send  several people same sms, but U cant see it working,
I am using ionic

 var options = {
          replaceLineBreaks: false, // true to replace \n by a new line, false by default
          android: {
           // intent: 'INTENT'  // send SMS with the native android SMS messaging
            //intent: '' // send SMS without open any other app
          }

[2016-10-13 03:11] dbaq commented on #98
hey @ikennah,

I just tried it and it works fine with cordova cli 6.3.1.

Here is what I did:

[code]

[code]

[code]

This issue is phonegap related not cordova. If you are having difficulties please open another issue.

[2016-10-13 03:13] dbaq commented on #101
Might it be related to #103?

[2016-10-13 03:18] #103 closed, assigned to nobody

[2016-10-13 03:22] dbaq commented on #103
hey @aggarwalankush, thanks again for reporting this issue. I updated both `package.json` and `plugin.xml`, I also published a new version `0.1.11`.

Let me know if you still have the issue.

Cheers.

[2016-10-14 16:01] agarrharr opened #105 "PGB Repository Shutting Down"
I'm not sure if you were already aware of this. Posting here just in case.

[code]

http://cordova.apache.org/plugins/?q=cordova-sms-plugin

[2016-10-18 19:27] blackrider401 opened #106 "Windows 10 - send SMS without open any other app"
Please is this currently possible for windows 10 device ?

[2016-10-19 11:53] josekenya opened #107 "Sending Multiple Numbers"
I  am trying to send comma separated numbers.However I get an error.How do I go about this?

[2016-10-19 14:37] starbassma opened #108 "doesn't work on iOs 10"
Hello,
i used this wonderful plug-in for almost 1 year, it works perfectly on all Android devices and versions, but it seems that there's a problem with iOs 10, it doesn't show any error and doesn't crash just nothing happened when send() is called,
Nb: the concerned application was built and sent to App store on (Mars 2016) and it work nicely with Ios  6, 7, but as said above it doesn't work with

[2016-10-19 14:53] starbassma commented on #107
@josekenya
can you post the error and a snippet of your code ?
Nb: your must split phone numbers with a comma : "," in one string parameter :

like this :
$.send(_"_**+11111111111, +111111111112, +2222222222222**_"_, Other parameters)

[2016-10-19 16:04] josekenya commented on #107
@starbassma
I am fetching the contacts from an array like this:
var contacts_array=['+111111111','+22222222','+111111111'];
var contacts_string=contacts_array.toString();
Then:
sms.send(contacts_string,Other params);

Nothing seems to happen.Is this approach correct?
Also getting an error as well.

[2016-10-19 16:24] dbaq commented on #108
Hey @starbassma, thanks for the feedback. I'll try to grab an iPhone with iOS 10 on it. In the mean time, can you check if you have any stacktrace in xcode? thank you

[2016-10-19 16:26] starbassma commented on #107
@josekenya
No :),
you can do that :
var contacts_array=['+111111111','+22222222','+111111111'];
var contacts_string=contacts_array.**join**();

[2016-10-19 16:29] starbassma commented on #108
@dbaq
Hello, thank you for your prompt response, but unfortunately i don't have my own mac neither an iphone

[2016-10-19 17:03] josekenya commented on #107
@starbassma
Tried it and still  not working.Just a heads up:
Using android 4.4.2

[2016-10-19 17:05] vitaly87 commented on #107
I also have similar issue, trying with ionic to send SMS to people and one
first sends can you take a look on my q.

On Wed, Oct 19, 2016, 8:03 PM josekenya notifications@github.com wrote:

[2016-10-19 17:05] vitaly87 commented on #107
Only one SMS send to first in the array.

On Wed, Oct 19, 2016, 8:04 PM vitaly menchikovsky vitaly87@gmail.com
wrote:

[2016-10-19 17:24] agarrharr commented on #107
Check out #50.

[2016-10-19 17:44] starbassma commented on #107
@josekenya
As @aharris88 mentioned it only works if you want to send  MMS, (with intent:'INTENT'), if you want to use it to send multiple sms you must iterate over the phone_numbers array and call $.send each time

[2016-10-19 18:15] josekenya commented on #107
@aharris88 @starbassma
The solution at #50 works great!!However the iterating solution is expensive and may not work as expected.
Thanks guys :)

[2016-10-19 18:15] #107 closed, assigned to nobody

[2016-10-20 05:40] #104 closed, assigned to nobody

[2016-10-24 12:44] sneps85 commented on #22
Same issue here

[2016-10-26 15:10] woodzza opened #109 "restoreSMS issue - not saving to phone"
I am trying to restore backed up SMS messages, I have created a simple function to test my logic - i do get a success callback but nothing is being saved to the phone (SAMSUNG S4).

Any direction would be much appreciated.

I have tried with two variations of the msgs as objects, one with all fields and the other with just the address and body. Objects passed are called objSMS or objSMSA.

***\* s

[2016-10-30 16:55] starbassma commented on #108
Hello @dbaq ,
 any news pleas

[2016-10-30 22:06] dbaq commented on #109
Hello,

It looks like you open an issue on the wrong repository. There is no method called `restoreSMS` on this plugin.

[2016-10-30 22:06] #109 closed, assigned to nobody

[2016-10-30 22:15] dbaq commented on #106
Hello blackrider401,

Unfortunately, it is currently not possible on the windows platform. Only android AFAIK.

[2016-10-30 22:15] #106 closed, assigned to nobody

[2016-10-30 22:16] dbaq commented on #101
Closing this one since no answer, please reopen if the issue is still happening.

[2016-10-30 22:16] #101 closed, assigned to nobody

[2016-10-30 22:28] dbaq commented on #105
I updated the readme. Thanks.

[2016-10-30 22:28] #105 closed, assigned to nobody

[2016-10-31 20:18] agarrharr commented on #105
👍

[2016-11-03 04:20] dbaq commented on #108
hello @starbassma,

sorry for the delay, I had some troubles with Sierra and xcode. I just tried with the sample code on iOS 10.1 and it worked.

[code]

[code]

Can you please try again on your side?

[2016-11-03 12:43] starbassma commented on #108
Hello @dbaq,
Thanks for your prompt answer, the problem is not related to "cordova-sms" plugin but to  iOS 10 which requires additional entries in the Content-Security-Policy:
adding this tag to my index solved the problem :
`<meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline'; img-src 'self' data:; script-src * 'unsafe-inline' 'uns

[2016-11-03 12:43] #108 closed, assigned to dbaq

[2016-11-03 15:02] dbaq commented on #108
thanks for sharing the solution 👍

[2016-11-05 02:03] RFz2 opened #110 "Build fails on iOS 10"
Hello,

I'm getting the following output: "File not found #import <Cordova/NSArray+Comparisons.h>"
This causes iOS builds to fail. Android works fine though. Any ideas?

Many thanks

Ryan

[2016-11-06 15:12] dbaq commented on #110
hello @AyeyerMa,

what's your cordova version? try to update it to the latest release.

[2016-11-07 09:19] Mahmoud85 opened #111 "problem with permission check"
Hello Guys
I use a code like this
` $scope.snedNative = function(code, number) {
                $cordovaSms
               .send(number, code, options)
              .then(function() {
               alert('Success');
                  // Success! SMS was sent
                 }, function(error) {
                 alert('Error');
                 // An error occurred
                });

[2016-11-08 11:48] RpCoding commented on #111
I guess that has to do with https://github.com/cordova-sms/cordova-sms-plugin/issues/26

[2016-11-08 19:58] dbaq commented on #111
Hi @Mahmoud85,

it is weird, if you refuse the permission, you should have an error.

https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L63-L71

I'll dig into this.

[2016-11-11 21:47] graphicgeek commented on #42
I'm having this issue, though it's not "closing" my app, so much as it is opening a version of the native messaging app inside the webview for my app.

Here's my code:

[code]

This opens the native messaging app and I can even send the message, but after that I have no way to get the user back to my app. They have basically have to relaunch the app.

[2016-11-15 15:18] MattDHill commented on #22
Changing animated: YES to NO no longer solves the problem in iOS 10. Doing so changes the behavior slightly, but if the user attempts to scroll up through the conversation, the input section still disappears beneath the viewport. Also, on a second attempt to open SMS, the input section fails to open at all. It gets about half way, then drops back beneath the view port. In either case, the user can

[2016-11-16 01:57] cmosboss opened #112 "Is it possible to send multiple people sms on iOS?"
I am having a lot of issues with iOS. Originally I set it all up on android and it worked great (sending group message, loop through and send out sms messages with no intent etc) But apparently iOS cannot do this? And on top of that technically group messages are considered MMS and also do not work? Any info on how to send out a text to 2-4 people via iOS would be great.

[2016-11-16 13:22] lordgreg commented on #112
Hi. Yes it is. Just use `comma` to split the numbers:

[code]

👍

[2016-11-16 15:53] cmosboss commented on #112
So I just tested this exactly how you wrote it, I basically took out all my logic to get the number in the program and just typed out 2 numbers back to back with the +xxxxxxxx then a comma and it did not work. It acts like it is opening a group chat but the text is off to the side and the numbers are somehow messed up. View my image below, it seems to open a MMS instead of an SMS and the formattin

[2016-11-17 19:42] cmosboss commented on #112
@dbaq Any ideas? I have tried everything I can think of, everytime I open a new MMS the keyboard / text area area all kinds of broken. iOS 10.2 if that helps.

[2016-11-17 20:00] lordgreg commented on #112
Have you tried it on any other device? How does your message string look like? You also never told device, ios version, cordova version installed etc?

[2016-11-17 20:04] cmosboss commented on #112
@lordgreg message is a predefined string in this case "Hi", ios is 10.2. Cordova 6.3.1, Ionic 1

[2016-11-18 04:27] dbaq commented on #110
closing this one since no answer, feel free to reopen it if the problem persists.

[2016-11-18 04:27] #110 closed, assigned to nobody

[2016-11-18 04:31] dbaq commented on #42
hey @graphicgeek, the only way I can help you is if you share the android stacktrace. You can obtain it by running `adb logcat` on your laptop while running the app on your phone.

[2016-11-18 04:33] dbaq commented on #98
Closing this one since no answer.

[2016-11-18 04:33] #98 closed, assigned to nobody

[2016-11-18 04:57] dbaq commented on #112
Hey @lordgreg, @zocheyado,

that's interesting, could the formatting issue be related to #22?

that's the expected behavior, if you want to send several SMS (instead of one MMS), you should iterate over your phone numbers array and call `send` multiple times.

Side note, I should review the public API of this plugin to be more simple to use and allow both behaviors.

[2016-11-18 05:08] dbaq commented on #111
Hey @Mahmoud85,

It is working properly, the error callback when I click `Deny` (even several times in a row). It looks like you are using ngCordova or something like that. What's the plugin version?

[code]

![screenshot_20161117-210052](https://cloud.githubusercontent.com/assets/1867703/20419155/26384d24-ad09-11e6-962e-b05ec5edbcc3.png)
![screenshot_20161117-210120](https://cloud.githubuserconte

[2016-11-18 07:11] lordgreg commented on #112
Hi @dbaq. Thank you for your feedback. I'm not sure this is the workflow I want then,... having 10 contacts I want to send a simple message to all of them. Calling `send` multiple times would open 10 message windows... so I thought from reading the api :)

I must say though, everything is working superb as-is;

Good job 👍

[2016-11-18 12:26] Mahmoud85 commented on #111
hello dbaq , appreciate your interest , in fact I'm using ionic.native wrapper and the sms plugin with angular 1 and ionic 1, cordova version 6.3.1 and sms plugin version 0.1.11, please help:
here is my code and I' m using a real mobile phone.

`$ionicPlatform.ready(function() {

[code]

[2016-11-18 12:55] Mahmoud85 commented on #111
well , I tried it in the emulator , it is working fine but not on a real device, hope you can fix it soon.

[2016-11-18 16:47] cmosboss commented on #112
@dbaq Lordgreg is correct, iterating over the numbers works great for android because you can send them without opening a sms box but  because of how iOS opens a messaging app MMS is the only way it can work. Also I think it could be related to #22 however I tried the fix in that thread and it is not working, in that thread someone comments on how it no longer works on iOS 10

[2016-11-18 16:52] dbaq commented on #112
I tried on iPhone last night with the latest iOS 10, I wasn't able to reproduce any layout issue. I never have been able to reproduce #22.

@lordgreg, it is an iOS limitation, there is nothing I can do on my side. If you really need to invite 10+ contacts, you should go for a solution like Twilio and send SMS via their service (the sender won't be a known number though)

[2016-11-18 16:54] cmosboss commented on #112
@dbaq Do you use regular cordova or ionic? Just wondering since I am using ionic and so was the user in #22, I wonder if it is related to that. Do you have any suggestions for me on how to find the source / fix the formatting issue? I know some Objective-C so maybe if you can point me to the area where the plugin invokes the messaging app I can take a look.

[2016-11-18 16:56] dbaq commented on #111
try without using ngCordova.

`sms.send(number, code, options, function() {alert('Success');}, function(error) {alert(error);});`

This plugin works correctly (see screenshot). Also, have you checked that you have nothing weird there http://www.greenbot.com/article/2990078/android/how-to-toggle-app-permissions-in-android-marshmallow.html?

[2016-11-18 17:02] dbaq commented on #112
@zocheyado pure js in a simple cordova app (that's the easiest way to know if an issue comes from the plugin or something else). Have you tried to remove ionic keyboard?

You need to look at this code https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/ios/Sms.m#L45-L89

[2016-11-18 17:21] cmosboss commented on #112
@dbaq I just tried removing ionic keyboard and no luck still caused issues. Seems very odd that it is off to the side like it is. Anyways I will let you know if I find anything in the sms.m file.

[2016-11-18 22:41] Mahmoud85 commented on #111
when I use it without cordova , android asks for permission to send sms , however neither success nor error functions is fired . I'm so confused about this because I'm using a real device with android 4.4.1, I don't know even why it is asking for permission as per the documentation it is a feature that was developed only on Marshmallow.

[2016-11-18 23:17] rolinger opened #113 "Plugin causing my app to close without warning"
I got an unusual issue, I implemented cordova-sms-plugin and it works....Bbbuuttt...its causing my app to crash.

1)  using `android: { intent: 'INTENT' } - is crashing my app without warning, and without any error messages.   It does open the default message app, populates the message and allows me to send it.  But after the message has sent A) it does not direct me back to my app and B) I manual

[2016-11-19 00:06] rolinger commented on #113
Hmmmm...upon further reading I tested the 'intent' - I changed it to: `android: { intent: ''} `  -- in Android the text just auto-sent.  Guess I didn't fully understand what 'intent' does...and my app didn't crash.

However, I believe the `android: {intent: 'INTENT'}` needs to be looked into as it is causing my app to crash.

[2016-11-19 14:53] Mahmoud85 commented on #111
it is also working for me in the emulator , the problem occurs only on real device with android 4.4.2 and I don't have a marshmallow device to try it on it.

[2016-11-21 07:27] cl0udi3 opened #114 "sms plugin not found with framework7"
Is this plugin compatible with Framework7? I've tried it on a pure cordova app (without any frameworks) and it works perfectly. But when I tried incorporating it on Framework7, I kept getting the error that says "variable sms not found". This happens only on iOS, works good on android.

Any advice is appreciated on workarounds. Thanks in advance!

edit: i fixed it by manually including cordova.js

[2016-11-21 09:42] #114 closed, assigned to nobody

[2016-11-22 22:57] RubenMartins opened #115 "PGB iOS error on build to cli-6.3.0"
HI,

When building an app with cordova cli-6.3.0 on PGB the app crashes to build to iOS I tested from cordova-sms-plugin 0.1.5+
For testing I was able to create the app with your plugin only with cordova cli-5.2.0

Please check this.
Tanks

[2016-11-22 23:55] dbaq commented on #115
Hey there, the current plugin version is 0.1.11 https://github.com/cordova-sms/cordova-sms-plugin/blob/master/package.json#L3

Can you try to upgrade?

[2016-11-24 08:48] karthickv71 opened #116 "Cordova Plugins (cordova-sms-plugin) works on Android 4.1.2 but not on Android 4.4.2 (Samsung Galaxy Note GT-N8000)"
I successfully installed my app, but have a problem with  [cordova-sms-plugin](https://github.com/cordova-sms/cordova-sms-plugin)

It's working on Android 4.1.2 and 6.0.0 but not on 4.4.2 .
When I use the app on Android 4.4.2, the app is working but the plugin does work. I DO get an alert message saying "**SMS is not supported**". So I cannot send an SMS to another mobile,

How can I fix it? do yo

[2016-11-26 18:00] vitaly87 opened #117 "closing app after sending group sms"
I am trying to send to group sms with cordova-sms-plugin. My issue that all sms sent but the app is closing right after. I am using ionic 1.x,

My code is:
[code]

[2016-11-28 13:28] HimanshuHD commented on #71
I think 'corodva-sms-plugin' does not provide all native messaging functionalities. It only gives send  functionality. While on the other side, 'cordova-plugin-sms' gives us multiple native functionalities like sendSMS, listSMS, deleteSMS, startWatch, stopWatch and few more. I want to implement autofill OTP on arrival of SMS, and 'cordova-plugin-sms' has 'startWatch' and 'onSMSArrive' event to imp

[2016-11-28 17:17] dbaq commented on #71
You should use the other plugin then, this one is for read only. Please open an issue on their repository.

[2016-11-28 17:18] dbaq commented on #117
Please run `adb logcat` on your machine to give me the android stacktrace. That's the only way I can help you.

Thanks.

[2016-11-28 17:20] dbaq commented on #116
Hello @karthickv71,

in your case, this method returns `false`: https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L114-L115

It looks like the `Samsung Galaxy Note GT-N8000` is a tablet, is there a sim card on it?

[2016-11-28 17:21] dbaq commented on #115
Any update?

[2016-11-28 17:21] dbaq commented on #113
Please run `adb logcat` on your machine to give me the android stacktrace. That's the only way I can help you.

Thanks.

[2016-11-28 17:23] RubenMartins commented on #115
Hello, I test all the versions until 0.1.11 and its the same error.

[2016-11-28 17:49] vitaly87 commented on #117
I am debug the app via device and chrome on my PC how can I see the log
from chrome?

On Mon, Nov 28, 2016, 7:18 PM Didier Baquier <notifications@github.com>
wrote:

[2016-11-28 23:47] dbaq commented on #115
do you have any more information to share? stacktrace? logs?

[2016-11-28 23:48] dbaq commented on #117
you have to plug your phone then open the console and run `adb logcat`

[2016-11-29 04:57] karthickv71 commented on #116
Hi dude ..yes there is a simcard on it. I tested on Samsung Galaxy Note GT-N8000. but I Did get an alert message saying "**SMS is not supported**". How can I fix it?

[2016-12-01 18:06] chrisbenseler opened #118 "Plugin 'SMS' not found, or is not a CDVPlugin"
I have an Ionic (v1) app that uses the plugin. It was working fine in an old Macbook, but I'm trying to configure in a new Mac Mini with OS El Captain, and I'm getting this error when the app runs in a real device:

_Plugin 'SMS' not found, or is not a CDVPlugin_

the old Macbook has XCode 6, now I'm working with XCode 8.

My environment infos are:

Anyone has any idea of what can be wrong?

[2016-12-01 18:17] chrisbenseler commented on #118
It was my fault.
The package.json has
cordova-plugin-sms
instead of
cordova-sms-plugin

[2016-12-01 18:17] #118 closed, assigned to nobody

[2016-12-01 18:22] chrisbenseler opened #119 "ERROR: Method 'startWatch:' not defined in Plugin 'SMS'"
This error appears in an Ionic 2 app, iOS (didn't test in Android).

ionic info:

Can anyone help me?

[2016-12-01 18:23] #119 closed, assigned to nobody

[2016-12-01 18:24] dbaq commented on #119
are you sure you are not using cordova-plugin-sms. This plugin is a readonly one.

[2016-12-03 11:52] vitaly87 commented on #117
I got this log maybe some help...

12-03 13:46:00.663   786  2700 D SurfaceControl: Excessive delay in

On Tue, Nov 29, 2016 at 1:48 AM, Didier Baquier <notifications@github.com>
wrote:

[2016-12-03 12:24] megadrazz commented on #49
para dual sim você deve ir em configuração e selecionar o sim para o envio do SMS!

[2016-12-03 12:26] megadrazz commented on #49
For dual sim you should go in setup and select the sim for sending the SMS!

[2016-12-08 22:16] MattDHill opened #120 "iMessage takes a long time to open."
At times, it can take up to 6-7 seconds for the plugin to open iMessage. Meanwhile, the user is left wondering what's happening. Any idea what might be taking so long or how to speed it up?

[2016-12-11 22:44] eholland7080 opened #121 "Emulator?"
Hello, this is a great plugin.  Was wondering if it works running it on an emulator.  I'm sending the test SMS to itself via 5554, but it does not work.  Was wondering if this is because I'm running it on an Android emulator.
Thanks everyone
Eric

[2016-12-13 21:11] dbaq commented on #120
can you provide the logs from xcode?

[2016-12-13 21:23] dbaq commented on #117
This stacktrace shows that your app got killed by the activity manager probably because of some memory issue.

Have you tried a simple app to use this plugin?

[2016-12-13 21:24] dbaq commented on #115
Closing this once since no answer. Feel free to reopen it.

[2016-12-13 21:24] #115 closed, assigned to nobody

[2016-12-13 21:25] dbaq commented on #112
Closing this once since no answer. Feel free to reopen it.

[2016-12-13 21:25] #112 closed, assigned to nobody

[2016-12-13 21:25] dbaq commented on #113
Closing this once since no answer. Feel free to reopen it.

[2016-12-13 21:25] #113 closed, assigned to nobody

[2016-12-13 21:25] dbaq commented on #116
Closing this once since no answer. Feel free to reopen it.

[2016-12-13 21:25] #116 closed, assigned to nobody

[2016-12-13 23:08] MattDHill commented on #120
2016-12-13 16:07:30.964721 WorkBlast[8958:3402792] [MC] System group container for systemgroup.com.apple.configurationprofiles path is /private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles

2016-12-13 16:07:30.974283 WorkBlast[8958:3402792] [MC] Reading from public effective user settings.

2016-12-13 16:07:33.567803 WorkBlast[8958:3402727] [App] if we're in the re

[2016-12-14 14:54] Andoion commented on #22
Same issue as @MattDHill

[2016-12-16 13:44] gchokeen opened #122 "hasPermission not defined error"
Hi,

I am getting below error when try to use this plugin in the ionic 2.

**Error**

**Environment**

As ionic 2 documented [here](https://ionicframework.com/docs/v2/native/sms/) I used the plugin as below
[code]

Note: SMS.send works when I use outside hasPermission wrp

[2016-12-24 00:18] cmosboss commented on #14
@dbaq while I know true MMS support is long off, above you mentioned adding image for android. Is it possible to send an image via android with no intent ? I would love to add that feature to my app, let me know thanks.

[2017-01-07 05:53] Poola123 opened #123 "Chromium webview issue"
1: ERROR:interface_registry.cc(104)] Failed to locate a binder for interface: autofill::mojom::PasswordManagerDriver
2: Cannot call determinedVisibility() - never saw a connection for the pid: 28468
I implemented the sms plugin and while im trying to run the app i got the above two errors in the logcat can anyone help me with the issue...Thankyou

[2017-01-07 17:28] dbaq commented on #123
Hello @Poola123,

Can you please share some code, the cordova version and the platform you are using.

Thanks.

[2017-01-08 05:01] Poola123 commented on #123
Hello @dbaq ,
Cordova version is 2.2.0 and the platform is Android.

code:index.html page
<!DOCTYPE HTML>
	<html>
          <head>
              <meta charset="utf-8" />
              <meta name="format-detection" content="telephone=no" />

              <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

[2017-01-08 17:16] dbaq commented on #123
can you simply run the build via  `cordova build` and let me know?

[2017-01-09 05:43] Poola123 commented on #123
I have tried to run it using phonegap build and now i got this errors.
Error:1:Uncaught ReferenceError: require is not defined
    at sms.js:3
2: Uncaught TypeError: Cannot read property 'send' of undefined
    at Object.sendSms (sms.html:26)
    at HTMLInputElement.onclick (sms.html:35)
 sms.html code:

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta nam

[2017-01-20 06:22] inplamba opened #124 "Get Callback of success or error from default app to my app using cordova-sms-plugin"
Hi All,Can anyone help me out
I need success or error callback from default App.
For example, if you press send then the app passes the data to the default SMS app, and if there is a network issue or for some reason the SMS does not get sent, the callback from default app will return as error callback to my app ,How could be it can be implemented .Thanks in Advance @dbaq

[2017-02-20 06:43] aldegad opened #125 "can I receive MMS?"
Can I receive MMS to my app with this plugin?

[2017-02-20 20:35] dbaq commented on #125
no you cannot receive SMS/MMS with this plugin. It is a "send" only plugin.

[2017-02-20 20:35] #125 closed, assigned to dbaq

[2017-03-15 12:44] enesaltinkaya commented on #94
Also happens if the number is integer.

Make sure it is string.

sms.send(number, message, options, success, error);

[2017-03-23 15:22] mrlonnie opened #127 "Default behavior when sending sms"
Is the default behavior(Android specifically) after sending the sms, to close the sms app or keep it open?  It appears to be working differently on different android phones.  And if the behavior is to keep the sms app open, is there a way to force close the sms app after sending?

[2017-03-28 15:33] mrlonnie commented on #26
So is this issue considered working as intended/not going to fix/only Android OS can fix?  Running into the same issue with immediate success callback on the Android platform.

[2017-03-28 15:44] dbaq commented on #26
hello @pixelpuffpastry,

Yes, unfortunately nothing has changed over the years. Please refer to https://github.com/cordova-sms/cordova-sms-plugin/issues/26#issuecomment-86881976.

[2017-03-28 15:55] mrlonnie commented on #26
Ah - thanks for the quick reply!

[2017-03-29 04:22] lionlancer opened #128 "Not asking for permission and sending 'null' message"
Device: Samsung Galaxy S7
Android OS version: Nougat (7.0)

Issue:
I'm using your sample code although I altered it a bit.

[code]

After I called that script, it doesn't asks for permission but instead it alerts "error?". To get around with this, I just manually set up the permission in my device's settings. After that, it can successfully send SMS but there is another problem, the message it sen

[2017-03-29 16:06] dbaq commented on #128
hey @lionlancer, can you run `adb logcat` to check if you have a stacktrace in the logs?

[2017-03-30 11:16] lionlancer commented on #128
Thanks for replying @dbaq. :)

I'm sorry, I'm not using any framework to build my app. I'm just writing everything manually. And I build it using PhoneGap Build. And I'm using my company's computer so I can't just download anything. Maybe I'll try testing at home during the weekend if I've got time. Is there any other thing I can do to help you fix this issue?

[2017-03-30 14:48] dbaq commented on #128
The fact that you are using phonegap build could be the source of the issue. Once you have the .APK file generated, you can install it on your phone correct? Once it is running on your phone, you can plug your phone in your laptop via a usb cable and run `adb logcat` from a terminal to see all the logs of your phones (and potential exceptions).

[2017-04-03 14:04] vegetablesalad opened #129 "Message cancelled on IOS"
I get "Message cancelled" error every time. I can see that something flashes on the screen, but no message dialog shows up. Anyone else experiencing this ? My build SDK is 10.2

[2017-04-03 14:10] vegetablesalad opened #130 "Adding BroadcastReceiver in Android for subscribing to sms messages"
Last week I had need for a BroadcastReceiver in android for processing incoming SMS messages. If you guys think this would be something useful in this plugin then I could try to contribute my code.

[2017-04-03 17:32] dbaq commented on #129
hello @vegetablesalad,

can you check in xcode if you see a stack trace?

[2017-04-03 17:35] dbaq commented on #130
hey @vegetablesalad,

Thanks for the suggestion. However, this plugin is a "send-only" plugin, we are trying to keep it simple. Other plugins are doing both sending and receiving SMS messages.

[2017-04-03 17:35] #130 closed, assigned to nobody

[2017-04-04 08:53] vegetablesalad commented on #129
That's the worst thing, there is no errors. I traced it till the end and everything seems to work, except message is canceled at the end. If I delete everything inside "messageComposeViewController", then I get stuck at black screen.

[2017-04-05 07:29] vegetablesalad commented on #129
So it seems to work on **5s iOS 9.0** but not on **5s iOS 10.2.1**
Probably iOS 10 fault

[2017-04-05 15:55] dbaq commented on #129
thanks @vegetablesalad for digging into this issue. Can you try on different iOS version? 10.3 for instance?

[2017-04-08 06:58] mbaaro opened #131 "message delivered after too long"
Hello thanks for this awesome piece. it is working perfectly for me when sending only one sms. I am however facing difficulties when i want to send two different messages to two different numbers simultaneously. I am getting the numbers from a formbuilder form and when i hit the send button, sometimes the two messages are delivered immediately while in other instances only one message is delivered

[2017-04-17 15:35] dbaq commented on #131
hey @mbaaro,

Sorry for the delay, I was on vacation. That's the first time I am reading about delays. I would say that it could come from your provider but that's unlikely.

-In which country are you?
-Which platform are you using? (iOS/android)
-What's the average delay before delivery?
-Have you checked the console in xcode (iOS)/logcat(android)?
-Can you try with another phone or another carri

[2017-04-17 15:36] dbaq commented on #129
hello @vegetablesalad any updates on this one?

[2017-04-17 15:36] dbaq commented on #128
hello @lionlancer, any updates on this one?

[2017-04-17 15:38] dbaq commented on #127
@pixelpuffpastry sorry for the delay, I haven't seen that issue.

After sending the SMS, the SMS app should be closed automatically. It depends on the SMS app developer.

Is it the same SMS app on both phones?

no there is not unfortunately

[2017-04-17 15:39] dbaq commented on #111
Closing this one, if it is still an issue, please reopen it.

[2017-04-17 15:39] #111 closed, assigned to nobody

[2017-04-17 15:40] dbaq commented on #117
Closing this one, if it is still an issue, please reopen it.

[2017-04-17 15:40] #117 closed, assigned to nobody

[2017-04-17 15:40] dbaq commented on #120
Closing this one, if it is still an issue, please reopen it.

[2017-04-17 15:40] #120 closed, assigned to dbaq

[2017-04-17 15:41] dbaq commented on #121
hey @eholland7080, that's a good question, I never tried within an emulator.

Did you figure this out?

I am closing this one since it's been a few months. Feel free to reopen it if the issue still occurs.

[2017-04-17 15:41] #121 closed, assigned to dbaq

[2017-04-17 15:43] dbaq commented on #124
hey @inplamba,

It is a restriction on android, please read https://github.com/cordova-sms/cordova-sms-plugin/issues/26.

Thanks

[2017-04-17 15:43] #124 closed, assigned to dbaq

[2017-04-17 15:44] dbaq commented on #122
hey @gchokeen,

have you figured this out?

[2017-04-17 15:46] dbaq commented on #123
hey @Poola123,

have you figured this out? it seems to me an exception due to an external application or code. If it is still an issue, please re-open it.

[2017-04-17 15:46] #123 closed, assigned to dbaq

[2017-04-17 17:54] mrlonnie commented on #127
Thanks for the update!

we are testing with the default messaging apps on two different phones (Samsung Galaxy S5 && Nexus 6P).  It closes on the 6P but stays open on the S5.

[2017-04-17 18:39] dbaq commented on #127
Ok, that's interesting. What about the android version itself? is it the same on both devices? Can you share a simple .apk file so I can try on my google pixel?

[2017-04-18 05:28] gchokeen commented on #122
Hi @dbaq ,

 I was not able to figure out why I got this error, but I remember I removed the hasPermission wrap and it worked.

[code]

[2017-04-18 08:26] vegetablesalad commented on #129
@dbaq so I got other phones with different iOS versions and it worked on all of them. Then I tried it on  **10.2.1** again and it WORKED. Code didn't have any changes, I deliberately kept it on different branch. So I don't know what to tell you, it could be something specific for my computer or code, OR some very elusive bug. Either way I don't have any more info on this

[2017-04-18 10:52] daviddguedes opened #132 "Error when send two or more messages"
I am using the Cordova SMS plugin to send messages from an application developed with Ionic. When the "friends" array has length = 1 the SMS is sent. But when you have more than that, sometimes the messages do not arrive, or worse, the same number gets two messages. Is there something wrong with this code?
The problematic part of the code is as follows:

[code]

[2017-04-18 12:32] lenichols commented on #122
+1

[2017-04-18 12:34] #129 closed, assigned to dbaq

[2017-04-18 12:40] lenichols opened #133 "Sending Messagw on Android without Opening Message App"
I integrated this plugin fine but I want to create my own predefined message and send it without opening messenger - how would I go about this?

[2017-04-18 17:25] daviddguedes commented on #133
Try

[code]

[2017-04-18 17:34] dbaq commented on #133
Thanks @daviddguedes. @lenichols, that's correct, you should use the `options.android.intent` option and pass an empty string.

I am closing this one. Let us know if you need more help.

[2017-04-18 17:34] #133 closed, assigned to dbaq

[2017-04-18 20:17] dbaq commented on #132
Hey @daviddguedes, I don't see anything wrong with your code. Have you figured this out?

[2017-04-18 21:26] daviddguedes commented on #132
@dbaq I have not figured out what might be wrong. Still unsolved.

[2017-04-19 10:49] mbaaro commented on #131
-In which country are you?
-Which platform are you using? (iOS/android)
-What's the average delay before delivery?
-Have you checked the console in xcode (iOS)/logcat(android)?
-Can you try with another phone or another carrier?

Hello I am in Kenya and currently using Android.... The average delay is 20
minutes and no warnings or errors in my console

On Apr 17, 2017 18:35, "Didier Baquier" <noti

[2017-05-08 15:37] mbaaro commented on #132
I also face the same issue of the message either taking too long or one number receiving two messages....
Anyone with a solution to this Please help....
Or is there a way to clear/refresh the plugin after every message is sent??

[2017-05-25 07:29] mbhd90 opened #134 "ionic 2 onSMSArrive not working"
When SMS arrives the application crash

[2017-05-25 16:07] dbaq commented on #134
I am pretty sure you opened this issue in the wrong repository. `cordova-sms-plugin` is a send-only plugin. Check the other repository 😬.

[2017-05-25 16:07] #134 closed, assigned to nobody

[2017-06-04 21:43] justinmaltese commented on #22
For anybody using ionic - calling the close() method of the [ionic-keyboard plugin](https://github.com/ionic-team/ionic-plugin-keyboard) in both the sms success and error handlers served as a workaround for me.

[2017-06-11 09:36] MattDHill commented on #22
@justinmaltese I'm using Ionic 3 and your suggestion is not working. If I call sms.send(), then cancel, then call sms.send() again, the keyboard does not show. It tries to, get about halfway open, then closes. To clarify, the keyboard only shows on the first attempt and fails thereafter. @dbaq any ideas here?

[2017-06-29 09:21] lanceadvanced opened #135 "SMS won't be send on iOS 10"
Hi everyone :)

I tried implementing the cordova-sms-plugin in my PhoneGap App. The installation was succesful, using the sample code does NOT throw an error regarding sms being undefined. Infact, a console.log of sms does show me the object specified in the www/sms.js file from the folder structure of the plugin.

However, when trying to execute sms.send() i get two different situations:
1. In Br

[2017-06-30 09:51] lanceadvanced commented on #135
Update: I figured out that in Browser, the Plugin is enabled and the sms.js is in the header, however on iOS and Android it isn't. I found it out when using Weinre to remote debug the Phonegap Developer Application.

[2017-07-11 18:40] yeisson commented on #22
Same issue as @MattDHill, i'm using Ionic 3, the keyboard only shows on the first attempt. any workaround?

[2017-07-14 09:58] princeJio opened #136 "Android App Crashes when default App changes and opened with this plugin"
@dbaq  I changed my default messaging app to new messaging app from my nexus phone then I open my app and send sms using cordova-sms-plugin with intent:"INTENT" but my app crashes every time when I click on send button and unable to route my messaging app.

ADB LOGS AFTER CRASH

07-14 10:15:11.773   249   264 I Ext4Crypt: No master key, so not ext4enc
07-14 10:15:12.056   860  3246 I chatty  : uid

[2017-07-17 12:45] princeJio commented on #113
Hi @dbaq i got the same issue App crashes as soon as send sms using this plugin with intent:"INTENT"

ADB LOGS AFTER CRASH

07-14 10:15:11.773 249 264 I Ext4Crypt: No master key, so not ext4enc
07-14 10:15:12.056 860 3246 I chatty : uid=1000(system) Binder_B expire 2 lines
--------- beginning of crash
07-14 10:15:12.497 4649 4649 E AndroidRuntime: FATAL EXCEPTION: main
07-14 10:15:12.497 4649 4649

[2017-07-17 14:04] rolinger commented on #113
@dbaq - Sorry...I never your reply to my original issue.  I believe my fix was to remove: INTENT.  It's been a while.   Oddly enough, I am actually in the middle of testing code to remove the sms plugin as I am now going to relay all text messaging through my backend API so I can track all communications and send text messages through a 3rd party service.  SMS worked fine, but my app's needs chang

[2017-07-31 12:41] marcogrieco commented on #22
Hi, same issue for me with Ionic 3. The keyboard disappear after first attempt. Any ideas?

[2017-08-09 15:31] gonzalovinas opened #138 "Cannot send on KitKat"
Sms.java, at line 113 defines checkSupport method, which is only used when invoking the send functionality. On KitKat it always return false. Higher versions return true and works ok.

private boolean checkSupport() {
		Activity ctx = this.cordova.getActivity();
		return ctx.getPackageManager().hasSystemFeature(PackageManager.FEATURE_TELEPHONY);
	}

[2017-08-11 23:12] meggillespie commented on #22
Is there any more information on this issue?

I'm getting the same result.
Deploy app through Xcode initial call to send sms launches SMS dialog and keyboard opens....send, cancel or error initial msg...next attempt to call send.sms... SMS dialog opens while the keyboard disappears. It's very peculiar behaviour. Is this a Cordova or Ionic issue? @dbaq  @jgw9

Cordova CLI: 7.0.0
Ionic Framework Ver

[2017-08-21 13:29] jermahs commented on #22
@dbaq I'm not working on a project using this anymore at this time. I was doing a clean up of some issues of mine and came by this one. Please do not wait for my reply.

[2017-08-22 14:06] Usmaaan opened #140 "unable to send text greater than 160 characters plus another issue when sending text in other language it does not delivers."

[2017-08-27 03:56] nidhinkumar06 opened #141 "Security Exception when sending sms using cordova in android 7.0"
I am trying to send sms from a device using sms manager by adding the corodova send sms plugin .This app works fine till android6.0 device it sends the sms also but when i tried to send sms from android7.0 it shows me the following security exception.Before sending sms it asks for the permission and i have given the permission also.

Exception:

java.lang.SecurityException:
at android.os.Parcel.re

[2017-08-28 01:12] dbaq commented on #141
hey @nidhinkumar06, are sure you are using the latest version?

`at com.cordova.plugins.sms.Sms.send(Sms.java:143)`
this line seems odd to me. https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L143

[2017-08-28 07:13] nidhinkumar06 commented on #141
Hi,
  When the sms data contains a single string only of type text it is
working in android7.0 but when it has numbers inside the sms data it gets
crashed and that to only for android 7.0

On Aug 28, 2017 6:42 AM, "Didier Baquier" <notifications@github.com> wrote:

[2017-09-06 12:16] fatalcaron opened #142 "iOS send sms with less than 5 characters make the send box disapear"
I send sms to communicate with some devices. On iOS the message that contains less than 5 characters, the send box disappears and I have to click on the phone number entry so that it reappears.

[2017-09-13 08:45] Adam23Yuan opened #143 "彩信"
本插件是否支持发送彩信

[2017-09-13 14:07] andreszs opened #144 "Avoid "Open with" dialog on Android 7"
On Android 7.1.1, why am I prompted to select an app to **open with** for sending SMS? Of course we must use Messenger and only Messenger for SMS, why are we offered to use Hangouts which cannot send SMS to begin with? If there's some way to avoid this idiotic behavior, please let me know. Thanks.

![sms](https://user-images.githubusercontent.com/10298071/30381675-739a1970-9873-11e7-9463-1ca605a21

[2017-09-13 14:13] andreszs commented on #136
Why would anyone want to use a custom app for sending SMS?

I noticed that on newer (and worser) Android versions now you are offered to use _Hangouts_ to send SMS, a total nonsense option, you should definitely avoid it and always use the native SMS app only.

[2017-09-13 14:19] agarrharr commented on #144
On Android you have a choice about which app you want to use to send sms. Android uses "Intents" to allow different apps to handle types of activities. So, for example, when tap "share" inside an app, other apps say that they can handle the share intent. In this case, Messenger and Hangouts, say that they can handle the sms intent.

I'm not exactly sure why Hangouts is saying it can handle the sms

[2017-09-13 14:20] agarrharr commented on #144
Actually, the reason it's showing Hangouts may be because you are on an emulator.

[2017-09-13 14:24] agarrharr commented on #136
@andreszs One reason you may want to use another app is you may want to use an open source app, or you may want to have [end to end encryption](https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms&hl=en). Or you may want to be able to send sms from your computer, which you can do with Hangouts when you have Google Fi. Or other apps, may have other features that you want.

[2017-09-13 14:44] agarrharr commented on #144
And I think, if you tried it on your phone, and you only have Messenger installed, and you don't or can't use Hangouts for sms, then you won't even see this option pop up.

[2017-09-13 20:23] dbaq commented on #144
Thanks @agarrharr for answering this one. Closing it since the question has been answered. Cheers.

[2017-09-13 20:23] #144 closed, assigned to dbaq

[2017-09-13 20:25] dbaq commented on #143
Hi @Dawn2Yuan,

No the plugin does not support MMS yet, please look at #14. I am closing this one since it is a duplicate of #14.

-----
Translation powered by Google Translate

嗨@ Dawn2Yuan，

没有插件不支持彩信，请看＃14。 我关闭这个，因为它是＃14的重复。

[2017-09-13 20:25] #143 closed, assigned to dbaq

[2017-09-13 20:30] dbaq commented on #138
hey @gonzalovinas,

Quite weird since `FEATURE_TELEPHONY` has been around since android 2.1 (https://developer.android.com/reference/android/content/pm/PackageManager.html#FEATURE_TELEPHONY)

Have you tried on different phones?

[2017-09-13 20:31] dbaq commented on #140
hey @Usmaaan,

please provide more information:
- which platform? iOS? android?
- which version of cordova?

thanks

[2017-09-13 20:32] dbaq commented on #142
hey @fatalcaron is it always happening if the message is less than 4 characters? could it be related to #22?

[2017-09-13 20:33] dbaq commented on #141
hey @nidhinkumar06,

can you please share an example? I was not able to reproduce. Thanks

[2017-09-13 20:35] dbaq commented on #135
hey @lanceadvanced,

were you able to figure out your issue?

[2017-09-13 20:36] dbaq commented on #122
on which device are you guys testing?

[2017-09-13 20:37] dbaq commented on #127
Closing this one since no answer. Feel free to reopen.

[2017-09-13 20:37] #127 closed, assigned to dbaq

[2017-09-13 20:44] dbaq commented on #131
This is probably due to your carrier. Please feel free to reopen the issue if it still happening to you.

[2017-09-13 20:44] #131 closed, assigned to dbaq

[2017-09-13 23:30] gchokeen commented on #122
I used ```Android ver: 6.0.1``` MOTO G 4 plus device

[2017-09-14 12:46] fatalcaron commented on #142
Not really sure now. I don't understand why it's happening, all my sms functions is in a shared service to all my components and this bug only occur in one page of my app. The page where I sent short message, less than 5 characters. Yes it's related to 22!

[2017-09-14 13:56] muli-cohen commented on #67
Hi, Thanks for this great plugin, but I also got this issue. I installed the plugin via both cli and phonegap, but when I try to send an sms with my device nothing happens. The intersting thing is, that during installation of the apk, I get a notion that the app has access to "send SMS messages - this may cost you money". Also this plugin is showing on the phongap build plugin section. What am I d

[2017-09-14 17:06] muli-cohen opened #145 "Won't send an sms from android device. Browser's console shows sms is not defined."
Hi, Thanks for this great plugin, but I also got this issue. I installed the plugin via both cli and phonegap, but when I try to send an sms with my device nothing happens. The intersting thing is, that during installation of the apk, I get a notion that the app has access to "send SMS messages - this may cost you money". Also this plugin is showing on the phongap build plugin section. What am I d

[2017-09-15 17:00] mbaaro commented on #131
Thank you....... improved a great deal by building my app in production mode

On Sep 13, 2017 23:44, "Didier Baquier" <notifications@github.com> wrote:

[2017-09-18 06:15] lanceadvanced commented on #135
Hi, thanks for your reply :)
Unfortunately I didn't. I still get the message, that sms doesn't exists (in Debug, using weinre). The weird thing is, that in browser i get a message, that it couldn't find the exec proxy for the sms utility...
Is it possible to add the plugin in a wrong way for ios/andoird but in a right way for the browser?

[2017-09-18 15:11] andreszs commented on #94
@nsfnd Thank you so much for that feedback, I had the same issue on iOS 10.3.3 and converting the number to string fixed everything. **+10**

[2017-09-18 20:29] dbaq commented on #67
hey @mulic3,
You should try in an emulator to see if the sms composer opens or not. Have you tried on different devices?

[2017-09-18 20:29] dbaq commented on #145
hey @mulic3,
You should try in an emulator to see if the sms composer opens or not. Have you tried on different devices?

[2017-09-18 20:41] dbaq commented on #135
@lanceadvanced it is normal that it does not work in a browser. That's why you have the exec error.

is window.sms available?

[2017-09-20 21:56] arizona2014 commented on #14
hi guys ... tryed today to send to multiple recipients so I used an array like ['number1','number2] and managed to receive the message only at number1 recipient. If I changed ['number2','number1] i recieved the message only at number2. So clearly it sends only to first element of array.

Do you have in mind a solution for the multiple recipients ?

[2017-09-21 20:21] oleg531 opened #147 "Android 8 : app crashes during SMS sending"
Hello!

Recently I updated my Nexus 5x to Android 8.
I am using Ionic 3 (which use under the hood the cordova-sms-plugin) for development
After that, sending SMS starts to cause the app crash (before updating SMS works fine).

Could anyone know what's the reason?

Thanks!

[2017-09-21 20:45] dbaq commented on #147
hey @oleg531, can you please check the logcat logs? you probably can find a stacktrace there.

[2017-09-21 21:48] oleg531 commented on #147
@dbaq , Thanks for reply!
Here is the part of the output (I thing it's the most meaningful part )

[code]

[2017-09-21 22:43] dbaq commented on #147
Thanks for the stacktrace.

 It looks like the a permission issue:
 ```Neither user 10180 nor current process has android.permission.READ_PHONE_STATE.```

In your config.xml, do you have `READ_PHONE_STATE`?

[2017-09-22 08:31] vincebanzon opened #148 "Expected 2-3 arguments but not 5"
Hi, I've been working on this plugin and other plugins for SMS. So far, this plugin is working among all others.
However, I can't catch the activity if it is successfully sent or not when user CANCELS the message from an INTENT for android, ios and windows.
[code]

The above code works.
Base on the documentation, I can use 5 parameters :

```           sms.send(number, message, options, success, e

[2017-09-22 08:36] vincebanzon commented on #148
any thoughts on this @dbaq ? :-)

![untitled](https://user-images.githubusercontent.com/11060486/30736594-f57c2002-9fb5-11e7-8fb6-5d541c212829.png)

[2017-09-22 19:12] dbaq commented on #148
hey @vincebanzon,

You should be able to do it on iOS. On android you can't because the Intent does not return a specific code,  we don't know it is a success or not.

Which typescript file are you using?

[2017-09-22 19:16] dbaq commented on #141
Closing this one since no answer, please feel free to reopen it if it is still happening.

[2017-09-22 19:16] #141 closed, assigned to dbaq

[2017-09-22 19:18] dbaq commented on #142
ok so closing this one since it is related to #22.

[2017-09-22 19:18] #142 closed, assigned to dbaq

[2017-09-24 09:58] oleg531 commented on #147
No, I haven't.
It looks like the cordova-SMS-plugin use some functions, which required permissions  READ_PHONE_STATE in Android 8.

Possible it could help, I found it on [official Android 8 behavior changes:
](https://developer.android.com/about/versions/oreo/android-8.0-changes.html)

Have you any idea about it?

[2017-09-24 10:44] oleg531 commented on #147
I solved my problem.

By Ionic 3, I explicitly granted permissions READ_PHONE_STATE ([using official documentation](https://ionicframework.com/docs/native/android-permissions/)) .

Anyway, it looks like, since Android 8 cordova-SMS-plugin begin required READ_PHONE_STATE  permission.

I do not know is it a bug or not, because I do not have a rich experience in writing android app.
So please decide

[2017-09-25 05:30] vincebanzon commented on #148
Thanks for the response @dbaq .
However, I can't do it on iOS. I can only use 3 arguments.

I'm not sure which typescript I am using. Ionic 3 already uses typescript.

[2017-09-26 10:14] vegetablesalad commented on #147
I have the same problem. But I don't think that :

is the case.

It throws error
`at com.cordova.plugins.sms.Sms.send(Sms.java:192)`

so its exactly where **sendTextMessage** is called. And [sendTextMessage](https://developer.android.com/reference/android/telephony/SmsManager.html#sendTextMessage) shouldn't need any additional permissions beside  **SEND_SMS**

[2017-09-26 20:22] oleg531 commented on #147
@vegetablesalad  So, you mean it is a bug in cordova-sms-plugin? Or it is just relate only to my case and some permissions on my own phone after Android 8 upgrading?

[2017-09-27 07:00] vegetablesalad commented on #147
@oleg531
No it looks like its a bug or undocumented change in Android 8.
I recreated simple pure android application that just sends SMS, and it encounters the same error.
Works fine on everything below Android 8.

Here is stack overflow [post](https://stackoverflow.com/questions/46421412/android-8-requires-read-phone-state-when-calling-smsmanager-sendtextmessage), please up vote.
Here is  [report

[2017-09-27 19:29] dbaq commented on #147
@oleg531, @vegetablesalad,

I am confused, the `READ_PHONE_STATE` permissions should be in your config.xml (https://github.com/cordova-sms/cordova-sms-plugin/blob/master/plugin.xml#L29).

[2017-09-28 06:37] vegetablesalad commented on #147
@dbaq android uses permission from manifest only below version 5.1.1. Above this version you have to get permission at runtime. Anyway that is not the issue. Issue is that according to documentation we shouldn't need `READ_PHONE_STATE` to call `sendTextMessage()`

[2017-09-29 07:10] eonardol commented on #22
Same issue for us using iOS 11 on Ionic v.1
We have solved using a `setTimeout` (or `$timeout`) when calling the function that triggers the sending of the sms.

[2017-09-29 13:27] dijitalbrains commented on #22
@eonardol You mean you're firing $cordovaSms.send(); with some delay and it doesnt hide the keyboard anymore ?

[2017-10-02 08:24] eonardol commented on #22
yes @usman33, for e.g.:

    vm.doIt = function () {
        // ... set to, sms text,...
        $timeout(function() {
           sms.send(to, smsText, options, success, error);
        }, 500);
    };

[2017-10-02 08:58] dijitalbrains commented on #22
Great! thankyou.. it works for me as well.

[2017-10-03 11:08] khanani92 opened #149 "How can we select sim on run time. If mobile is dual sim"
Is there any method which we can call to set or select the sim on run time, before sending the sms

[2017-10-06 00:28] dbaq commented on #149
hey @khanani92, dual sim is not yet supported. See #49.

Thanks

[2017-10-06 00:28] #149 closed, assigned to nobody

[2017-10-13 18:17] weldermarcosxd opened #150 "ionic 3 sms.send crashes"
this code

`this.sms.send(string, number)
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err);
        });`

results in this stacktrace:

`10-13 15:12:12.553 14345-14401/io.ionic.starter E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-1
                                                                  Process: io.ionic.starter, PID: 143

[2017-10-13 18:29] #150 closed, assigned to nobody

[2017-10-13 18:30] weldermarcosxd commented on #150
this.sms.send(string, number) should be this.sms.send(number, string)

[2017-10-17 23:10] meggillespie commented on #22
I can confirm @eonardol solution works for me as well.

[2017-10-18 00:55] sssalib42 commented on #22
setTimeout worked on Ionic 3 and iOS 11! Thanks.

[2017-10-18 15:53] coolbeatz71 opened #151 "display sender name to the receiver"
Hello, is it possible to display the sender name or number to the receiver when sending sms via this plugin?

[2017-10-19 18:15] dbaq commented on #151
hello @coolbeatz71, the only thing you can do here is to add the sender's name in the SMS body. That's all.

[2017-10-19 18:15] #151 closed, assigned to nobody

[2017-10-20 01:02] bboy-space commented on #48
Hello !
Have the undefined message too. I have cordova 7.0.1, and well execute the code after deviceisready (in the process, othere plugins work)

here is my function :
[code]

[2017-10-23 20:26] ivopashov commented on #22
I observe this behavior also and think that has something to do with using the `tappable` directive. Having it breaks things (but action is immediate), not having it is fine (but click is 300 ms delayed). When i removed `tappable` from my views fixed things. I guess for the same reason the `timeout` hack proposed by @eonardol works. Just ionic/sms plugin can't handle for some weird reason the imme

[2017-10-27 07:13] coolbeatz71 commented on #78
Please have you done to solve this issues, because i am facing the same problem. My app crash after sending sms using intent:''. I am testing it on a real device android 5.1.1

[2017-10-27 07:19] coolbeatz71 commented on #113
@dbaq. I am facing a big problem. The app crash when sending sms using intent:''. I am testing it on android 5.1.1(real device).

[2017-10-27 15:40] dbaq commented on #113
Are you using the latest version of this plugin?

[2017-10-29 01:54] SpencerHehl commented on #135
Hi there, having the same issue here with iOS 11.  i run the sms.hasPermission and nothing happens. no error, no alert, nothing. I am wondering if there is something that needs to happen to explicitly give permissions first? there is never the pop up asking to give my app permissions to SMS like most other plugins. Also wondering if it needs something in the info.plist like a lot of other plugins

[2017-10-30 07:14] lanceadvanced commented on #135
Hi dbaq :) In an iOS App (launched through Xcode) and using the Safari remote Debugging, I get an error, that window.sms is undefined. I mentioned the browser, because in browser, windows.sms is not undefined. I just get an exec proxy error (which is fine as a browser cant send sms).
So this is the current state both on iOS 10 and 11.

[2017-10-31 02:57] dbaq commented on #135
hey @lanceadvanced, please check this out https://github.com/cordova-sms/cordova-sms-plugin#sms-is-undefined

[2017-11-01 16:40] deryfebriantara opened #152 "How to send SMS without saving the sms text"
HI..
I build an app that send sms with Token text to the receiver number,
but I don't want the sender  know the token that sent to the receiver.
is that possible to use this plugin?
I try this plugin but the text that I send saved in conversation phone sms dialog.
thanks in advance..

[2017-11-02 02:42] dbaq commented on #152
hello @deryfebriantara,

It is not possible to achieve what you want with this plugin. We are sending a text message as the current user. If you want to send some kind of token that you don't want your current user to see, you need to send a text message from your server. You should check out Twilio in that case.

[2017-11-02 02:42] #152 closed, assigned to dbaq

[2017-11-03 10:16] coolbeatz71 commented on #113
Yes, but I try to use only intent:"INTENT" but I remarked that its consuming airtime for sending sms, does the use of intent:"" also consume users airtime (I mean data bundle)?

[2017-11-03 22:01] dbaq commented on #113
What do you mean by airtime? (or data bundle?)

[2017-11-05 10:52] dilankamr commented on #49
Hi All,

Anyone found an answer this problem... need to select sim before sending SMS. :(

Thanks

[2017-11-05 18:27] coolbeatz71 commented on #113
its consumming credit of the users. The airtime is the money amount needed
for calling or sending sms with a phone. I was looking for a way of sending
the confirmation token to user to activate their account but when trying to
send sms to myself I remarked that its consumming my airtime. Briefly this
is the amount that are charged by a Network Provider like orange or MTN for
each call or each sms.

[2017-11-24 09:57] lijithwv commented on #147
Hi,

Anybody got an update on this issue?

Anyone tried fixing it using the suggestion by @oleg531 ?

[2017-11-24 11:02] vegetablesalad commented on #147
@lijithwv you can follow this issue [at stack overflow](https://stackoverflow.com/questions/46421412/android-8-requires-read-phone-state-when-calling-smsmanager-sendtextmessage). There you can also find link to google issue tracker.

Basically short story is that android 8.0 has bug with sendTextMessage, it asks for READ_PHONE_STATE permission. You have only two options - ask for extra permission

[2017-11-24 15:55] gonzalovinas commented on #138
I mean KitKat emulator... does it change the scenario in anyway?

[2017-12-03 03:10] RikdeBoer commented on #147
I'm seeing the issue of the app crashing when sending an SMS on a Motorola Moto G5, Android 7.0 -- the javascript console shows no errors with the device hooked up to Chrome://inspect, in debug mode.
The same code ran fine in the past, on other Android phones using versions 5 and 6.

My workaround (not a proper solution) for the moment  is to use an "intent" with the value of "INTENT", rather than

[2017-12-12 19:05] SpellChucker commented on #148
@dbaq @vincebanzon The issue is related to how it's defined in the `ionic-native` repo. See lines here: https://github.com/ionic-team/ionic-native/blob/995fd56894234c9cdb0f9e873822d12313aa6e88/src/%40ionic-native/plugins/sms/index.ts#L68-L77

These need updating to allow you to pass callbacks as parameters in ionic apps using this plugin via ionic-native.

[2017-12-13 12:51] z4h1 commented on #14
soooo... no mms support?

[2017-12-14 09:13] Lahrachtdi commented on #150
I'm having the same error

[2017-12-19 14:46] wish4129 opened #154 "The message won't sent If the message contain number (0-9)"
I'm unable to send out the SMS whenever the message contain number (0-9).
I've tried for few times. Any clue for me?

Android 5.01
LG G PRO 2 (D838)

ionic version 3.19.0
cordova version 7.1.0

[2017-12-30 09:20] mcamendoza1 opened #155 "intent not working"
Intent : '' is not working, i'm using ionic framework.
it still uses Android Messaging (Default SMS App).

[code]

[2018-01-05 13:25] singhiam opened #156 "Unable to Install Plugin"
Hi,

Thanks for this Plugin but I am having issues while installation in Ionic 2 Project.

npm install --save @ionic-native/sms
npm ERR! Unexpected token < in JSON at position 149

[2018-01-08 10:25] muli-cohen opened #157 ""Platform not supported" on Android 6.0.1 (Lenovo Tab2 A10-30)."
So I got this same error when the tablet was on 5.1, so I updated to 6 hoping it will solve the problem, but I still get "Platform not supported". The same code works flawlessly on Android Nougat on a different device. What could be the problem?
This is my code:
[code]
Thanks a lot for all your hard work, it is greatly appreciated!

[2018-01-08 23:03] dbaq commented on #157
Hey @mulic3,

Here is what I do to check if your device can send SMS.

https://github.com/cordova-sms/cordova-sms-plugin/blob/master/src/android/Sms.java#L119-L122

Are you sure this tablet as the `FEATURE_TELEPHONY`?

Cheers,

[2018-01-09 05:09] muli-cohen commented on #157
Thanks again for you time!
Yes, I am able to make phone calls and send SMS with this tablet, it fully supports it.
Could it be because I left the checkSMSPermission method out of my code?

[2018-01-09 16:57] dbaq commented on #157
if you remove this method, does it work? also, in your android manifest file do you have the `android.Manifest.permission.SEND_SMS` permission?

[2018-01-10 06:59] muli-cohen commented on #157
Thanks. I got the `android.Manifest.permission.SEND_SMS` permission. Also, it works on a nougat device flawlessly. I already got the `checkSMSPermission ` method out of my code, should I try to add it in? I would try in a heartbeat but not so sure I implement it right in my code:
[code]
Maybe all the problem is because the device came with 5.1, even though I installed an OTA 6.0.1 update?
Should i

[2018-01-11 10:10] muli-cohen commented on #157
Just to update, the code above gives me an 'Message send successfully' alert but doesn't really send anything. Is there something wrong in my code?

[2018-01-13 19:28] forestlance opened #158 "Cannot link cordova function for SMS"
I am having a problem getting my Basic app code to include a cordova plugin for sending (outgoing) SMS.  This is the first mobile app I have built, and I have been around the NSbasic and github cordova sites looking for help.  It seems no matter what I do, I am having a problem seeing the function either at compiling or runtime.

My config.xml right now, which after trial and error I think may be

[2018-01-15 16:52] smiileTeam opened #159 "Trying to send a SMS to a contact with who there is one sms unsent - Black screen (IOS only)"
Hi,

I have an issue with the plugin when i try to send an sms on IOS (version ios 11.2.1).

if  i try to send a sms to a number with which i already tryed to send a sms who failed cause of network or icloud account unconfigured

To reproduce this :

Try to send an sms to a number without sim card or anything to fail the sms send.
In app try to send a sms with the plugin to this same number, when

[2018-01-15 22:33] dbaq commented on #159
Hey @smiileTeam,

Thanks for the report, that's an interesting issue. Is there any stacktrace in xcode that you can share?

Thanks

[2018-01-15 22:37] dbaq commented on #158
Hey @forestlance,

`sendSMS`? you are not using this plugin but probably another one like https://github.com/floatinghotpot/cordova-plugin-sms. Double check the plugin name in your config file.

This plugin is a "send only" plugin. The function is `sms.send`, you can find more details in the README.md.

Cheers,

[2018-01-15 22:37] #158 closed, assigned to nobody

[2018-01-16 08:24] smiileTeam commented on #159
Hi @dbaq

The only trace i can see in xcode when i trigger this issue is : "[App] if we're in the real pre-commit handler we can't actually add any new fences due to CA restriction”.

I could test on ipad with ios 10.3.2, there is no this issue

Thanks

[2018-01-16 15:57] dbaq commented on #159
Maybe something is missing in the error handler the first time.

Side question: can you confirm that you are using `cordova-sms-plugin` and not a fork or `sms-cordova-plugin` repo?

[2018-01-16 16:09] smiileTeam commented on #159
here the line in my package.json :
"cordova-sms-plugin": "^0.1.11",

i use it with the wrapper of ionic "@ionic-native/sms": "^4.5.2",

[2018-01-17 12:53] gotling commented on #132
I noticed the same unreliable behavior when sending to multiple numbers. Interesting enough the plugin actually expects an array of numbers which it internally remakes into a comma or semicolon separated string before sending of to Android. But at least in my environment only the first number in the array receives the message.

See [sms.js](https://github.com/cordova-sms/cordova-sms-plugin/blob/ma

[2018-01-18 15:21] pedroampuc commented on #159
I have the same issue:
<plugin name="cordova-sms-plugin" spec="^0.1.11" />
ionic wrapper: "@ionic-native/sms": "^4.5.2",

cli packages:

    @ionic/cli-utils  : 1.19.1
    ionic (Ionic CLI) : 3.19.1

global packages:

    cordova (Cordova CLI) : 7.0.1

local packages:

    @ionic/app-scripts : 2.1.4
    Cordova Platforms  : android 6.2.3 ios 4.5.4
    Ionic Framework    : ionic-angular 3.7.1

Syst

[2018-01-18 16:49] dbaq commented on #159
@pedroampuc thanks for the report, any stacktrace in xcode for you? would love some help to debug this issue. I don't have much free time currently.

[2018-01-24 15:27] amirul1000 commented on #14
I need to verify the phone no.after success I need to track the sender phone no
How may I get this no

[2018-01-24 16:02] agarrharr commented on #14
@amirul1000 Please open a new issue. 😄 This issue is about mms support.

[2018-01-24 17:40] amirul1000 opened #161 "Need to know sender phone no after success"
I need to verify the phone no.after success I need to track the sender phone no
How may I get this no

 if(SMS) SMS.sendSMS("Receiver phone no", msg , function(){
            //success
           ///What is sender phone no?

},function()
{
   //error
});

[2018-01-24 19:35] rolinger opened #162 "Support for MMS attaching image?"
Hi..i read various comments, quite old, about adding support for images and multiple people.

I am using Android native sms app...once in there the user can add as many users as they like.  But can I auto-add an image attachment to the message?  In addition, can that file be specific image already bundled in the app (say from the root/img folder....or would I need to store the file else where with

[2018-01-25 00:47] dbaq commented on #162
hello @rolinger, thanks for your post. In order to have attachments like images, we need to add MMS support. It is being discussed here #14. We are looking for contributors to add MMS support, feel free to comment on the issue if you would like to contribute.

Closing this once since it is a duplicate of #14.

[2018-01-25 00:47] #162 closed, assigned to nobody

[2018-01-25 00:50] dbaq commented on #161
hello @amirul1000, this plugin only sends SMS to a recipient. We do not need to retrieve the sender's phone number. You might want to look at this plugin: https://github.com/pbakondy/cordova-plugin-sim

Cheers

[2018-01-25 00:50] #161 closed, assigned to nobody

[2018-01-25 00:51] dbaq commented on #155
hello @mamendoza1,

have you figured this out? Sending a SMS without intent on android works well. Which version of android are you trying on? which version of ionic? can you please share some a repo?

[2018-01-25 00:52] dbaq commented on #157
hey @mulic3, have you found a solution? tried on other devices?